RewriteEngine on

#Old redirects from hentai.fansubs.cat to anime/manga.hentai.cat
RewriteRule ^anime/?$ https://anime.hentai.cat/ [R=301,L]
RewriteRule ^anime/([^.]+)/?$ https://anime.hentai.cat/$1 [R=301,L]
RewriteRule ^anime/?$ https://anime.hentai.cat/ [R=301,L]
RewriteRule ^manga/([^.]+)/?$ https://manga.hentai.cat/$1 [R=301,L]
RewriteRule ^manga/?$ https://manga.hentai.cat/ [R=301,L]
RewriteRule ^/?$ https://www.hentai.cat/ [R=301,L]
