html {
	font-family: "Lucida Grande", "Segoe UI", sans-serif;
	color: #111;
	background-color: #D0D0D0;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	line-height: 1.5em;
}

a {
	color: #444;
}

/* Hover effect for links and other things that appear to be links */
a:hover,
#filter-toggle:hover,
#filter-footer span:hover {
	color: #000;
}

a img {
	border: none;
}

h1,
h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	margin: 0;
}

/* Header filter */

#filter {
	margin-bottom: 1.3em;
	padding: 10px 15px;
	background: #FFF;
	border: 1px solid #DDD;
}

#filter-toggle {
	color: #669;
	font-weight: bold;
	float: right;
	cursor: pointer;
}

#filter-details {
	overflow: hidden;
	padding-top: 10px;
}

#filter-explanation {
	padding-bottom: 10px;
}

.filter-fansub {
	float: left;
	cursor: pointer;
	padding: 2px 6px;
	border-radius: 5px;
	margin: 2px;
	background-color: #CCAAAA;
	height: 22px;
}

.filter-fansub img {
	padding-right: 6px;
	vertical-align: middle;
}

.filter-fansub span {
	vertical-align: middle;
}

.filter-selected {
	background-color: #AACCAA;
}

#filter-title {
	font-weight: bold;
}

#filter-footer {
	font-size: 0.9em;
	clear: both;
	color: #669;
	font-weight: bold;
	padding: 2px;
}

#filter-footer span {
	cursor: pointer;
}

#page {
	max-width: 1000px;
	margin: 5px auto;
	padding: 0px 20px;
	background-color: #EEE;
}

/* Header */

#top {
	color: #FFF;
	padding: 10px 0px;
	height: 200px;
	position: relative;
}

.forcemenu{
	display: block !important;
}

#mobilemenu{
	display: none;
	cursor: pointer;
}

#mobilemenu img{
	background-color: rgba(255,255,255,0.6);
	border-radius: 4px;
	margin: 10px 8px;
}

div#top a,
div#top a:visited, 
div#top a:hover {
	color: #000;
	text-decoration: none;
}

#header {
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
}

div#toppadding {
	padding-left: 20px;
	margin-top: 10px;
}

div#top h2 {
	position: absolute;
	color: #000;
	font-size: 1.3em;
	bottom: 20px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	background-color: rgba(255,255,255,0.6);
}

.page-title-block {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 1.2em;
	text-align: center;
	display: inline-block;
	padding-left: 10px;
	padding-top: 16px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: rgba(255,255,255,0.6);
}

.page-title-top {
	color: #000 !important;
	font-size: 2em;
	font-weight: bold;
}

.page-title {
	margin-bottom: 1.5em;
	text-align: center;
}

div#top .page-title-block a {
	color: #444;
}

div#top .page-title-block a:hover {
	color: #000;
}

.page-links {
	margin-top: 0.2em;
}

.page-links a {
	font-size: 0.9em;
}

.page-links a.current_portal {
	color: #000 !important;
	font-weight: bold;
}

#welcome, #app {
	margin-bottom: 1.3em;
	padding: 5px;
	background: #FFF;
	border: 1px solid #DDD;
	position: relative;
}

#welcometext, #apptext {
	display: table;
	height: 80px;
	margin-left: 105px;
}

#realwelcometext, #realapptext {
	display: table-cell;
	vertical-align: middle;
}

#girl, #appicon {
	position: absolute;
	bottom: 0px;
	left: 5px;
}

#close, #appclose {
	float: right;
	margin: 5px;
	cursor: pointer;
}

/* Content: articles and so */

#content {
	width: 77.5%;
	float: left;
}

.article {
	margin-bottom: 2em;
	padding: 30px;
	background: #FFF;
	border: 1px solid #DDD;
}

.article-logo {
	float: right;
}

.article-logo img {
	max-height: 40px;
	max-width: 140px;
	height: auto;
	width: auto;
}

.article-image {
	max-height: 200px;
	max-width: 200px;
	height: auto;
	width: auto;
	float: right;
	margin-left: 10px;	
	cursor: zoom-in;
}

.article-content:after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.article-readmore {
	margin-top: 10px;
}

.article-title,
.article-title a {
	color: #111;
	text-decoration: none;
}

.article-info {
	margin: 0 0 1em 0;
	color: #999;
}

.article-content {
	font-family: sans-serif;
	font-size: 1.1em;
}

/* Sidebar */

#sidebar {
	width: 22.5%;
	float: left;
}

#sidebar div {
	padding: 1em 0 1em 20px;
}

#sidebar div.promo {
	padding: 0 0 0 20px;
}

#sidebar div.promo img {
	width: 205px;
	height: 128px;
}

#sidebar h2 {
	color: #665;
}

#sidebar ul {
	list-style: none;
	padding: 0;
	margin: 1em 0;
}

#sidebar ul li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#sidebar ul li img,
#sidebar ul li a,
#sidebar ul li span {
	vertical-align: middle;
	line-height: 1.5em;
}

a.archive-org-link {
	border-bottom: 1px dotted #000;
	text-decoration: none;
}

#search_query{
	vertical-align: middle;
	width: 140px;
	padding: 2px;
	margin-right: 2px;
}

#search_button{
	vertical-align: middle;
}

/* For status page */

table.status {
	font-size: 0.9em;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

table.status th {
	background-color: #dddddd;
	font-size: 1em;
}
table.status tr:nth-child(odd) td {
	background-color: #eeeeee;
}

table.status tbody tr > :first-child{
	text-align: left;
}

/* For stats page */

table.top_three {
	font-size: 0.9em;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

table.top_three th {
	background-color: #dddddd;
	font-size: 1em;
}
table.top_three tr:nth-child(odd) td {
	background-color: #eeeeee;
}

table.top_three tbody tr{
	text-align: center;
}

/* For contact page */

tr.new_fansub {
	display: none;
}

.wide, 
table.contact-us {
	width: 100%;
}

table.contact-us tbody tr > :first-child {
	width: 250px;
}

.tall {
	height: 250px;
}

.notsotall {
	height: 150px;
}

/* Footer */

#bottom-navigation {
	font-weight: bold;
	font-size: 1.1em;
	height: 40px;
}

#nav-newer {
	float: left;
}

#nav-older {
	float: right;
}

#footer {
	clear: both;
	padding: 0 30px;
}

#footer p {
	text-align: center;
	font-size: 0.85em;
}


/* MOBILE */
@media screen and (max-width: 1000px){
	#content{
		width: 100%;
	}

	#mobilemenu{
		display: block !important;
		position: absolute;
		z-index: 1000;
		right: 0px;
	}

	#sidebar{
		display: none;
		width: 244px;
		position: absolute;
		top: 0;
		right: 0;
		background-color: #EEE;
		border-left: 1px solid #888;
		border-bottom: 1px solid #888;
		padding-top: 72px;
	}

	#top{
		height: 100px;
	}

	div#toppadding {
		margin-top: 0;
	}

	div#top h2 {
		bottom: 10px;
	}

	.page-title-block {
		font-size: 1em;
		padding-top: 12px;
		padding-bottom: 6px;
	}

	table.contact-us tbody tr > :first-child {
		width: 120px;
	}
}

@media screen and (max-width: 650px){
	#page {
		padding: 0px 8px;
	}
	#header {
		margin-left: -8px;
		margin-right: -8px;
	}

	.article-logo img {
		max-height: 20px;
		max-width: 200px;
	}

	.article {
		padding: 10px;
		margin-bottom: 1em;
	}

	#welcome {
		margin-bottom: 1em;
	}

	#filter {
		margin-bottom: 1em;
	}

	.article-logo {
		float: left;
	}

	.article-title {
		clear: both;
	}

	.article-image {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
		max-width: 75%;
		margin-bottom: 10px;
	}
	div#toppadding {
		padding-left: 8px;
	}
}

