RewriteEngine on
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403

RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
RewriteCond %{REQUEST_URI} !error\.php
RewriteRule \.php$ - [F]

RewriteRule ^/?$ index.php [L]
RewriteRule ^([^.]+)/?$ group.php?slug=$1 [QSA,L]
