internal/*
temporary/*
!temporary/.gitkeep
!temporary/last_posted_anime_id.txt
!temporary/last_posted_manga_id.txt
!temporary/last_posted_liveaction_id.txt
assets/*.png
common/config/config.inc.php
services/composer.phar
websites/community/config.php
websites/static/images/advent/*
!websites/static/images/advent/.gitkeep
websites/static/images/avatars/*
!websites/static/images/avatars/.gitkeep
websites/static/images/communities/*
!websites/static/images/communities/.gitkeep
websites/static/images/covers/*
!websites/static/images/covers/.gitkeep
websites/static/images/divisions/*
!websites/static/images/divisions/.gitkeep
websites/static/images/featured/*
!websites/static/images/featured/.gitkeep
websites/static/images/files/*
!websites/static/images/files/.gitkeep
websites/static/images/icons/*
!websites/static/images/icons/.gitkeep
websites/static/images/logos/*
!websites/static/images/logos/.gitkeep
websites/static/images/news/*
!websites/static/images/news/.gitkeep
websites/static/social/version_*

