.lastpostavatar img {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin-right: 0.5rem;
	float: left;
}

.firstpostavatar img {
	width: 36px;
	height: 36px;
	display: inline-block;
	margin-right: 0.8rem;
	margin-top: 0.2rem;
	float: left;
}

.topicavatar {
	float: left;
}

.rtl .lastpostavatar img {
	margin-right: 0px;
	margin-left: 4px;
	float: right;
}

.lastpostavatar img:hover {
	border-color: #73BCD1;
}
