@font-face {
	font-family: "lexend_deca";
	src: url('https://static.fansubs.cat/common/fonts/lexend_deca_regular.ttf');
}

@font-face {
	font-family: "lexend_deca_bold";
	src: url('https://static.fansubs.cat/common/fonts/lexend_deca_bold.ttf');
}

@font-face {
	font-family: "lexend_deca_light";
	src: url('https://static.fansubs.cat/common/fonts/lexend_deca_light.ttf');
}

.theme-dark {
	/* Generic white color */
	--positive-color: 255, 255, 255;
	/* Generic white color, will always be the same between themes */
	--always-positive-color: 255, 255, 255;
	/* Generic black color */
	--negative-color: 0, 0, 0;
	/* Generic black color, will always be the same between themes */
	--always-negative-color: 0, 0, 0;
	/* Generic neutral color (used only in footer for now) */
	--neutral-color: 136, 136, 136;
	/* Used in footer links, they are a bit darker */
	--neutral-color-links: 102, 102, 102;
	/* Primary accent color, blue */
	--primary-color: 106, 160, 248;
	/* Used in buttons on hover, a whiter version of blue */
	--primary-color-hover: 138, 192, 255;
	/* Secondary accent color, yellow */
	--secondary-color: 249, 192, 43;
	/* Generic error color (used in error fields), red */
	--error-color: 255, 68, 68;
	/* Generic background for all pages WITHOUT background images */
	--background-color-standard: 18, 18, 18;
	/* Generic background for all pages with background images */
	--background-color-image: 0, 0, 0;
	/* Background color for dropdown menus (like the user menu) */
	--background-color-dropdown: 32, 32, 32;
	/* Used on hover */
	--background-color-dropdown-hover: 64, 64, 64;
}

.theme-light {
	--positive-color: 0, 0, 0;
	--always-positive-color: 255, 255, 255;
	--negative-color: 255, 255, 255;
	--always-negative-color: 0, 0, 0;
	--neutral-color: 136, 136, 136;
	--neutral-color-links: 102, 102, 102;
	--primary-color: 106, 160, 248;
	--primary-color-hover: 138, 192, 255;
	--secondary-color: 214, 177, 53;
	--secondary-color-filter: 249, 192, 43;
	--error-color: 255, 68, 68;
	--background-color-standard: 237, 237, 237;
	--background-color-image: 255, 255, 255;
	--background-color-dropdown: 223, 223, 223;
	--background-color-dropdown-hover: 191, 191, 191;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::-webkit-scrollbar {
	background: transparent;
	width: 7px;
}
::-webkit-scrollbar-thumb {
	background: rgb(var(--neutral-color));
	border-radius: 2em;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "lexend_deca", sans-serif;
	font-size: 62.5%;
	color: rgb(var(--positive-color));
	background-color: rgb(var(--negative-color));
}

body {
	margin: 0 auto;
	padding: 0;
	font-size: 1.2rem;
	line-height: 1.5;
	text-align: left;
	background: linear-gradient(to bottom, rgba(var(--background-color-image),1) 0%, rgba(var(--background-color-image),0.6) 25% 75%, rgba(var(--background-color-image),1) 100%), url('https://static.fansubs.cat/common/images/bg.jpg');
	background-size: cover;
	background-position: center;
}

body.style-type-catalogue, body.style-type-news {
	background: rgb(var(--background-color-standard));
}

body.style-type-catalogue .section-title-main .header-with-background, body.style-type-news .section-title-main .header-with-background {
	background-color: rgb(var(--background-color-standard));
}

a {
	color: rgb(var(--positive-color));
	cursor: pointer;
	text-decoration: none;
}

a img {
	border: none;
}

.hidden {
	display: none !important;
	opacity: 0;
}

.centered {
	text-align: center !important;
}

.header {
	flex-grow: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 3.5em;
}

.main-body, .overlay-page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em 3em 2.5em;
	font-family: "lexend_deca", sans-serif;
}

.style-type-catalogue.has-carousel .main-body {
	display: block;
}

.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	flex-grow: 0;
	margin-top: 1.5em;
	text-align: center;
}

.overlay-page {
	justify-content: center;
}

.obscured-background {
	backdrop-filter: sepia(1) hue-rotate(180deg) saturate(2.5) brightness(0.7);
}

.social-link {
	font-size: 3em;
	text-align: left;
	transition: color 0.25s;	
	margin-right: 0.25em;
}

.twitter-link:hover {
	color: #7ab0ff;
}

.mastodon-link:hover {
	color: #6364ff;
}

.telegram-link:hover {
	color: #229ED9;
}

.separator {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}

.user-options {
	flex-grow: 0;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	height: 3.5em;
	justify-content: center;
}

.user-login {
	text-align: center;
	font-weight: normal;
	display: inline-block;
	background: rgb(var(--primary-color));
	color: rgb(var(--positive-color));
	padding: 0.5em 1.5em;
	margin: 0em 0.25em;
	min-width: 4em;
	font-size: 1.25em;
	border-radius: 0.25em;
	transition: background 0.25s;
}

.user-avatar {
	display: block;
	border-radius: 50%;
	width: 4.2em;
	height: 4.2em;
	margin: 0em 0.25em;
	border: 0.2em solid rgb(var(--primary-color));
	cursor: pointer;
}

.dropdown-menu {
	float: right;
	position: relative;
	display: block;
}

.user-avatar:hover, .user-avatar:focus {
	filter: brightness(1.2);
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(var(--background-color-dropdown));
	min-width: 15em;
	overflow: auto;
	box-shadow: 0 2em 4em 0 rgba(var(--negative-color),0.2);
	right: 0;
	z-index: 1;
	border-radius: 0.5em;
	margin-top: 0.5em;
}

.dropdown-title {
	font-family: "lexend_deca_bold", sans-serif;
	color: rgb(var(--positive-color));
	padding: 0.5em 1.5em;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 1.4em;
	white-space: nowrap;
}

.dropdown-separator {
	border: 0.03em solid rgb(var(--primary-color));
	margin: 0 0;
}

.dropdown-separator-secondary {
	border: 0.03em solid rgb(var(--primary-color));
	margin: 0 0;
}

.dropdown-content a {
	color: rgb(var(--positive-color));
	padding: 1em 1.5em;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 1.2em;
	font-weight: normal;
	white-space: nowrap;
}

.dropdown-menu a:hover {
	background-color: rgb(var(--background-color-dropdown-hover));
}

.dropdown-show {
	display: block;
}

.user-login:hover, .user-logout:hover {
	background-color: rgb(var(--primary-color-hover));
}

.main-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 1em;
}

.style-type-catalogue .main-section {
	margin-left: -3em;
	margin-right: -3em;
}

.style-type-catalogue.has-carousel .main-section {
	display: block;
}

.main-logo {
	width: 30em;
	height: 8.4em;
	margin-bottom: 3.5em;
	max-width: 100%;
	object-fit: contain;
}

.main-section .main-logo {
	user-select: none;
}

.main-button {
	font-family: "lexend_deca_bold", sans-serif;
	display: inline-block;
	background-color: rgb(var(--positive-color));
	color: rgb(var(--negative-color));
	padding: 0.25em 0.75em;
	margin: 0.5em 0.25em 0em;
	min-width: 7.5em;
	font-size: 2.5em;
	border-radius: 0.15em;
	border: 0.1em solid rgb(var(--positive-color));
	transition: border 0.25s, letter-spacing 0.25s;
	text-align: center;
}

.main-button:hover {
	border: 0.1em solid rgb(var(--primary-color));
	letter-spacing: 0.05em;
}

.secondary-button {
	display: inline-block;
	background: rgba(var(--negative-color),0.5);
	color: rgb(var(--positive-color));
	padding: 0.25em 0.75em;
	margin: 0.75em 0.25em 0em;
	min-width: 7.5em;
	font-size: 2em;
	border-radius: 0.2em;
	border: 0.1em solid rgb(var(--positive-color));
	transition: border 0.25s, letter-spacing 0.25s;
	text-align: center;
}

.secondary-button:hover {
	border: 0.1em solid rgb(var(--primary-color));
	letter-spacing: 0.05em;
}

.tertiary-button {
	display: inline-block;
	background: rgb(var(--negative-color));
	color: rgb(var(--positive-color));
	padding: 0.5em 1.5em;
	margin: 0em 0.25em;
	min-width: 7.5em;
	font-size: 1.1em;
	border-radius: 0.5em;
	border: 0.15em solid rgb(var(--negative-color));
	transition: border 0.25s;
	margin-bottom: 1em;
	text-align: center;
}

.tertiary-button:hover {
	border: 0.15em solid rgb(var(--primary-color));
}

.footer-text {
	color: rgb(var(--neutral-color));
}

.footer-text a {
	color: rgb(var(--neutral-color-links));
}

.footer-text a:hover {
	color: rgb(var(--neutral-color));
	text-decoration: underline;
}

svg.main-logo g {
	fill: rgb(var(--positive-color)) !important;
}

svg.main-logo path#line_1, svg.main-logo path#line_2 {
	transition: d 0.25s;
}

svg.main-logo path#line_1, svg.main-logo path#line_2, svg.main-logo path#line_3 {
	fill: rgb(var(--primary-color));
	stroke: rgb(var(--primary-color));
}

svg.main-logo:hover path#line_1 {
	d: path("M26 145.763v-1h477v1z");
}

svg.main-logo:hover path#line_2 {
	d: path("M133 178.763v-1h348v1z");
}

label, input, select, textarea {
	font-family: inherit;
	display: block;
	text-align: left;
	width: 100%;
	font-size: 1.2em;
	font-weight: normal;
}

label {
	margin-top: 0.75em;
}

textarea {
	padding: 0.4em;
	height: 8em;
}

input, select, textarea {
	margin-top: 0.1em;
	padding: 0.5em 0.5em;
	border-radius: 0.5em;
	border: none;
}

.normal-button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	text-align: center;
	margin-top: 1em;
	font-weight: normal;
	display: inline-block;
	background: rgb(var(--primary-color));
	color: rgb(var(--positive-color));
	padding: 0.5em 1.5em;
	font-size: 1.25em;
	border-radius: 0.5em;
	transition: background 0.25s;
}

.normal-button:hover {
	background: rgb(var(--primary-color-hover));
}

.error-page a {
	color: rgb(var(--secondary-color));
}

.error-page a:hover {
	text-decoration: underline;
}

.logo-small {
	width: 15em;
	height: 4.2em;
	margin-top: -4.2em;
}

.text-page {
	max-width: 1500px;
	padding: 2em;
	border-radius: 1em;
	font-size: 1.2em;
	font-weight: normal;
	text-align: left;
	margin-top: 1em;
	background: rgba(var(--negative-color),0.7);
}

.new-paragraph {
	margin-top: 0.5em;
}

.section-content {
	font-weight: normal;
}

.section-title {
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}

h2{
	font-size: 1.4em;
	font-family: "lexend_deca_bold", sans-serif;
}

h3{
	font-size: 1.25em;
	font-family: "lexend_deca_bold", sans-serif;
}

h4{
	font-size: 1.15em;
	font-family: "lexend_deca_bold", sans-serif;
}

h2.section-title:first-of-type {
	margin-top: 0em;
}

.contact-form {
	font-size: 0.8em;
}

.validation-message {
	color: rgb(var(--error-color));
	text-align: left;
	padding: 0.2em;
	font-size: 1.1em;
}

.validation-message-generic {
	color: rgb(var(--error-color));
	text-align: center;
	padding: 0.2em;
	margin-top: 1em;
	font-size: 1.2em;
}

.validation-message:empty, .validation-message-generic:empty {
	display: none;
}

.invalid {
	border: 0.1em solid rgb(var(--error-color));
}

/*@media screen and (max-width: 900px){
	html {
		height: auto;
	}
	.main-body, .overlay-page {
		padding: 1em 1em 0.33em;
		min-height: 60em;
	}

	.main-logo {
		width: 20em;
		height: 5.6em;
		margin-bottom: 1.5em;
	}

	.logo-small {
		width: 10em;
		height: 2.8em;
		margin-top: -2.8em;
	}

	.text-page {
		padding: 1em;
	}
}*/
