RewriteEngine on
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403
RewriteRule ^.*\.inc\.php$ error.php?code=404

#Old URLs for series
RewriteRule ^series/yami-shibai-1a-temporada/?$ /series/yami-shibai [R=301]
RewriteRule ^series/la-meva-academia-d-herois-1a-temporada/?$ /series/la-meva-academia-d-herois [R=301]
RewriteRule ^series/shakugan-no-shana-1a-temporada/?$ /series/shakugan-no-shana [R=301]
RewriteRule ^series/natsume-yuujinchou-6a-temporada/?$ /series/natsume-yuujinchou [R=301]
RewriteRule ^series/quedes-detingut-2a-temporada/?$ /series/quedes-detingut [R=301]
RewriteRule ^series/gintama-1a-temporada/?$ /series/gintama [R=301]
RewriteRule ^series/dagashi-kashi-2a-temporada/?$ /series/dagashi-kashi [R=301]
RewriteRule ^series/gurazeni-2a-temporada/?$ /series/gurazeni [R=301]
RewriteRule ^series/uchouten-kazoku-2a-temporada/?$ /series/uchouten-kazoku [R=301]
RewriteRule ^series/tales-of-zestiria-the-cross-2a-temporada/?$ /series/tales-of-zestiria-the-cross [R=301]
RewriteRule ^series/code-geass-hangyaku-no-lelouch-1a-temporada/?$ /series/code-geass-hangyaku-no-lelouch [R=301]
RewriteRule ^series/shingeki-no-bahamut-2a-temporada/?$ /series/shingeki-no-bahamut [R=301]
RewriteRule ^series/yami-shibai-1a-temporada/?$ /series/yami-shibai [R=301]
RewriteRule ^series/hyakka-ryouran-2a-temporada/?$ /series/hyakka-ryouran [R=301]
RewriteRule ^series/kono-oto-tomare-1a-temporada/?$ /series/kono-oto-tomare [R=301]
RewriteRule ^series/dies-irae-1a-temporada/?$ /series/dies-irae [R=301]
RewriteRule ^series/gakkatsu-1a-temporada/?$ /series/gakkatsu [R=301]
RewriteRule ^series/log-horizon-3a-temporada/?$ /series/log-horizon [R=301]

#Normal redirects
RewriteRule ^films/?$ index.php?page=movies
RewriteRule ^films/(.*)/$ series.php?page=movies&slug=$1 [QSA]
RewriteRule ^films/(.*)$ series.php?page=movies&slug=$1 [QSA]
RewriteRule ^series/?$ index.php?page=series [QSA]
RewriteRule ^series/(.*)/$ series.php?page=series&slug=$1 [QSA]
RewriteRule ^series/(.*)$ series.php?page=series&slug=$1 [QSA]
RewriteRule ^cerca/(.*)/$ index.php?page=search&query=$1
RewriteRule ^cerca/(.*)$ index.php?page=search&query=$1
RewriteRule ^qui-som/?$ about.php
RewriteRule ^embed/(.*)/$ embed.php?link_id=$1
RewriteRule ^embed/(.*)$ embed.php?link_id=$1
RewriteRule ^admin/(.*)/$ https://admin.fansubs.cat/$1/
RewriteRule ^admin/?$ https://admin.fansubs.cat/
