
.login-page {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.login-header {
	font-size: 4em;
	text-align: left;
	margin-bottom: 0.5em;
	line-height: 1.2;
}

.login-explanation {
	display: flex;
	flex-direction: column;
}

.login-points {
	font-size: 2em;
	font-weight: normal;
	line-height: 1;
}

.login-point {
	clear: both;
	display: flex;
	flex-direction: row;
	margin: 1em 0;
}

.login-point:nth-child(1), .login-point:nth-child(3) {
	float: left;
}

.login-point:nth-child(2), .login-point:nth-child(4) {
	float: right;
}

.login-point:nth-child(1) .login-point-text, .login-point:nth-child(3) .login-point-text {
	text-align: left;
	margin-left: 0.25em;
}

.login-point:nth-child(2) .login-point-text, .login-point:nth-child(4) .login-point-text {
	text-align: right;
	margin-right: 0.25em;
}

.login-point-icon {
	font-size: 2em;
}

.login-form, .forgot-password-form, .forgot-password-result-form, .register-form, .reset-password-form {
	margin-left: 5em;
	width: 35em;
	align-self: center;
}

.login-form-main {
	background: rgba(0,0,0,0.7);
	border-radius: 0.5em;
	padding: 2.5em;
}

.login-footer {
	background: rgba(0,0,0,0.7);
	border-radius: 0.5em;
	padding: 2em 2.5em;
	margin-top: 2em;
	font-size: 1.2em;
}

.login-close {
	font-size: 2em;
	float: right;
	cursor: pointer;
	margin: -0.5em;
}

.login-close:hover {
	color: #d6b135;
}

.login-subheader {
	font-size: 2.25em;
	margin-bottom: 0.5em;
	margin-top: -0.25em;
}

.login-text {
	font-size: 1.2em;
}

.forgot-password-result-text {
	font-size: 1.2em;
	font-weight: normal;
}

.login-button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	text-align: center;
	margin-top: 1em;
	font-weight: normal;
	display: block;
	width: 100%;
	background: #6aa0f8;
	color: white;
	padding: 0.5em 0em;
	font-size: 1.25em;
	border-radius: 0.5em;
	transition: background 0.25s;
}

.login-button:hover {
	background: #8ac0ff;
}

a.forgot-password {
	display: block;
	margin-top: 1.5em;
	font-size: 1.2em;
}

a.forgot-password:hover {
	text-decoration: underline;
}

.login-footer a, .checkbox-layout a {
	color: #d6b135;
}

.login-footer a:hover, .checkbox-layout a:hover {
	text-decoration: underline;
}

.checkbox-layout {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 1em;
	align-items: center;
}

.checkbox-layout input, .checkbox-layout label {
	width: auto;
	margin: 0;
}

.checkbox-layout label {
	padding-left: 0.25em;
}

.date-chooser {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.date-day {
	width: 25%;
}

.date-month {
	margin-left: 1em;
	margin-right: 1em;
}

.date-year {
	width: 30%;
}

@media screen and (max-width: 900px){
	.login-page {
		flex-direction: column-reverse;
	}

	.login-explanation {
		margin-top: 1em;
	}

	.login-form, .forgot-password-form, .register-form {
		margin-left: 0;
		width: 100%;
	}

	.login-form-main {
		padding: 1em;
	}

	.login-footer {
		padding: 1em;
		margin-top: 1.5em;
	}

	.login-close {
		margin: 0;
	}

	.login-header {
		font-size: 2.25em;
		text-align: center;
	}

	.login-points {
		font-size: 1.2em;
	}
}
