@font-face {
    font-family: "lexend_deca";
    src: url('https://static.fansubs.cat/common/fonts/lexend_deca.ttf');
}

@font-face {
    font-family: "signika";
    src: url('https://static.fansubs.cat/common/fonts/signika.ttf');
}

html {
	font-family: "lexend_deca", sans-serif;
	color: #FFF;
	background-color: #000000;
	font-size: 62.5%;
	box-sizing: border-box;
	height: 100%;
	min-height: 580px;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.5;
	text-align: center;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 25% 75%, rgba(0,0,0,1) 100%), url('https://static.fansubs.cat/common/images/bg.jpg');
	background-color: #000000;
	background-size: cover;
	background-position: center;
	height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
	color: #FFF;
	cursor: pointer;
	text-decoration: none;
}

a img {
	border: none;
}

.hidden {
	display: none !important;
	opacity: 0;
}

.centered {
	text-align: center !important;
}

.header {
	flex-grow: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.main-body, .overlay-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em 6em 1em;
	font-weight: bold;
}

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.overlay-page {
	justify-content: center;
}

.obscured-background {
	backdrop-filter: sepia(1) hue-rotate(180deg) saturate(2.5) brightness(0.7);
}

.social-link {
	font-size: 3em;
	text-align: left;
	transition: color 0.25s;	
	margin-right: 0.25em;
}

.twitter-link:hover {
	color: #7ab0ff;
}

.mastodon-link:hover {
	color: #6364ff;
}

.telegram-link:hover {
	color: #229ED9;
}

.user-options {
	flex-grow: 1;
	text-align: right;
}

.user-login {
	text-align: center;
	font-weight: normal;
	display: inline-block;
	background: #6aa0f8;
	color: white;
	padding: 0.5em 1.5em;
	margin: 0em 0.25em;
	min-width: 4em;
	font-size: 1.25em;
	border-radius: 0.25em;
	transition: background 0.25s;
}

.user-name {
	text-align: center;
	font-weight: normal;
	display: inline-block;
	color: white;
	padding: 0.5em 0em;
	margin: 0em 0.25em;
	font-size: 1.25em;
}

.user-logout {
	text-align: center;
	font-weight: normal;
	display: inline-block;
	background: #6aa0f8;
	color: white;
	padding: 0.5em 1em;
	margin: 0em 0.25em;
	min-width: 2em;
	font-size: 1.25em;
	border-radius: 0.25em;
	transition: background 0.25s;
}

.user-login:hover, .user-logout:hover {
	background: #8ac0ff;
}

.footer {
	flex-grow: 0;
	margin-top: 1.5em;
}

.main-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-logo {
	width: 30em;
	height: 8.4em;
	margin-bottom: 3.5em;
	max-width: 100%;
	object-fit: contain;
}

.main-button {
	display: inline-block;
	background: white;
	color: black;
	padding: 0.25em 0.75em;
	margin: 0.5em 0.25em 0em;
	min-width: 7.5em;
	font-size: 2.5em;
	border-radius: 0.15em;
	border: 0.1em solid white;
	transition: border 0.25s, letter-spacing 0.25s;
}

.main-button:hover {
	border: 0.1em solid #6aa0f8;
	letter-spacing: 0.05em;
}

.secondary-button {
	font-weight: bold;
	display: inline-block;
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 0.25em 0.75em;
	margin: 0.75em 0.25em 0em;
	min-width: 7.5em;
	font-size: 2em;
	border-radius: 0.2em;
	border: 0.1em solid white;
	transition: border 0.25s, letter-spacing 0.25s;
}

.secondary-button:hover {
	border: 0.1em solid #6aa0f8;
	letter-spacing: 0.05em;
}

.tertiary-button {
	display: inline-block;
	background: black;
	color: white;
	padding: 0.5em 1.5em;
	margin: 0em 0.25em;
	min-width: 7.5em;
	font-size: 1.2em;
	border-radius: 0.5em;
	border: 0.2em solid black;
	transition: border 0.25s;
	margin-bottom: 1em;
}

.tertiary-button:hover {
	border: 0.2em solid #888888;
}

.footer-text {
	color: #888888;
}

.footer-text a {
	color: #666666;
}

.footer-text a:hover {
	color: #888888;
	text-decoration: underline;
}

svg.main-logo path#line_1, svg.main-logo path#line_2 {
  transition: d 0.25s;
}

svg.main-logo:hover path#line_1 {
  d: path("M26 145.763v-1h477v1z");
}

svg.main-logo:hover path#line_2 {
  d: path("M133 178.763v-1h348v1z");
}

.login-page {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.login-header {
	font-size: 4em;
	text-align: left;
	margin-bottom: 0.5em;
	line-height: 1.2;
}

.login-explanation {
	display: flex;
	flex-direction: column;
}

.login-points {
	font-size: 2em;
	font-weight: normal;
	line-height: 1;
}

.login-point {
	clear: both;
	display: flex;
	flex-direction: row;
	margin: 1em 0;
}

.login-point:nth-child(1), .login-point:nth-child(3) {
	float: left;
}

.login-point:nth-child(2), .login-point:nth-child(4) {
	float: right;
}

.login-point:nth-child(1) .login-point-text, .login-point:nth-child(3) .login-point-text {
	text-align: left;
	margin-left: 0.25em;
}

.login-point:nth-child(2) .login-point-text, .login-point:nth-child(4) .login-point-text {
	text-align: right;
	margin-right: 0.25em;
}

.login-point-icon {
	font-size: 2em;
}

.login-form, .forgot-password-form, .forgot-password-result-form, .register-form, .reset-password-form {
	margin-left: 5em;
	width: 35em;
	align-self: center;
}

.login-form-main {
	background: rgba(0,0,0,0.7);
	border-radius: 0.5em;
	padding: 2.5em;
}

.login-footer {
	background: rgba(0,0,0,0.7);
	border-radius: 0.5em;
	padding: 2em 2.5em;
	margin-top: 2em;
	font-size: 1.2em;
}

.login-close {
	font-size: 2em;
	float: right;
	cursor: pointer;
	margin: -0.5em;
}

.login-close:hover {
	color: #d6b135;
}

.login-subheader {
	font-size: 2.25em;
	margin-bottom: 0.5em;
	margin-top: -0.25em;
}

.login-text {
	font-size: 1.2em;
}

.forgot-password-result-text {
	font-size: 1.2em;
	font-weight: normal;
}

label, input, select, textarea {
	font-family: inherit;
	display: block;
	text-align: left;
	width: 100%;
	font-size: 1.2em;
	font-weight: normal;
}

label {
	margin-top: 0.75em;
}

textarea {
	padding: 0.4em;
	height: 8em;
}

input, select {
	margin-top: 0.1em;
	padding: 0.5em 0.5em;
	border-radius: 0.5em;
	border: none;
}

.login-button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	text-align: center;
	margin-top: 1em;
	font-weight: normal;
	display: block;
	width: 100%;
	background: #6aa0f8;
	color: white;
	padding: 0.5em 0em;
	font-size: 1.25em;
	border-radius: 0.5em;
	transition: background 0.25s;
}

.normal-button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	text-align: center;
	margin-top: 1em;
	font-weight: normal;
	display: inline-block;
	background: #6aa0f8;
	color: white;
	padding: 0.5em 1.5em;
	font-size: 1.25em;
	border-radius: 0.5em;
	transition: background 0.25s;
}

.login-button:hover, .normal-button:hover {
	background: #8ac0ff;
}

a.forgot-password {
	display: block;
	margin-top: 1.5em;
	font-size: 1.2em;
}

a.forgot-password:hover {
	text-decoration: underline;
}

.login-footer a, .checkbox-layout a, .error-page a {
	color: #d6b135;
}

.login-footer a:hover, .checkbox-layout a:hover, .error-page a:hover {
	text-decoration: underline;
}

.checkbox-layout {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 1em;
	align-items: center;
}

.checkbox-layout input, .checkbox-layout label {
	width: auto;
	margin: 0;
}

.checkbox-layout label {
	padding-left: 0.25em;
}

.date-chooser {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.date-day {
	width: 25%;
}

.date-month {
	margin-left: 1em;
	margin-right: 1em;
}

.date-year {
	width: 30%;
}

.logo-small {
	width: 15em;
	height: 4.2em;
	margin-top: -4.2em;
}

.text-page {
	max-width: 1400px;
	padding: 2.5em;
	border-radius: 1em;
	font-size: 1.2em;
	font-weight: normal;
	text-align: left;
	margin-top: 1em;
	background: rgba(0,0,0,0.7);
}

.new-paragraph {
	margin-top: 0.5em;
}

.section-content {
	font-weight: normal;
}

.section-title {
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}

h2.section-title:first-of-type {
	margin-top: 0em;
}

.contact-form {
	font-size: 0.8em;
}

.validation-message {
	color: #FF4444;
	text-align: left;
	padding: 0.2em;
	font-size: 1.1em;
}

.validation-message-generic {
	color: #FF4444;
	text-align: center;
	padding: 0.2em;
	margin-top: 1em;
	font-size: 1.2em;
}

.validation-message:empty, .validation-message-generic:empty {
	display: none;
}

.invalid {
	border: 1px solid #FF4444;
}

@media screen and (max-width: 900px){
	html {
		height: auto;
	}
	.main-body, .overlay-page {
		padding: 1em 1em 0.33em;
		min-height: 60em;
	}

	.main-logo {
		width: 20em;
		height: 5.6em;
		margin-bottom: 1.5em;
	}

	.login-page {
		flex-direction: column-reverse;
	}

	.login-explanation {
		margin-top: 1em;
	}

	.login-form, .forgot-password-form, .register-form {
		margin-left: 0;
		width: 100%;
	}

	.login-form-main {
		padding: 1em;
	}

	.login-footer {
		padding: 1em;
		margin-top: 1.5em;
	}

	.login-close {
		margin: 0;
	}

	.login-header {
		font-size: 2.25em;
		text-align: center;
	}

	.login-points {
		font-size: 1.2em;
	}

	.logo-small {
		width: 10em;
		height: 2.8em;
		margin-top: -2.8em;
	}

	.text-page {
		padding: 1em;
	}
}
