<button type="button" class="button button-icon-only bbcode-center" name="center" value="Center" onclick="bbfontstyle('[center]', '[/center]');" title="Text centrat: [center]text[/center]">
	<i class="icon fa fa-align-center fa-fw" aria-hidden="true"></i>
</button>
<button type="button" class="button button-icon-only bbcode-header" name="header" value="Header" onclick="bbfontstyle('[header]', '[/header]');" title="Text de capçalera: [header]text[/header]">
	<i class="icon fa fa-heading fa-fw" aria-hidden="true"></i>
</button>
<button type="button" class="button button-icon-only bbcode-subheader" name="subheader" value="Subheader" onclick="bbfontstyle('[subheader]', '[/subheader]');" title="Text de subcapçalera: [subheader]text[/subheader]">
	<i class="icon fa fa-s fa-fw" aria-hidden="true"></i>
</button>
