html {
	font-family: "Lucida Grande", "Segoe UI", sans-serif;
	color: #FFF;
	background-color: #000000;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	line-height: 1.5em;
}

a {
	color: #CCC;
	cursor: pointer;
}

/* Hover effect for links and other things that appear to be links */
a:hover {
	color: #FFF;
}

a img {
	border: none;
}

h1,
h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	margin: 0;
}

/* Header */

#page {
	max-width: 1156px;
	margin-left: auto;
	margin-right: auto;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,1);
	z-index: 2000;
}

#options-overlay {
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 2000;
}

#options-overlay-content {
	max-width: 660px;
	background-color: #000;
	padding: 2em;
	border-radius: 12px;
	border: 1px solid #CCC;
	overflow: auto;
	box-sizing: border-box;
	margin: 1em;
	max-height: 100%;
}

#options-buttonbar {
	text-align: center;
	width: 100%;
	margin-top: 1.5em;
	display: flex;
	justify-content: space-between;
}

#options-fansubs {
	display: flex;
	flex-wrap: wrap;
}

.options-item {
	display: flex;
	align-items: center;
}

.options-fansub {
	max-width: 200px;
	min-width: 200px;
}

.options-fansub label {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.options-section-divider {
	 margin-top: 1.5em;
}

#options-save-button {
	color: #FFF;
	font-size: 1em;
	font-weight: bold;
	border-radius: 4px;
	margin-right: 0.5em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding: 0.5em;
	background: rgb(12, 87, 21);
	white-space: nowrap;
	border: none;
	cursor: pointer;
}

#options-save-button:hover {
	background: rgb(32, 107, 41);
}

#options-cancel-button {
	color: #FFF;
	font-size: 1em;
	font-weight: bold;
	border-radius: 4px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding: 0.5em;
	background: rgb(80, 80, 80);
	border: none;
	cursor: pointer;
}

#options-cancel-button:hover {
	background: rgb(100, 100, 100);
}

#overlay-close {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 2em;
	padding: 0.5em;
	z-index: 2000;
	background-color: #000;
}

#overlay-content {
	width: 100%;
	height: 100%;
}

.no-overflow {
	overflow: hidden;
}

#header {
	margin-left: 2em;
	margin-right: 2em;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

a,
a:visited, 
#header a:hover {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.page-title {
	color: #FFF;
	font-size: 2em;
	padding: 1em 1em 1em 0em;
	font-weight: bold;
}

.tab {
	padding: 0 1.5em;
	font-size: 1.4em;
	font-weight: bold;
	color: #BBB;
}

.iconbutton {
	padding: 0 0.5em;
	font-size: 1.4em;
	font-weight: bold;
	color: #BBB;
}

.selectedtab {
	color: #FFF !important;
}

.separator {
	flex-grow: 1;
}

.user-options {
	margin: 1em;
	display: flex;
}

.search-form {
	margin-top: 1em;
	margin-bottom: 1em;
}

#search_query {
	width: 10em;
	margin-right: 4px;
	vertical-align: middle;
}

#search_button {
	vertical-align: middle;
	cursor: pointer;
	font-size: 1.4em;
}

/* Content: articles and so */

#content {
	background-color: #222;
	overflow: hidden;
	width: 100%;
}

.flex {
	display: flex;
}

.wrappable {
	flex-wrap: wrap;
}

.section {
	padding: 1.5em 2em 1em 2em;
}

.section-title,
.section-title a {
	color: #FFF;
	text-decoration: none;
	padding-bottom: 1em;
}

.section-content {
	font-family: sans-serif;
	font-size: 1.1em;
}

.new-paragraph {
	margin-top: 1em;
}

/* Main screen */
.thumbnail {
	display: block;
	width: 180px; 
	height: 256px;
	max-width: 180px;
	max-height: 256px;
	background-color: #888;
	position: relative;
	transition: transform .2s;
	margin: 2px;
}

.thumbnail:hover {
	transform: scale(1.1);
	z-index: 99;
}

.slick-list {
	overflow: visible !important;
}

.slick-prev, .slick-next {
	z-index: 100;
	border-radius: 4px;
	background: #222 !important;
	width: 26px !important;
	height: 26px !important;
}

.slick-disabled {
	visibility: hidden;
}

.carousel {
	opacity: 0;
	min-height: 256px;
	max-height: 256px;
}

.carousel.slick-initialized {
	opacity: 1;
	position: relative;
}

.thumbnail img {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
}

.thumbnail .title {
	width: 100%;
	background-color: rgba(0,0,128,0.8);
	color: white;
	position: absolute;
	bottom: 0;
	font-weight: bold;
	text-overflow: ellipsis;
	font-size: 1em;
	text-align: center;
}

.thumbnail .fansub {
	background-color: rgba(30, 105, 30, 0.8);
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	text-overflow: ellipsis;
	font-size: 0.75em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	max-width: 90%;
}

.status-completed {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid green;
	border-right: 20px solid transparent;
}

.status-in-progress {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid yellow;
	border-right: 20px solid transparent;
}

.status-cancelled {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid red;
	border-right: 20px solid transparent;
}

.status-abandoned {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid coral;
	border-right: 20px solid transparent;
}

/* Series screen */

.white-popup {
	position: relative;
	background: #000;
	height: 100%;
	width: auto;
	text-align: center;
}


.mfp-content {
	height: 100%;
}

.mfp-close {
	color: #FFF !important;
	background-color: #000 !important;
	opacity: 1 !important;
}

.series_sidebar {
	order: 1;
	margin: 2em;
	text-align: center;
	width: 350px;
}

.main_content {
	order: 2;
	flex-grow: 1;
	margin-top: 0.5em;
}

.sidebar_data {
	font-size: 1.1em;
	justify-content: center;
}

.sidebar_data div {
	padding: 0.4em;
}

.sidebar_alternate_names {
	font-size: 1em;
	margin-top: -1em;
	margin-bottom: 1em;
}

.sidebar_thumbnail {
	width: 338px; 
	height: 478px;
	object-fit: cover;
}

.fansub-buttons {
	margin-top: 1em;
}

.episodes-missing {
	color: rgb(255,200,0);
}

.series-on-air {
	color: rgb(200,200,255);
}

.fansub-website {
	color: #FFF;
	text-decoration: none !important;
	font-size: 1em;
	font-weight: bold;
	border-radius: 4px;
	margin-right: 0.5em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding: 0.5em;
	background: rgb(12, 87, 21);
	white-space: nowrap;
}

.fansub-website:hover {
	background: rgb(32, 107, 41);
}

.fansub-twitter {
	color: #FFF;
	text-decoration: none !important;
	font-size: 1em;
	font-weight: bold;
	border-radius: 4px;
	margin-right: 0.5em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding: 0.5em;
	background: rgb(14, 87, 102);
	white-space: nowrap;
}

.fansub-twitter:hover {
	background: rgb(34, 107, 122);
}

.hidden {
	display: none;
}

.version_tab_container {
	display: flex;
	padding: 0em 2em;
}

.version_tab {
	flex-grow: 1;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #333333;
	cursor: pointer;
	text-align: center;
}

.version_tab_selected {
	background-color: #444444;
}

.version_tab_text {
	padding: 0.5em;
}

.version_content_multi {
	margin: 0em 2em;
	background-color: #444444;
}

.icon {
	padding-right: 0.3em;
}

.icon-play {
	padding-right: 0.5em;
}

.icon-unavailable {
	padding-right: 0.4em;
}

.episode-title {
	font-weight: bold;
	margin-bottom: 0.4em;
}

.episode {
	margin-left: 1.5em;
	margin-bottom: 0.5em;
	width: 100%;
}

.episode-unavailable {
	color: #888;
}

.version {
	margin-left: 1em;
}

.video-player {
	font-weight:bold;
	color: #E0E0E0;
}

.nowrap {	
	white-space: nowrap;
}

.read-indicator {
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 4px;
	margin-left: 0.4em;
	padding: 0.1em 0.4em;
	background: rgb(80, 80, 80);
	white-space: nowrap;
	cursor: pointer;
}

.version-method {
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 4px;
	padding: 0.1em 0.4em;
	background: rgb(100, 0, 0);
	white-space: nowrap;
	cursor: help;
}

.version-resolution-hd {
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 4px;
	padding: 0.1em 0.4em;
	background: rgb(0, 80, 0);
	white-space: nowrap;
	cursor: help;
}

.version-resolution-sd {
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 4px;
	padding: 0.1em 0.4em;
	background: rgb(100, 100, 0);
	white-space: nowrap;
	cursor: help;
}

.version-comments {
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 4px;
	padding: 0.1em 0.4em;
	background: rgb(0, 50, 100);
	white-space: nowrap;
	cursor: help;
}

.version-unavailable {
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 4px;
	margin-left: 0.2em;
	padding: 0.1em 0.4em;
	background: rgb(80, 80, 80);
	white-space: nowrap;
	cursor: help;
	color: #DDD;
}


/* Footer */

#footer {
	color: #FFF;
	clear: both;
	padding: 0 30px;
}

#footer p {
	text-align: center;
	font-size: 0.85em;
}


/* MOBILE */
@media screen and (max-width: 1000px){
	.separator {
		width: 100%;
	}

	.tabs {
		width: 100%;
		text-align: center;
	}

	.tab {
		padding: 0 0.5em;
	}

	.mobilewrappable {
		flex-wrap: wrap;
	}

	.series_sidebar {
		width: 100%;
		min-width: 0;
		margin: 1em;
	}

	.sidebar_thumbnail {
		width: 169px; 
		height: 239px;
		object-fit: cover;
	}

	.episode {
		width: 100%;
	}
}

@media screen and (max-width: 650px){
	#header {
		margin-left: 1em;
		margin-right: 1em;
	}

	#options-overlay-content {
		max-width: 100%;
		padding: 1em;
	}

	.options-fansub {
		max-width: 150px;
		min-width: 150px;
	}

	.options-section-divider {
		 margin-top: 1em;
	}

	.page-title {
		font-size: 1.75em;
		padding: 0.5em 0.5em 0.5em 0em;
	}

	.thumbnail {
		width: 120px;
		height: 170px;
		margin: 1px;
	}

	.carousel {
		min-height: 170px;
		min-height: 170px;
	}

	.section {
		padding: 1em 1em 1em 0.75em;
	}

	.slick-prev, .slick-next {
		visibility: hidden;
	}

	.episode {
		margin-left: 0.5em;
	}

	.thumbnail .fansub {
		font-size: 0.6em;
	}

	.thumbnail .title {
		font-size: 0.75em;
	}
}
