@font-face {
	font-family: "comic_sans";
	src: url('../fonts/comic_sans.ttf');
}

:not(.fa):not(.fab):not(.fas):not(.far):not(.fsc):not([class^="vjs-"]):not(.icon) {
	font-family: "comic_sans", sans-serif !important;
}
