html, body {
	height: 100%;
}

a {
	text-decoration: none !important;
}

a.navbar-extra-link {
	color: rgba(255, 255, 255, 0.75);
}

a.navbar-extra-link:hover {
	color: rgba(255, 255, 255, 1);
}

label {
	font-weight: bold !important;
	margin-bottom: 0.5em;
}

.form-check label {
	margin-bottom: 0;
}

label .text-muted, th .text-muted {
	font-weight: normal !important;
}

small {
	font-size: 0.8em;
	font-weight: normal !important;
}

.hentai, .hentai th, .hentai td {
	color: darkred !important;
}

.mandatory:after {
	padding-left: 0.2em;
	content:"*";
	color:red;
}

.navbar-brand a {
	color: #ffffff;
}

.graph-container {
	width: 100%;
	height: 450px;
}

.fa-stack {
	font-size: 0.5em;
	vertical-align: middle;
	margin-bottom: 0.5em;
}

.fa-custom-main:before {
	font-family: Arial;
	font-weight: bold;
	content: 'P';
	background-color: #dc3545 !important;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.fa-custom-anime:before {
	font-family: Arial;
	font-weight: bold;
	content: 'A';
	background-color: #dc3545 !important;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.fa-custom-manga:before {
	font-family: Arial;
	font-weight: bold;
	content: 'M';
	background-color: #dc3545 !important;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.fa-custom-liveaction:before {
	font-family: Arial;
	font-weight: bold;
	content: 'I';
	background-color: #dc3545 !important;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.fa-custom-news:before {
	font-family: Arial;
	font-weight: bold;
	content: 'N';
	background-color: #dc3545 !important;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.fa-custom-resources:before {
	font-family: Arial;
	font-weight: bold;
	content: 'R';
	background-color: #dc3545 !important;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.fa-custom-advent:before {
	font-family: Arial;
	font-weight: bold;
	content: 'C';
	background-color:#dc3545 !important;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.navbar {
	background-color: #dc3545 !important; /* Remove in production */
}

tr[id^="form-links-list-"] input[type="url"], tr[id^="form-extras-list-row-"] input[type="url"] {
	padding-left: 24px;
}

tr[id^="form-links-list-"] input[type="url"][value^="http://"], tr[id^="form-extras-list-row-"] input[type="url"][value^="http://"], tr[id^="form-links-list-"] input[type="url"][value^="https://"], tr[id^="form-extras-list-row-"] input[type="url"][value^="https://"] {
	background: url("../images/site/link_unknown.png") no-repeat scroll 4px center;
}

tr[id^="form-links-list-"] input[type="url"][value^="https://mega.nz/"], tr[id^="form-extras-list-row-"] input[type="url"][value^="https://mega.nz/"] {
	background: url("../images/site/link_mega.png") no-repeat scroll 4px center !important;
}

tr[id^="form-links-list-"] input[type="url"][value^="storage://"], tr[id^="form-extras-list-row-"] input[type="url"][value^="storage://"] {
	background: url("../images/site/link_storage.png") no-repeat scroll 4px center !important;
}
