:root {
	--header-height-local: 4.2rem;
	--carousel-element-width: 21.2rem;
	--carousel-element-height: 33.5rem;
	--thumbnail-margin: 0.5rem;
	--thumbnail-text-height: 3.5rem;
	--carousel-scaling: 1.25;
	--chapter-carousel-element-width: 21.2rem;
	--chapter-carousel-element-height: 16.75rem;
	--chapter-thumbnail-title-height: 1.6rem;
	--chapter-thumbnail-subtitle-height: 1.6rem;
	--thumbnail-transition-delay: 0.5s;
}

/* Header */

.style-type-catalogue .main-section {
	justify-content: start;
	width: calc(100% + var(--page-padding) + var(--page-padding));
	flex-direction: row;
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
}

.style-type-catalogue.has-carousel .main-section {
	display: block;
}

.catalogues-navigation {
	height: var(--header-height);
	margin-left: 2.5rem;
	font-size: 1.7rem;
	text-transform: uppercase;
	align-self: end;
	display: flex;
	align-items: end;
	font-family: "lexend_deca_light", sans-serif;
	letter-spacing: -0.1rem;
	order: 20;
}

.catalogues-navigation a {
	display: block;
	white-space: nowrap;
}

.catalogues-explicit-category {
	font-size: 2rem;
	margin-left: 1rem;
}

.catalogue-selected-processed {
	font-family: "lexend_deca", sans-serif;
	text-decoration: none !important;
}

.catalogue-selected {
	text-decoration: underline;
	font-family: "lexend_deca", sans-serif;
	text-decoration: underline rgb(var(--primary-color)) 0.3rem;
	text-underline-offset: 0.3rem;
}

.catalogues-separator {
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	display: inline-block;
	margin-top: -0.2rem;
	pointer-events: none;
}

.catalogues-underline {
	position: absolute;
	border-bottom: 0.3rem solid rgb(var(--primary-color));
	z-index: 1;
	transition: left var(--fast-animation-duration) ease-in-out, top var(--fast-animation-duration) ease-in-out, width var(--fast-animation-duration) ease-in-out, height var(--fast-animation-duration) ease-in-out;
	pointer-events: none;
}

.catalogues-underline-noanim {
	transition: none !important; /* Disable all animations */
}

.tristate-selector, .singlechoice-selector {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.1rem 0;
}

.singlechoice-selector div:first-child {
	border-top-left-radius: 0.6rem;
	border-bottom-left-radius: 0.6rem;
}

.singlechoice-selector div:last-child {
	border-top-right-radius: 0.6rem;
	border-bottom-right-radius: 0.6rem;
}

.tristate-selector .tristate-button {
	background-color: rgb(var(--negative-color));
	color: rgb(var(--neutral-color));
	font-size: 1.6rem;
	cursor: pointer;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.singlechoice-selector .singlechoice-button {
	background-color: rgb(var(--always-positive-color));
	color: rgb(var(--always-negative-color));
	font-size: 1.4rem;
	cursor: pointer;
	height: 3.8rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	flex-direction: column;
	white-space: nowrap;
}

.singlechoice-selector .singlechoice-button i {
	font-size: 1.6rem;
	margin-bottom: 0.2rem;
}

.singlechoice-selector .singlechoice-selected {
	background-color: rgb(var(--primary-color));
}

.tristate-selector .tristate-include {
	border-radius: 0.6rem;
}

.tristate-selector .tristate-exclude {
	margin-left: 0.2rem;
	border-radius: 0.6rem;
}

.tristate-selector .tristate-include.tristate-selected {
	background-color: rgb(var(--primary-color));
	color: rgb(var(--always-negative-color));
}

.tristate-selector .tristate-exclude.tristate-selected {
	background-color: rgb(var(--secondary-color));
	color: rgb(var(--always-negative-color));
}

.tristate-selector .tristate-description {
	flex-grow: 1;
	text-align: left;
	margin-left: 0.6rem;
	font-size: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.catalogue {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.error-icon {
	color: rgb(var(--error-color));
}

/* Player related logic */
.player-popup {
	position: relative;
	background: rgb(var(--always-negative-color));
	text-align: center;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.page-no-overflow {
	overflow: hidden;
	scrollbar-gutter: unset;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(var(--negative-color)),1);
	z-index: 2000;
}

#overlay-content {
	width: 100%;
	height: 100%;
}

.video-js {
	font-family: "lexend_deca", sans-serif;
	width: 100%;
	height: 100%;
}

.video-js .vjs-control-bar {
	background: transparent;
	height: 5em;
	padding: 1em;
	font-size: 1.5em;
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.player_extra_upper {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	padding: 1.6em;
	z-index: 2000;
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
	pointer-events: none;
	align-items: center;
}

.player_extra_upper .player_extra_title {
	font-size: 2.2em;
	flex-grow: 1;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.6;
	margin-right: 0.8em;
}

.player_extra_upper .player_extra_close {
	font-size: 4em;
	pointer-events: auto;
	cursor: pointer;
	padding: 0;
}

.player_extra_ended {
	display: none;
	position: absolute;
	height: 100%;
	width: 24rem;
	z-index: 1;
	right: 4rem;
	bottom: 8rem;
	align-items: end;
	justify-content: center;
}

.player_extra_ended_header {
	font-family: "lexend_deca_bold", sans-serif;
	text-align: left;
	font-size: 1.6em;
	line-height: 1.2;
}

.player_extra_ended_title {
	text-align: left;
	font-size: 1.5em;
	margin-bottom: 0.4em;
	line-height: 1.2;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.player_extra_ended_episode {
	max-width: 100%;
}

.player_extra_ended_thumbnail {
	position: relative;
	border: 0.4em solid rgb(var(--primary-color));
	border-radius: 1em;
	width: 100%;
	aspect-ratio: 1.777777;
	overflow: hidden;
}

.player_extra_ended_thumbnail a {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: rgb(var(--always-positive-color));
	font-size: 1.8em;
	z-index: 1;
	opacity: 0;
	transition: opacity var(--fast-animation-duration) ease-in-out;
}

.player_extra_ended_thumbnail:hover a {
	opacity: 1;
}

.player_extra_ended_thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.player_extra_ended_thumbnail div {
	position: absolute;
	background: rgba(var(--always-negative-color),0.5);
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	transition: width .1s ease-in-out;
}

.player_extra_ended_thumbnail:hover div {
	width: 100% !important;
}

.player-error {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.video-js video {
	cursor: pointer;
}

.video-js.vjs-ended video {
	filter: brightness(0.7);
}

.video-js.vjs-ended .vjs-big-play-button {
	padding-left: 0.1em;
}

.video-js.vjs-ended .vjs-big-play-button:before {
	content: "\f2ea";
}

.video-js .vjs-progress-control .vjs-progress-holder, .video-js .vjs-volume-bar {
	font-size: 1.6666666667em;
	border-radius: 2em;
}

.video-js .vjs-play-progress, .video-js .vjs-volume-level {
	background-color: rgb(var(--primary-color));
	border-radius: 2em;
}

.video-js .vjs-progress-control .vjs-slider-bar .vjs-time-tooltip {
	display: none !important;
}

.video-js .vjs-volume-bar {
	border-radius: 2em;
	margin: 0.75em 0.3em;
}

.video-js .vjs-time-tooltip, .video-js .vjs-volume-tooltip {
	top: -3em;
}

.video-js .vjs-volume-control:hover .vjs-volume-tooltip {
	font-size: .6em;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing {
	cursor: none;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing .player_extra_upper {
	opacity: 0;
	pointer-events: none;
	transform: translateY(-100%);
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-casting .player_extra_upper {
	visibility: visible;
	opacity: 1;
	transform: none;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
	transform: translateY(100%);
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-casting .vjs-control-bar {
	opacity: 1;
	transform: none;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-casting .vjs-control-bar{
	visibility: visible;
	opacity: 1;
	transform: none;
}

.video-js .vjs-current-time, .video-js .vjs-time-divider, .video-js .vjs-duration {
	display: block;
}

.video-js .vjs-time-control {
	padding-left: 0;
	padding-right: 0;
	min-width: 1em;
	font-size: 1.2em;
	line-height: 2.4em;
}

.video-js.vjs-paused.vjs-has-started:not(.vjs-waiting) .vjs-big-play-button, .video-js.vjs-playing.vjs-casting.vjs-has-started:not(.vjs-waiting) .vjs-big-play-button {
	display: block;
}

.video-js.vjs-playing.vjs-casting:not(.vjs-ended) .vjs-big-play-button {
	padding-left: 0;
}

.video-js.vjs-playing.vjs-casting:not(.vjs-ended) .vjs-big-play-button:before {
	content: "\f04c";
	font-size: 1.3em;
}

.video-js .vjs-playback-rate .vjs-playback-rate-value {
	padding-top: 0.3em;
	font-size: 1.1em;
}

.video-js .vjs-big-play-button {
	display: none;
	font-weight: 900;
	font-family: "Font Awesome 6 Free" !important;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	/* end FA */
	transition: .3s;
	font-size: 3.2em;
	width: 3em;
	height: 3em;
	background-color: rgb(var(--primary-color)) !important;
	border: none;
	border-radius: 100%;
	padding-left: 0.2em;
	z-index: 2; /* Higher than Cast screen */
}

.video-js .vjs-big-play-button:before {
	content: "\f04b";
	font-size: 1.3em;
}

.video-js.vjs-big-play-centered .vjs-big-play-button {
	margin-top: -1.5em;
}

.video-js .vjs-progress-holder .vjs-load-progress,.video-js .vjs-progress-holder .vjs-load-progress div,.video-js .vjs-progress-holder .vjs-play-progress {
	border-radius: 2em;
}

.vjs-loading-spinner {
	color: rgb(var(--primary-color));
	z-index: 2; /* Higher than Cast screen */
	margin: -0.3em 0 0 -0.3em;
	border: none;
	opacity: 1;
	font-size: 3.2em;
	width: 3em;
	height: 3em;
	margin-top: -1.5em;
	margin-left: -1.5em;
}

.vjs-loading-spinner:before {
	font-size: 3em;
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	content: "\f1ce";
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Copy of fa-spin */
	-webkit-animation-name: fa-spin;
	animation-name: fa-spin;
	-webkit-animation-duration: var(--fa-animation-duration,2s);
	animation-duration: var(--fa-animation-duration,2s);
	-webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
	animation-iteration-count: var(--fa-animation-iteration-count,infinite);
	-webkit-animation-timing-function: var(--fa-animation-timing,linear);
	animation-timing-function: var(--fa-animation-timing,linear)
}

.vjs-loading-spinner:after {
	display: none;
}

.video-js .vjs-button{
	transition: .3s;
}

.video-js .vjs-control:focus,.video-js .vjs-control:focus:before,.video-js .vjs-control:hover:before {
	text-shadow: none;
}

.video-js .vjs-slider:focus {
	text-shadow: none;
	box-shadow: none;
}

.video-js .vjs-control {
	width: 3em;
	height: 3em;
	margin-left: 0.1em;
	margin-right: 0.1em;
}

.video-js .vjs-button .vjs-icon-placeholder:before{
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	font-size: 1.8em;
	line-height: 1.6em;
}

.video-js .vjs-button-disabled {
	filter: brightness(0.5);
}

.video-js .vjs-prev-button {
	width: 2em;
	margin-left: 0.2em;
	cursor: pointer;
}

.video-js .vjs-next-button {
	width: 2em;
	margin-right: 0.2em;
	cursor: pointer;
}

.video-js .vjs-prev-button .vjs-icon-placeholder:before {
	content: "\f048"
}

.video-js .vjs-next-button .vjs-icon-placeholder:before {
	content: "\f051"
}

.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before,.vjs-icon-pause:before {
	content: "\f04c"
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before,.video-js .vjs-play-control .vjs-icon-placeholder:before,.vjs-icon-play:before {
	content: "\f04b"
}

.video-js .vjs-mute-control .vjs-icon-placeholder:before,.vjs-icon-volume-high:before {
	content: "\f028"
}

.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before,.vjs-icon-volume-mid:before {
	content: "\f028"
}

.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before,.vjs-icon-volume-low:before {
	content: "\f028"
}

.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before,.vjs-icon-volume-mute:before {
	content: "\f6a9"
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before,.vjs-icon-fullscreen-enter:before {
	content: "\f065"
}

.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before,.vjs-icon-fullscreen-exit:before {
	content: "\f066"
}

.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before,.vjs-icon-replay:before {
	content: "\f2ea"
}

.video-js .vjs-chromecast-button .vjs-icon-placeholder:before {
	font-family: "Font Awesome 6 Brands" !important;
	content: "\f838"
}

.video-js .vjs-chromecast-button.vjs-chromecast-casting-state .vjs-icon-placeholder:before {
	color: rgb(var(--primary-color));
}

.vjs-tech-chromecast {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	overflow: hidden
}

.video-js .vjs-time-tooltip, .video-js .vjs-volume-tooltip {
	font-family: "lexend_deca_numbers", sans-serif;
}

.video-js .vjs-mute-control {
	margin-right: 0;
}

.video-js .vjs-current-time, .video-js .vjs-duration {
	width: unset;
	font-family: "lexend_deca_numbers", sans-serif;
}

.video-js .vjs-volume-control {
	margin-left: 0;
}

.video-js .vjs-progress-control {
	margin-right: 0.4em;
	margin-left: 0;
}

.video-js .player_error_icon {
	font-size: 2em;
	color: rgb(var(--secondary-color));
}

.video-js .player_error_title {
	font-size: 2.5em;
	line-height: normal;
	font-family: "lexend_deca_bold", sans-serif;
}

.video-js .player_error_icon {
	margin-bottom: 0.2em;
	line-height: normal;
}

.video-js .player_error_details {
	margin-top: 0.75em;
	line-height: normal;
	font-size: 1.5em;
}

.video-js .player-error-technical-details {
	color: rgb(var(--neutral-color));
	font-size: 1.3em;
	line-height: normal;
}

.video-js .player_error_buttons {
	margin-top: 1.25em;
}

.video-js .error-close-button {
	font-family: "lexend_deca" !important;
	text-align: center;
	font-weight: normal;
	display: inline-block;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	padding: 0.75rem 2.25rem;
	margin: 0 0.4rem;
	min-width: 6rem;
	font-size: 1.5rem;
	border-radius: 0.4rem;
	cursor: pointer;
	line-height: normal;
}

.hentai-button {
	margin-right: 1rem;
	font-size: 1.3rem;
	color: rgb(var(--icon-button-color));
}

.hentai-button .fa-stack-1x, .catalogues-explicit-category .fa-stack-1x {
	width: 0;
	height: 0;
	margin-top: -0.5em;
	font-size: 0.7em;
}

.hentai-button .fa-plus, .catalogues-explicit-category .fa-plus {
	margin-left: -0.5em;
	margin-top: -0.7em;
	font-size: 0.5em;
}

.hentai-button .fa-1, .catalogues-explicit-category .fa-1 {
	margin-left: 0.3em;
}

.hentai-button .fa-8, .catalogues-explicit-category .fa-8 {
	margin-left: 0.9em;
}

/* Main screen */

.recommendation {
	display: flex;
	width: 100%; 
	height: 40rem;
	max-height: 40rem;
	position: relative;
	overflow: hidden;
	background: rgb(var(--secondary-color)) 0% 0% no-repeat padding-box;
	mix-blend-mode: screen;
	justify-content: center;
}

.advent {
	display: block;
	width: 100%; 
	height: 40rem;
	max-height: 40rem;
	position: relative;
	overflow: hidden;
	justify-content: center;
}

.recommendation img.background {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
	filter: sepia(1) brightness(0.8);
	opacity: 0.2;
}

.recommendation .status {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: rgb(var(--positive-color));
	font-size: 2rem;
	margin-left: 5rem;
	margin-top: 1.5rem;
	padding-left: 0;
	padding-right: 1.5rem;
	white-space: nowrap;
	background-color: rgba(var(--negative-color), 0.5);
	border-radius: 99rem;
	line-height: 1.2;
	max-width: 20vw;
	align-items: center;
}

.recommendation .status-indicator {
	margin-left: 0.2rem;
	margin-right: 0.8rem;
	width: 2.1rem;
	height: 2.1rem;
}

.recommendation .infoholder {
	height: 100%;
	position: absolute;
	color: rgb(var(--positive-color));
	padding: 2.5rem;
	width: 60vw;
	max-width: 100rem;
	display: flex;
	flex-direction: row;
}

.recommendation .dataholder {
	height: 100%;
	text-align: left;
	color: rgb(var(--negative-color));
}

.recommendation .watchbutton {
	font-family: "lexend_deca_bold", sans-serif;
	border-radius: 0.8rem;
	padding: 0.8rem 3rem;
	font-size: 1.65rem;
	background: rgb(var(--negative-color));
	white-space: nowrap;
	text-transform: uppercase;
	display: inline-block;
	color: rgb(var(--positive-color));
	margin-top: 2.2rem;
}

.recommendation .coverholder {
	height: 100%;
	aspect-ratio: 0.70710678118;
	filter: drop-shadow(0 0 2.6rem rgba(var(--negative-color),0.5));
	margin-right: 2.6rem;
}

.recommendation .cover {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0.6rem;
}

.recommendation .title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 3.5rem;
	line-height: 1.15;
	/* For ellipsizing and max 2 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.recommendation .divisions {
	font-size: 1.85rem;
	line-height: 1.3;
	/* For ellipsizing and max 1 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.recommendation .synopsis {
	font-size: 1.6rem;
	margin-top: 2.2rem;
	line-height: 1.3;
	/* For ellipsizing and max 7 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}

.recommendation .fansubs {
	display: flex;
	justify-content: right;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	color: rgb(var(--negative-color));
	font-size: 1.7rem;
	margin-top: 1.5rem;
	margin-right: 5rem;
	max-width: 20vw;
	overflow: hidden;
	line-height: 1.15;
	text-align: right;
}

.recommendation .fansub {
	display: flex;
	justify-content: right;
	align-items: center;
	margin-bottom: 0.8rem;
}

.recommendation .fansub i {
	margin-right: 0.3rem;
}

.recommendation .fansub img {
	display: inline;
	margin-left: 0.8rem;
	border-radius: 0.8rem;
	width: 2.6rem;
	height: 2.6rem;
}

.recommendation .special-day {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 1.5rem;
	left: 0;
	z-index: 1;
	color: rgb(var(--positive-color));
	font-size: 1.8rem;
	margin-left: 5rem;
	margin-top: 1.5rem;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
	border: 0.2rem solid rgba(var(--negative-color), 0.5);
	border-radius: 0.5rem;
	color: rgba(var(--negative-color), 0.5);
	line-height: 1.2;
	max-width: 20vw;
}

.recommendation .special-day i {
	font-size: 2.2rem;
	margin-right: 0.5rem;
	margin-left: -0.25rem;
}

.recommendation .genres {
	font-family: "lexend_deca_light", sans-serif;
	display: flex;
	justify-content: right;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	color: rgb(var(--positive-color));
	font-size: 1.3rem;
	margin-right: 5rem;
	margin-bottom: 1.3rem;
	max-width: calc(50vw - 20rem);
	flex-wrap: wrap;
	align-content: start;
	max-height: 5.5rem;
	overflow: hidden;
}

.recommendation .genres i {
	font-size: 2.1rem;
	-webkit-text-stroke: 0.1rem rgb(var(--negative-color));
	align-self: center;
}

.recommendation .genres .genre {
	background-color: rgb(var(--negative-color));
	border-radius: 99rem;
	padding: 0.1rem 0.6rem;
	margin: 0.25rem 0.25rem;
}

.slick-list {
	overflow: visible !important;
}

.recommendations .slick-list {
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
	background-color: rgb(var(--secondary-color));
}

.slick-prev, .slick-next {
	z-index: 100;
}

.carousel .slick-prev {
	background-image: linear-gradient(90deg,rgb(var(--background-color-standard)), transparent, transparent, transparent);
	transform: translateX(-1.1rem) translateY(-50%);
	width: 4rem;
	height: 100%;
}

.carousel .slick-next {
	background-image: linear-gradient(-90deg,rgb(var(--background-color-standard)), transparent, transparent, transparent);
	transform: translateX(1.1rem) translateY(-50%);
	width: 4rem;
	height: 100%;
}

.carousel .slick-prev::before, .carousel .slick-next::before {
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	color: rgb(var(--positive-color));
	font-size: 3rem;
	padding: var(--page-padding);
	-webkit-text-stroke: 0.15rem rgb(var(--negative-color));
}

.recommendations .slick-prev::before, .recommendations .slick-next::before {
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	color: rgb(var(--negative-color));
	font-size: 3rem;
	padding: 3rem;
}

.carousel .slick-prev::before {
	margin-left: -2rem;
	padding-right: 1rem;
	content: '\f053' !important;
}

.carousel .slick-next::before {
	padding-left: 1rem;
	content: '\f054' !important;
}

.recommendations .slick-prev::before {
	padding-left: 6rem;
	content: '\f053' !important;
}

.recommendations .slick-next::before {
	padding-right: 6rem;
	margin-left: -9rem;
	content: '\f054' !important;
}

.slick-disabled {
	visibility: hidden;
}

.slick-dots {
	bottom: 0.25rem;
}

.slick-dotted.slick-slider {
	margin-bottom: unset;
}

.slick-dots li {
	margin: 0 0.1rem !important;
}

.slick-dots li button {
	padding: 0 !important;
	width: 2rem !important;
	height: 2rem !important;
}

.slick-dots li button::before {
	font-size: 1.2rem !important;
	color: rgb(var(--positive-color));
}

.slick-dots li.slick-active button:before {
	color: rgb(var(--positive-color));
}

.recommendations {
	margin-bottom: var(--thumbnail-margin);
}

.carousel, .recommendations {
	opacity: 0;
}

.carousel.slick-initialized, .genres-carousel.slick-initialized, .recommendations.slick-initialized {
	opacity: 1;
	position: relative;
}

.continue-watching-thumbnail-outer {
	display: flex;
	flex-direction: column;
	width: var(--chapter-carousel-element-width);
	height: var(--chapter-carousel-element-height);
	max-width: var(--chapter-carousel-element-width);
	max-height:  var(--chapter-carousel-element-height);
	position: relative;
	margin: var(--thumbnail-margin);
}

.continue-watching-thumbnail {
	display: flex;
	position: relative;
	transition: transform var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
	width: 100%; 
	height: calc(100% - var(--chapter-thumbnail-title-height) - var(--chapter-thumbnail-subtitle-height) - 0.6rem);
	z-index: 1; /*remove this to have free hovering*/
	transform-style: preserve-3d;
}

.continue-watching-thumbnail .image-link {
	width: 100%; 
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	border-radius: 1.2rem;
	overflow: hidden;
}

.continue-watching-thumbnail .image-link > img {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
	transition: transform var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
}

.continue-watching-thumbnail .image-link .fansubs {
	display: flex;
	justify-content: left;
	flex-direction: row;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 0.4rem;
	transition: opacity var(--fast-animation-duration) ease;
	z-index: 1;
}

.continue-watching-thumbnail .image-link .fansub {
	display: flex;
	justify-content: left;
	align-items: center;
}

.continue-watching-thumbnail .image-link .fansub img {
	display: inline;
	margin-left: 0.4rem;
	border-radius: 0.4rem;
	width: 1.5rem;
	height: 1.5rem;
}

.continue-watching-thumbnail .play-button {
	font-size: 2rem;
	width: 4rem; 
	height: 4rem;
	border-radius: 100%;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	position: absolute;
	left: calc(50% - 2rem);
	top: calc(50% - 2rem);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity var(--fast-animation-duration) ease;
}

.continue-watching-thumbnail .play-button.fa-play {
	padding-left: 0.3rem;
}

.continue-watching-thumbnail .close-button {
	color: rgb(var(--always-positive-color));
	font-size: 1.75rem;
	position: absolute;
	top: 0.2rem;
	right: 0.1rem;
	opacity: 1;
	transition: opacity var(--fast-animation-duration) ease;
}

.continue-watching-thumbnail .progress {
	display: block;
	height: 0.5rem;
	background: rgb(var(--primary-color));
	position: absolute;
	bottom: 0;
}

.continue-watching-thumbnail-outer .title {
	width: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.4rem;
	text-align: left;
	line-height: 1.15;
	height: var(--chapter-thumbnail-title-height);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.continue-watching-thumbnail-outer .subtitle {
	font-family: "lexend_deca_light", sans-serif;
	width: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.4rem;
	text-align: left;
	line-height: 1.15;
	opacity: 0.7;
	height: var(--chapter-thumbnail-subtitle-height);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.thumbnail-outer {
	display: flex;
	flex-direction: column;
	width: var(--carousel-element-width);
	height: var(--carousel-element-height);
	max-width: var(--carousel-element-width);
	max-height:  var(--carousel-element-height);
	position: relative;
	margin: var(--thumbnail-margin);
	perspective: 100rem;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),var(--drop-shadow-transparency-card));
	background-color: rgb(var(--negative-color));
	border-radius: 0.4rem;
}

.thumbnail {
	display: flex;
	position: relative;
	transition: transform var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
	width: 100%; 
	height: calc(100% - var(--thumbnail-text-height));
	z-index: 1; /*remove this to have free hovering*/
	transform-style: preserve-3d;
}

.thumbnail .image-link {
	width: 100%; 
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.thumbnail img {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
	border-radius: 0.4rem;
	transform: scale(1.0000001); /* Avoids weird flicker on Chrome when using img with object-fit: cover and scaling */
	transition: border-radius var(--fast-animation-duration) ease;
	transition-delay: 0s;
}

.thumbnail-outer .title {
	width: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.45rem;
	text-align: center;
	line-height: 1.15;
	height: var(--thumbnail-text-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.thumbnail-outer .title .ellipsized-title {
	/* For ellipsizing and max 2 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.thumbnail.floating-info-right {
	flex-direction: row;
}

.thumbnail.floating-info-left {
	flex-direction: row-reverse;
}

.thumbnail .floating-info {
	height: var(--carousel-element-height);
	max-height: var(--carousel-element-height);
	min-height: var(--carousel-element-height);
	width: var(--carousel-element-width); 
	max-width: var(--carousel-element-width);
	min-width: var(--carousel-element-width);
	opacity: 1;
	transform: rotateY(-180deg);
	position: absolute;
	z-index: -1; /* to hide behind the image (z-index unset) */
	backface-visibility: hidden;
}

.thumbnail .clickable-thumbnail {
	height: var(--carousel-element-height);
	max-height: var(--carousel-element-height);
	min-height: var(--carousel-element-height);
	width: var(--carousel-element-width); 
	max-width: var(--carousel-element-width);
	min-width: var(--carousel-element-width);
	opacity: 0;
	position: absolute;
}

.thumbnail-clicked {
	z-index: 99;
	filter: drop-shadow(0 0 0.8rem rgba(var(--always-negative-color),var(--drop-shadow-transparency-menu)));
}

.thumbnail-clicked .thumbnail {
	transform: scale(var(--carousel-scaling)) rotateY(180deg);
}

.thumbnail-clicked .clickable-thumbnail, .thumbnail-clicked .image-link {
	pointer-events: none;
}

.thumbnail .floating-info-main {
	display: flex;
	flex-direction: column;
	background-color: rgb(var(--negative-color));
	height: calc(100% - var(--thumbnail-text-height));
	overflow: hidden;
}

.floating-info .status-indicator{
	opacity: 1 !important;
	left: 1rem !important;
	top: 0.8rem !important;
	transition: none !important;
}

.floating-info-bookmark.fas{
	color: rgb(var(--secondary-color));
	position: absolute;
	font-size: 2rem;
	right: 0.4rem;
	top: 0.8rem;
	cursor: pointer;
}

.floating-info-bookmark.far{
	color: rgb(var(--positive-color));
	position: absolute;
	font-size: 2rem;
	right: 0.4rem;
	top: 0.8rem;
	cursor: pointer;
}

.floating-info-title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.45rem;
	padding: 0 1rem;
	margin-top: 2.8rem;
	width: 100%;
	line-height: 1.15;
	/* For ellipsizing and max 2 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.floating-info-fansub {
	font-family: "lexend_deca_light", sans-serif;
	font-size: 1.2rem;
	padding: 0 1rem;
	margin-top: 0.4rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.15;
}

.floating-info-synopsis-wrapper {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.floating-info-synopsis {
	font-family: "lexend_deca_light", sans-serif;
	font-size: 1.15rem;
	opacity: 0.75;
	padding: 0 1rem;
	line-height: 1.15;
	text-align: left;
	/* For ellipsizing and max 8 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}

.floating-info-watch-now {
	font-family: "lexend_deca_bold", sans-serif;
	border-radius: 0.6rem;
	padding: 0.25rem 1rem;
	font-size: 1.15rem;
	background: rgb(var(--positive-color));
	white-space: nowrap;
	text-transform: uppercase;
	display: inline-block;
	color: rgb(var(--negative-color));
	margin-left: auto;
	margin-right: auto;
}

.floating-info-divisions {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.2rem;
	padding: 0 1rem;
	margin-top: 0.9rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.floating-info-genres-score-wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 0.7rem;
	align-items: end;
}

.floating-info-genres-wrapper {
	flex-grow: 1;
	font-family: "lexend_deca_light", sans-serif;
	font-size: 1rem;
	line-height: 1.15;
	padding: 0 1rem;
	height: 3.5rem;
	display: flex;
	align-items: end;
}

.floating-info-genres {
	text-align: left;
	/* For ellipsizing and max 3 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.floating-info-score {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.7rem;
	padding: 0 1rem 0 0;
	line-height: 1;
}

.status-indicator {
	border: 0.1rem solid rgb(var(--always-positive-color));
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 99rem;
}

.thumbnail .status-indicator {
	position: absolute;
	top: 0.4rem;
	left: 0.4rem;
	transition: opacity var(--fast-animation-duration) ease;
	transition-delay: 0s;
	opacity: 1;
	z-index: 2;
	backface-visibility: hidden;
}

.status-completed .status-indicator {
	background: green;
}

.status-in-progress .status-indicator {
	background: yellow;
}

.status-partially-completed .status-indicator {
	background: greenyellow;
}

.status-cancelled .status-indicator {
	background: red;
}

.status-abandoned .status-indicator {
	background: coral;
}

.search-status .status-indicator {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	margin-bottom: -0.2rem;
}

.autocomplete-item {
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: rgb(var(--always-negative-color));
}

.autocomplete-image {
	width: 3.54rem;
	min-width: 3.54rem;
	max-width: 3.54rem;
	height: 5rem;
	min-height: 5rem;
	max-height: 5rem;
	object-fit: cover;
	border-radius: 0.5rem;
}

.autocomplete-data {
	margin-left: 0.5rem;
	overflow: hidden;
}

.autocomplete-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.autocomplete-type {
	margin-top: 0.2rem;
	font-family: "lexend_deca_light", sans-serif;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.autocomplete-more {
	justify-content: center;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	padding: 1rem;
}

.autocomplete-more .fa {
	margin-left: 0.2rem;
}

.autocomplete-empty {
	justify-content: center;
}

/* Series screen */
/* TODO */

@media (hover: hover) {

	.catalogues-navigation a:hover {
		text-decoration: none;
	}

	.tristate-selector .tristate-button:hover, .singlechoice-selector .singlechoice-button:hover {
		filter: brightness(0.9);
	}

	.hentai-button:hover {
		color: rgb(var(--icon-button-color-hover));
	}

	.recommendation .watchbutton:hover {
		background: rgb(var(--negative-color-button-hover));
	}

	.slick-prev:hover, .slick-next:hover {
		filter: brightness(1.5);
	}

	.recommendations .slick-prev:hover, .recommendations .slick-next:hover {
		filter: opacity(0.5);
	}

	.floating-info-watch-now:hover {
		background: rgb(var(--positive-color-button-hover));
	}

	/* Disable clicking the clickable section */
	.thumbnail .clickable-thumbnail {
		pointer-events: none;
	}

	/* These go here because if the primary pointing device can hover, we want to do this, but if it can't, we don't want to do this EVER */
	.thumbnail-outer {
		perspective: unset;
	}

	.thumbnail {
		transition: transform var(--fast-animation-duration) ease, z-index var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
		transition-delay: 0s;
	}

	.thumbnail:hover {
		transition-delay: var(--thumbnail-transition-delay);
	}

	.thumbnail .status-indicator {
		backface-visibility: unset;
		transition-delay: 0s;
	}

	.thumbnail:hover .status-indicator {
		transition-delay: var(--thumbnail-transition-delay);
	}

	.thumbnail .image-link {
		backface-visibility: unset;
	}

	.thumbnail .floating-info {
		backface-visibility: unset;
		transform: none;
		opacity: 0;
		transition: height var(--fast-animation-duration) ease-out, max-height var(--fast-animation-duration) ease-out, min-height var(--fast-animation-duration) ease-out, width var(--fast-animation-duration) ease-out, max-width var(--fast-animation-duration) ease-out, min-width var(--fast-animation-duration) ease-out, opacity var(--fast-animation-duration) ease-out, z-index var(--fast-animation-duration) ease-out, transform var(--fast-animation-duration) ease-out;
		transition-delay: 0s;
	}

	.thumbnail:hover .floating-info {
		transition-delay: var(--thumbnail-transition-delay);
	}

	.thumbnail:hover {
		transform: scale(var(--carousel-scaling));
		z-index: 9999; /*to go above other carousel elements (z-index 1)*/
	}

	.thumbnail.floating-info-right:hover {
		filter: drop-shadow(0em 0em 0.65rem rgba(var(--always-negative-color),0.8));
	}

	.thumbnail.floating-info-left:hover {
		filter: drop-shadow(0em 0em 0.65rem rgba(var(--always-negative-color),0.8));
	}

	.thumbnail.floating-info-right:hover img {
		border-radius: 0.4rem 0 0 0.4rem;
		transition-delay: var(--thumbnail-transition-delay);
	}

	.thumbnail.floating-info-left:hover img {
		border-radius: 0 0.4rem 0.4rem 0;
		transition-delay: var(--thumbnail-transition-delay);
	}

	.thumbnail.floating-info-right:hover .floating-info {
		transform: translateX(99%);
		border-radius: 0 0.4rem 0.4rem 0;
	}

	.thumbnail.floating-info-left:hover .floating-info {
		transform: translateX(-99%);
		border-radius: 0.4rem 0 0 0.4rem;
	}

	.thumbnail:hover .floating-info {
		opacity: 1;
		transform: translateX(0%);
	}

	.thumbnail:hover .status-indicator {
		opacity: 0;
	}

	.continue-watching-thumbnail .image-link .fansubs {
		opacity: 0;
	}

	.continue-watching-thumbnail:hover .image-link > img {
		filter: brightness(0.8);
		transform: scale(1.1);
	}

	.continue-watching-thumbnail:hover .image-link .fansubs {
		opacity: 1;
	}

	.continue-watching-thumbnail .play-button {
		opacity: 0;
	}

	.continue-watching-thumbnail:hover .play-button {
		opacity: 1;
	}

	.continue-watching-thumbnail .close-button {
		opacity: 0;
	}

	.continue-watching-thumbnail:hover .close-button {
		opacity: 0.8;
	}

	.continue-watching-thumbnail:hover .close-button:hover {
		opacity: 1;
	}

	.video-js .vjs-big-play-button:hover {
		background-color: rgb(var(--primary-color-hover)) !important;
	}

	.video-js .error-close-button:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	.autocomplete-item:hover {
		background: rgb(var(--always-negative-color),0.1);
	}

	.autocomplete-more:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	.video-js .vjs-button:hover, .video-js .vjs-chromecast-button:hover {
		color: rgba(var(--always-positive-color), 0.8);
	}

	.video-js .vjs-chromecast-button.vjs-chromecast-casting-state:hover .vjs-icon-placeholder:before {
		color: rgb(var(--primary-color-hover));
	}

	.video-js .vjs-chromecast-button:hover {
		cursor:pointer;
	}
}

@media (max-width: 1200px){
	.catalogue {
		justify-content: center;
	}

	.user-login {
		min-width: 4rem;
		padding: 0.75rem 0.75rem;
	}

	.recommendation .infoholder {
		width: 80vw;
	}

	.recommendation .special-day {
		max-width: 10vw;
	}

	.recommendation .special-day i {
		margin-left: -0.25em;
		margin-right: -0.25em;
	}

	.recommendation .status {
		max-width: 10vw;
		padding-right: 0;
	}

	.recommendation .status-indicator {
		margin-left: 0;
		margin-right: 0;
	}

	.recommendation .status .text {
		display: none;
	}

	.recommendation .fansubs {
		max-width: 10vw;
	}

	.recommendation .fansubs .text {
		display: none;
	}

	.recommendation .special-day .text {
		display: none;
	}
}

@media (max-width: 920px){
	:root {
		--header-height-local: 8.4rem;
		--carousel-element-width: 12.72rem;
		--carousel-element-height: 20.1rem;
		--thumbnail-margin: 0.3rem;
		--thumbnail-text-height: 2.1rem;
		--chapter-carousel-element-width: 12.72rem;
		--chapter-carousel-element-height: 10.05rem;
		--chapter-thumbnail-title-height: 0.96rem;
		--chapter-thumbnail-subtitle-height: 0.96rem;
	}

	.loading-layout, .error-layout {
		font-size: 1.5rem;
		width: 100%;
	}

	.style-type-catalogue .header {
		justify-content: left;
		flex-wrap: wrap;
	}

	.catalogues-navigation {
		margin-left: 0;
		width: 100%;
		justify-content: center;
		align-items: center;
		order: 99;
	}

	.catalogues-explicit-category {
		font-size: 1.4rem;
		margin-left: 0.8rem;
	}

	.search-form {
		display: none;
	}

	.continue-watching-thumbnail {
		height: calc(100% - var(--chapter-thumbnail-title-height) - var(--chapter-thumbnail-subtitle-height) - 0.4rem);
	}

	.continue-watching-thumbnail .image-link {
		border-radius: 0.8rem;
	}

	.continue-watching-thumbnail .image-link .fansubs {
		margin-top: 0.2rem;
	}

	.continue-watching-thumbnail .image-link .fansub img {
		margin-left: 0.2rem;
		border-radius: 0.2rem;
		width: 1.2rem;
		height: 1.2rem;
	}

	.continue-watching-thumbnail .play-button {
		font-size: 1.4rem;
		width: 3rem; 
		height: 3rem;
		left: calc(50% - 1.5rem);
		top: calc(50% - 1.5rem);
	}

	.continue-watching-thumbnail .close-button {
		font-size: 1.3rem;
	}

	.continue-watching-thumbnail .progress {
		height: 0.3rem;
	}

	.continue-watching-thumbnail-outer .title {
		padding-left: 0.3rem;
		padding-right: 0.3rem;
		font-size: 0.87rem;
		text-align: left;
		line-height: 1.15;
		height: var(--chapter-thumbnail-title-height);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
	}

	.continue-watching-thumbnail-outer .subtitle {
		padding-left: 0.3rem;
		padding-right: 0.3rem;
		font-size: 0.87rem;
	}

	.thumbnail-outer .title {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
		font-size: 0.87rem;
		line-height: 1.15;
	}

	.thumbnail .status-indicator {
		top: 0.2rem;
		left: 0.2rem;
	}

	.status-indicator {
		width: 1rem;
		height: 1rem;
		border: 0.005rem solid rgb(var(--always-positive-color));
	}

	.floating-info .status-indicator {
		left: 0.4rem !important;
		top: 0.4rem !important;
	}

	.floating-info-bookmark.fas, .floating-info-bookmark.far {
		font-size: 1.3rem;
		right: 0;
		top: 0.3rem;
	}

	.floating-info-title {
		font-size: 1rem;
		padding: 0 0.5rem;
		margin-top: 1.4rem;
	}

	.floating-info-fansub {
		font-size: 0.8rem;
		padding: 0 0.5rem;
		margin-top: 0.2rem;
	}

	.floating-info-synopsis {
		font-size: 0.9rem;
		padding: 0 0.5rem;
		-webkit-line-clamp: 5;
	}

	.floating-info-watch-now {
		border-radius: 0.3rem;
		padding: 0.2rem 0.75rem;
		font-size: 1rem;
	}

	.floating-info-divisions {
		font-size: 0.9rem;
		padding: 0 0.5rem;
		margin-top: 0.4rem;
	}

	.floating-info-genres-score-wrapper {
		margin-top: 0.6rem;
		margin-bottom: 0.3rem;
		align-items: end;
	}

	.floating-info-genres-wrapper {
		font-size: 0.8rem;
		padding: 0 0.5rem;
		height: 2.5rem;
	}

	.floating-info-score {
		font-size: 1.6rem;
		padding: 0 0.5rem 0 0;
	}

	.recommendation {
		height: 25rem;
		max-height: 25rem;
	}

	.advent {
		height: 25rem;
		max-height: 25rem;
	}

	.recommendation .status {
		font-size: 1.2rem;
		margin-left: 1rem;
		margin-top: 1rem;
		padding-left: 0;
		padding-right: 0;
	}

	.recommendation .status-indicator {
		width: 1.6rem;
		height: 1.6rem;
	}

	.recommendation .infoholder {
		padding: 1.5rem;
	}

	.recommendation .watchbutton {
		border-radius: 0.4rem;
		padding: 0.6rem 2rem;
		font-size: 1.3rem;
		margin-top: 1.2rem;
	}

	.recommendation .coverholder {
		filter: drop-shadow(0 0 1.8rem rgba(var(--negative-color),0.5));
		margin-right: 1rem;
	}

	.recommendation .cover {
		border-radius: 0.4rem;
	}

	.recommendation .title {
		font-size: 2.2rem;
	}

	.recommendation .divisions {
		font-size: 1.2rem;
	}

	.recommendation .synopsis {
		font-size: 1.2rem;
		margin-top: 0.6rem;
	}

	.recommendation .fansubs {
		font-size: 1.4rem;
		margin-top: 1rem;
		margin-right: 1rem;
	}

	.recommendation .fansub {
		margin-bottom: 0.5rem;
	}

	.recommendation .fansub i {
		margin-right: 0.2rem;
	}

	.recommendation .fansub img {
		margin-left: 0.6rem;
		border-radius: 0.6rem;
		width: 1.6rem;
		height: 1.6rem;
	}

	.recommendation .special-day {
		font-size: 1.2rem;
		margin-left: 1rem;
		margin-top: 1rem;
	}

	.recommendation .special-day i {
		font-size: 1.4rem;
	}

	.recommendation .genres {
		font-size: 1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
		max-width: calc(50vw - 15rem);
		max-height: 4.2rem;
	}

	.recommendation .genres i {
		font-size: 1.6rem;
	}

	.recommendation .genres .genre {
		padding: 0.1rem 0.4rem;
		margin: 0.25rem 0.25rem;
	}

	.slick-dots li {
		margin: 0 0 !important;
	}

	.slick-dots li button {
		width: 1.2rem !important;
		height: 1.2rem !important;
	}

	.slick-dots li button::before {
		font-size: 0.8rem !important;
	}

	.carousel .slick-prev {
		transform: translateX(1.5rem) translateY(-50%);
		width: 2rem;
	}

	.carousel .slick-next {
		transform: translateX(-1.5rem) translateY(-50%);
		width: 2rem;
	}

	.carousel .slick-prev::before {
		margin-left: -1rem;
	}

	.carousel .slick-next::before {
		margin-left: -1rem;
	}

	.carousel .slick-prev::before, .carousel .slick-next::before {
		font-size: 3rem;
	}

	.recommendations .slick-prev::before {
		padding-left: 2rem;
	}

	.recommendations .slick-next::before {
		padding-right: 2rem;
		margin-left: -5rem;
	}

	.video-js {
		font-size: 0.7rem;
	}
}

@media (max-width: 600px){
	.recommendation .coverholder {
		height: 85%;
		align-self: start;
	}

	.recommendation .infoholder {
		width: 90vw;
	}

	.recommendation .title {
		font-size: 1.8rem;
	}

	.recommendation .special-day {
		max-width: 20vw;
		bottom: 2rem;
	}

	.recommendation .genres {
		max-width: 70vw;
		max-height: 2.2rem;
		margin-bottom: 2rem;
	}

	.recommendation .synopsis {
		-webkit-line-clamp: 5;
	}

	.video-js .vjs-time-divider, .video-js .vjs-duration {
		display: none;
	}
}

@media (max-width: 350px){
	.recommendation .coverholder {
		height: 70%;
		margin-top: 1.5rem;
	}

	.video-js .vjs-next-button, .video-js .vjs-prev-button {
		display: none;
	}
}
