:root {
	--chapter-carousel-element-width: 21.2rem;
	--chapter-carousel-element-height: 16.75rem;
	--chapter-thumbnail-title-height: 1.6rem;
	--chapter-thumbnail-subtitle-height: 2rem;
	--episode-element-width: 29rem;
	--episode-element-image-height: 16.3rem;
}

/* Header */

.style-type-catalogue .main-section {
	justify-content: start;
	width: calc(100% + var(--page-padding) + var(--page-padding));
	flex-direction: row;
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
}

.style-type-catalogue.has-carousel .main-section {
	display: block;
}

.tristate-selector, .singlechoice-selector {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.1rem 0;
}

.singlechoice-selector div:first-child {
	border-top-left-radius: 0.6rem;
	border-bottom-left-radius: 0.6rem;
}

.singlechoice-selector div:last-child {
	border-top-right-radius: 0.6rem;
	border-bottom-right-radius: 0.6rem;
}

.tristate-selector .tristate-button {
	background-color: rgb(var(--always-positive-color));
	color: rgb(var(--neutral-color));
	font-size: 1.6rem;
	cursor: pointer;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.singlechoice-selector .singlechoice-button {
	background-color: rgb(var(--always-positive-color));
	color: rgb(var(--always-negative-color));
	font-size: 1.4rem;
	cursor: pointer;
	height: 3.8rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	flex-direction: column;
	white-space: nowrap;
}

.singlechoice-selector .singlechoice-button i {
	font-size: 1.6rem;
	margin-bottom: 0.2rem;
}

.singlechoice-selector .singlechoice-selected {
	background-color: rgb(var(--primary-color));
}

.tristate-selector .tristate-include {
	border-radius: 0.6rem;
}

.tristate-selector .tristate-exclude {
	margin-left: 0.2rem;
	border-radius: 0.6rem;
}

.tristate-selector .tristate-include.tristate-selected {
	background-color: rgb(var(--primary-color));
	color: rgb(var(--always-negative-color));
}

.tristate-selector .tristate-exclude.tristate-selected {
	background-color: rgb(var(--secondary-color));
	color: rgb(var(--always-negative-color));
}

.tristate-selector .tristate-description {
	flex-grow: 1;
	text-align: left;
	margin-left: 0.6rem;
	font-size: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Player related logic */
.player-popup {
	position: relative;
	background: rgb(var(--always-negative-color));
	text-align: center;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.manga-reader .manga-page img {
	max-width: 100%;
	max-height: 100%;
}

.manga-reader-webtoon .manga-page img {
	max-height: unset !important;
}

.manga-reader .swiper-pagination-progressbar {
	top: unset;
	bottom: 0;
}

.manga-reader .swiper-slide {
	height: unset;
}

.manga-reader .swiper-slide img {
	display: block;
	margin: 0 auto;
}

.manga-bar {
	display: flex;
	visibility: visible;
	opacity: 1;
	height: 7.5rem;
	padding: 1.5rem;
	font-size: 1.5rem;
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
	background: linear-gradient(to bottom, rgba(var(--always-negative-color),0) 0%, rgba(var(--always-negative-color),1) 100%);
}

.page-no-overflow {
	overflow: hidden;
	scrollbar-gutter: unset;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(var(--always-negative-color),1);
	color: rgba(var(--always-positive-color),1);
	z-index: 2000;
}

#overlay-content {
	width: 100%;
	height: 100%;
}

#warning-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(var(--negative-color),0.5);
	backdrop-filter: blur(15px);
	z-index: 9001; /* OVER 9000! */
	display: flex;
	align-items: center;
	justify-content: center;
}

#warning-overlay-content {
	max-width: 960px;
	border-radius: 2rem;
	border: 0.3rem solid rgb(var(--primary-color));
	margin: 1rem;
	padding: 2rem;
	text-align: center;
	font-size: 1.5rem;
	background: rgb(var(--negative-color));
}

#warning-title {
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 2rem;
}

#warning-buttonbar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#warning-close-button {
	margin-top: 0.8rem;
	background: rgb(var(--always-primary-color));
}

#warning-post-explanation {
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.video-js {
	font-family: "lexend_deca", sans-serif;
	width: 100%;
	height: 100%;
}

.video-js .vjs-control-bar {
	background: transparent;
	height: 5em;
	padding: 1em;
	font-size: 1.5em;
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
	background: linear-gradient(to bottom, rgba(var(--always-negative-color),0) 0%, rgba(var(--always-negative-color),1) 100%);
}

.player_extra_upper {
	font-size: 1rem;
	line-height: 1.1;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	padding: 1.6rem;
	z-index: 2000;
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
	pointer-events: none;
	align-items: center;
	background: linear-gradient(to bottom, rgba(var(--always-negative-color),1) 0%, rgba(var(--always-negative-color),0) 100%);
}

.player_extra_upper .player_extra_title {
	font-size: 2.2em;
	flex-grow: 1;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.6;
	margin-right: 0.8em;
}

.player_extra_upper .player_extra_close {
	font-size: 4em;
	pointer-events: auto;
	cursor: pointer;
	padding: 0;
	/* From .video-js button */
	background: 0 0;
	border: none;
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-transform: none;
	text-decoration: none;
	transition: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.player_extra_movement {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.player_extra_backward, .player_extra_forward {
	width: max(10vw, 5em);
	height: max(10vw, 5em);
	margin: 2em;
	background: rgba(var(--always-negative-color), 0.5);
	border-radius: 100%;
	transition: opacity .6s ease;
	opacity: 0;
	z-index: 1;
	font-size: 1.3em;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.player_extra_backward_time, .player_extra_forward_time {
	font-family: "lexend_deca_numbers", sans-serif;
}

.player_extra_backward .fas, .player_extra_forward .fas {
	font-size: 1.8em;
}

.player_extra_ended {
	display: none;
	position: absolute;
	height: 100%;
	width: 32rem;
	z-index: 1;
	right: 4rem;
	bottom: 8rem;
	align-items: end;
	justify-content: center;
}

.player_extra_ended_header {
	font-family: "lexend_deca_bold", sans-serif;
	text-align: left;
	font-size: 1.8em;
	line-height: 1.2;
	margin-bottom: 0.2em;
}

.player_extra_ended_title {
	text-align: left;
	font-size: 1.6em;
	margin-bottom: 0.4em;
	line-height: 1.2;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.player_extra_ended_episode {
	max-width: 100%;
}

.player_extra_ended_thumbnail {
	position: relative;
	border: 0.4em solid rgb(var(--primary-color));
	border-radius: 1em;
	width: 100%;
	aspect-ratio: 1.777777;
	overflow: hidden;
}

.player_extra_ended_thumbnail a {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: rgb(var(--always-positive-color));
	font-size: 1.8em;
	z-index: 1;
	opacity: 0;
	transition: opacity var(--fast-animation-duration) ease-in-out;
}

.player_extra_ended_thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.player_extra_ended_thumbnail div {
	position: absolute;
	background: rgba(var(--always-negative-color),0.5);
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	transition: width .1s ease-in-out;
}

.player-error {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 1rem;
}

.video-js video {
	cursor: pointer;
}

.video-js.vjs-ended video {
	filter: brightness(0.7);
}

.video-js.vjs-ended .vjs-big-play-button {
	padding-left: 0.1em;
}

.video-js.vjs-ended .vjs-big-play-button:before {
	content: "\f2ea";
}

.video-js .vjs-progress-control .vjs-progress-holder, .video-js .vjs-volume-bar {
	font-size: 1.6666666667em;
	border-radius: 2em;
}

.video-js .vjs-play-progress, .video-js .vjs-volume-level {
	background-color: rgb(var(--primary-color));
	border-radius: 2em;
}

.video-js .vjs-progress-control .vjs-slider-bar .vjs-time-tooltip {
	display: none !important;
}

.video-js .vjs-volume-bar {
	height: unset;
	margin: 0.5em auto;
}

.video-js .vjs-time-tooltip, .video-js .vjs-volume-tooltip {
	top: -3em;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing, .video-js.vjs-has-started.vjs-user-inactive.vjs-playing video {
	cursor: none;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing .player_extra_upper {
	opacity: 0;
	pointer-events: none;
	transform: translateY(-100%);
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
	transform: translateY(100%);
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-casting .player_extra_upper, .video-js.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-casting .vjs-control-bar{
	visibility: visible;
	opacity: 1;
	transform: none;
	pointer-events: all;
}

.video-js .vjs-current-time, .video-js .vjs-time-divider, .video-js .vjs-duration {
	display: block;
}

.video-js .vjs-time-control {
	padding-left: 0;
	padding-right: 0;
	min-width: 1em;
	font-size: 1.2em;
	line-height: 2.4em;
}

.video-js.vjs-paused.vjs-has-started:not(.vjs-waiting) .vjs-big-play-button, .video-js.vjs-playing.vjs-casting.vjs-has-started:not(.vjs-waiting) .vjs-big-play-button {
	display: block;
}

.video-js.vjs-playing.vjs-casting:not(.vjs-ended) .vjs-big-play-button {
	padding-left: 0;
}

.video-js.vjs-playing.vjs-casting:not(.vjs-ended) .vjs-big-play-button:before {
	content: "\f04c";
	font-size: 1.3em;
}

.video-js .vjs-playback-rate .vjs-playback-rate-value {
	padding-top: 0.3em;
	font-size: 1.1em;
}

.video-js .vjs-big-play-button {
	display: none;
	font-weight: 900;
	font-family: "Font Awesome 6 Free" !important;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	/* end FA */
	transition: .3s;
	font-size: 3.2em;
	width: 3em;
	height: 3em;
	background-color: rgb(var(--primary-color)) !important;
	border: none;
	border-radius: 100%;
	padding-left: 0.2em;
	z-index: 2; /* Higher than Cast screen */
}

.video-js .vjs-big-play-button:before {
	content: "\f04b";
	font-size: 1.3em;
}

.video-js.vjs-big-play-centered .vjs-big-play-button {
	margin-top: -1.5em;
}

.video-js .vjs-progress-holder .vjs-load-progress,.video-js .vjs-progress-holder .vjs-load-progress div,.video-js .vjs-progress-holder .vjs-play-progress {
	border-radius: 2em;
}

.vjs-loading-spinner {
	color: rgb(var(--primary-color));
	z-index: 2; /* Higher than Cast screen */
	margin: -0.3em 0 0 -0.3em;
	border: none;
	opacity: 1;
	font-size: 3.2em;
	width: 3em;
	height: 3em;
	margin-top: -1.5em;
	margin-left: -1.5em;
}

.vjs-loading-spinner:before {
	font-size: 3em;
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	content: "\f1ce";
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Copy of fa-spin */
	-webkit-animation-name: fa-spin;
	animation-name: fa-spin;
	-webkit-animation-duration: var(--fa-animation-duration,2s);
	animation-duration: var(--fa-animation-duration,2s);
	-webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
	animation-iteration-count: var(--fa-animation-iteration-count,infinite);
	-webkit-animation-timing-function: var(--fa-animation-timing,linear);
	animation-timing-function: var(--fa-animation-timing,linear)
}

.vjs-loading-spinner:after {
	display: none;
}

.vjs-button{
	transition: .3s;
}

.video-js .vjs-control:focus,.video-js .vjs-control:focus:before,.video-js .vjs-control:hover:before {
	text-shadow: none;
}

.video-js .vjs-slider:focus {
	text-shadow: none;
	box-shadow: none;
}

.video-js .vjs-control {
	width: 3em;
	height: 3em;
	margin-left: 0.1em;
	margin-right: 0.1em;
}

.vjs-button .vjs-icon-placeholder:before{
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	font-size: 1.8em;
	line-height: 1.6em;
}

.vjs-button-disabled {
	filter: brightness(0.5);
}

.video-js .vjs-volume-panel-vertical {
	width: 3em !important;
}

.video-js .vjs-volume-vertical {
	left: -3em !important;
	bottom: 6em !important;
	height: 6em !important;
	background-color: rgba(var(--always-negative-color),0.4);
	border-radius: 0.2em;
}

.video-js .vjs-prev-button {
	width: 2em;
	margin-left: 0.2em;
	cursor: pointer;
}

.video-js .vjs-next-button {
	width: 2em;
	margin-right: 0.2em;
	cursor: pointer;
}

.video-js .vjs-prev-button .vjs-icon-placeholder:before {
	content: "\f048"
}

.video-js .vjs-next-button .vjs-icon-placeholder:before {
	content: "\f051"
}

.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before,.vjs-icon-pause:before {
	content: "\f04c"
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before,.video-js .vjs-play-control .vjs-icon-placeholder:before,.vjs-icon-play:before {
	content: "\f04b"
}

.video-js .vjs-mute-control .vjs-icon-placeholder:before,.vjs-icon-volume-high:before {
	content: "\f028"
}

.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before,.vjs-icon-volume-mid:before {
	content: "\f028"
}

.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before,.vjs-icon-volume-low:before {
	content: "\f028"
}

.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before,.vjs-icon-volume-mute:before {
	content: "\f6a9"
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before,.vjs-icon-fullscreen-enter:before {
	content: "\f065"
}

.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before,.vjs-icon-fullscreen-exit:before {
	content: "\f066"
}

.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before,.vjs-icon-replay:before {
	content: "\f2ea"
}

.video-js .vjs-chromecast-button .vjs-icon-placeholder:before {
	font-family: "Font Awesome 6 Brands" !important;
	content: "\f838"
}

.video-js .vjs-chromecast-button.vjs-chromecast-casting-state .vjs-icon-placeholder:before {
	color: rgb(var(--primary-color));
}

.vjs-tech-chromecast {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	overflow: hidden
}

.video-js .vjs-time-tooltip, .video-js .vjs-volume-tooltip {
	font-family: "lexend_deca_numbers", sans-serif;
}

.video-js .vjs-mute-control {
	margin-right: 0;
}

.video-js .vjs-current-time, .video-js .vjs-duration {
	width: unset;
	font-family: "lexend_deca_numbers", sans-serif;
}

.video-js .vjs-volume-control {
	margin-left: 0;
}

.video-js .vjs-progress-control {
	margin-right: 0.4em;
	margin-left: 0;
}

.player_error_icon {
	font-size: 2em;
	color: rgb(var(--secondary-color));
}

.player_error_title {
	font-size: 2.5em;
	line-height: normal;
	font-family: "lexend_deca_bold", sans-serif;
}

.player_error_icon {
	margin-bottom: 0.2em;
	line-height: normal;
}

.player_error_details {
	margin-top: 0.75em;
	line-height: normal;
	font-size: 1.5em;
}

.player-error-technical-details {
	color: rgb(var(--neutral-color));
	font-size: 1.3em;
	line-height: normal;
}

.player_error_buttons {
	margin-top: 1.25em;
}

.hentai-button {
	margin-right: 1rem;
	font-size: 1.4rem;
	color: rgb(var(--icon-button-color));
}

/* Main screen */

.recommendation {
	display: flex;
	width: 100%; 
	height: 40rem;
	max-height: 40rem;
	position: relative;
	overflow: hidden;
	background: rgb(var(--secondary-color)) 0% 0% no-repeat padding-box;
	mix-blend-mode: screen;
	justify-content: center;
}

.advent {
	display: block;
	width: 100%; 
	height: 40rem;
	max-height: 40rem;
	position: relative;
	overflow: hidden;
	justify-content: center;
}

.recommendation img.background {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
	filter: sepia(1) brightness(0.8);
	opacity: 0.2;
}

.recommendation .status {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: rgb(var(--positive-color));
	font-size: 1.6rem;
	margin-left: 5rem;
	margin-top: 1.5rem;
	padding-left: 0;
	padding-right: 1.5rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	white-space: nowrap;
	background-color: rgba(var(--negative-color), 0.5);
	border-radius: 99rem;
	line-height: 1.5;
	max-width: 20vw;
	align-items: center;
}

.recommendation .status-indicator {
	margin-left: 1rem;
	margin-right: 0.7rem;
	width: auto;
	height: auto;
	font-size: 1.5rem;
	padding: 0.1rem;
}

.recommendation .infoholder {
	height: 100%;
	position: absolute;
	color: rgb(var(--positive-color));
	padding: 2.5rem;
	width: 60vw;
	max-width: 100rem;
	display: flex;
	flex-direction: row;
}

.recommendation .dataholder {
	height: 100%;
	text-align: left;
	color: rgb(var(--negative-color));
}

.recommendation .watchbutton {
	font-family: "lexend_deca_bold", sans-serif;
	border-radius: 0.8rem;
	padding: 0.8rem 3rem;
	font-size: 1.65rem;
	background: rgb(var(--negative-color));
	white-space: nowrap;
	text-transform: uppercase;
	display: inline-block;
	color: rgb(var(--positive-color));
	margin-top: 2.2rem;
	line-height: 1.5;
}

.recommendation .coverholder {
	height: 87.5%;
	aspect-ratio: 0.70710678118;
	filter: drop-shadow(0 0 2.6rem rgba(var(--negative-color),0.5));
	margin-right: 2.6rem;
}

.recommendation .cover {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0.6rem;
	display: block;
	background: rgb(var(--secondary-color));
}

.recommendation .title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 3.5rem;
	line-height: 1.2;
	/* For ellipsizing and max 2 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.recommendation .divisions {
	font-size: 1.85rem;
	line-height: 1.3;
	/* For ellipsizing and max 1 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.recommendation .synopsis {
	font-size: 1.6rem;
	margin-top: 2.2rem;
	line-height: 1.2;
	/* For ellipsizing and max 8 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
}

.recommendation .fansubs {
	display: flex;
	justify-content: right;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	color: rgb(var(--negative-color));
	font-size: 1.7rem;
	margin-top: 1.5rem;
	margin-right: 5rem;
	max-width: 20vw;
	overflow: hidden;
	line-height: 1.15;
	text-align: right;
}

.recommendation .fansub {
	display: flex;
	justify-content: right;
	align-items: center;
	margin-bottom: 0.8rem;
}

.recommendation .fansub i {
	margin-right: 0.3rem;
}

.recommendation .fansub img {
	display: inline;
	margin-left: 0.8rem;
	border-radius: 100%;
	width: 2.6rem;
	height: 2.6rem;
}

.recommendation .special-day {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 1.5rem;
	left: 0;
	z-index: 1;
	color: rgb(var(--positive-color));
	font-size: 1.8rem;
	margin-left: 5rem;
	margin-top: 1.5rem;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
	border: 0.2rem solid rgba(var(--negative-color), 0.5);
	border-radius: 0.5rem;
	color: rgba(var(--negative-color), 0.5);
	line-height: 1.2;
	max-width: 20vw;
}

.recommendation .special-day i {
	font-size: 2.2rem;
	margin-right: 0.5rem;
	margin-left: -0.25rem;
}

.recommendation .genres {
	font-family: "lexend_deca_light", sans-serif;
	display: flex;
	justify-content: right;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	color: rgb(var(--positive-color));
	font-size: 1.3rem;
	margin-right: 5rem;
	margin-bottom: 1.3rem;
	max-width: calc(50vw - 20rem);
	flex-wrap: wrap;
	align-content: start;
	max-height: 5.5rem;
	overflow: hidden;
	line-height: 1.5;
}

.series-tags {
	font-family: "lexend_deca_light", sans-serif;
	display: flex;
	justify-content: right;
	flex-direction: row;
	color: rgb(var(--always-positive-color));
	font-size: 1.3rem;
	flex-wrap: wrap;
	align-content: start;
	line-height: 1.5;
	margin-top: 0.6rem;
}

.recommendation .genres i, .series-tags i {
	font-size: 2.1rem;
	-webkit-text-stroke: 0.1rem rgb(var(--always-negative-color));
	align-self: center;
}

.recommendation .genres .genre {
	background-color: rgb(var(--negative-color));
	border-radius: 99rem;
	padding: 0.1rem 0.6rem;
	margin: 0.25rem 0.25rem;
}

.series-tags .genre {
	color: rgb(var(--negative-color));
	background-color: rgb(var(--positive-color));
	border-radius: 99rem;
	padding: 0.1rem 0.6rem;
	margin: 0.25rem 0.25rem;
}

.carousel .swiper-button-prev {
	background-image: linear-gradient(90deg,rgb(var(--background-color-standard)), transparent);
	transform: translateX(-1.1rem) translateY(-10%);
	width: 4rem;
	height: 110%;
	top: 0;
	margin-top: 0;
}

.carousel .swiper-button-next {
	background-image: linear-gradient(-90deg,rgb(var(--background-color-standard)), transparent);
	transform: translateX(1.1rem) translateY(-10%);
	width: 4rem;
	height: 110%;
	top: 0;
	margin-top: 0;
}

.carousel .swiper-button-prev::after, .carousel .swiper-button-next::after {
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	color: rgb(var(--positive-color));
	font-size: 3rem;
	padding: var(--page-padding);
	-webkit-text-stroke: 0.15rem rgb(var(--negative-color));
}

.recommendations .swiper-button-prev::after, .recommendations .swiper-button-next::after {
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	color: rgb(var(--negative-color));
	font-size: 3rem;
	padding: 3rem;
}

.carousel .swiper-button-prev::after {
	padding-right: 1rem;
	content: '\f053' !important;
}

.carousel .swiper-button-next::after {
	padding-left: 1rem;
	content: '\f054' !important;
}

.recommendations .swiper-button-prev::after {
	padding-left: 12rem;
	content: '\f053' !important;
}

.recommendations .swiper-button-next::after {
	padding-right: 12rem;
	content: '\f054' !important;
}

.recommendations {
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
	background-color: rgb(var(--secondary-color));
	border-bottom: var(--divider-border-height) solid rgb(var(--primary-color));
	--swiper-pagination-bottom: 0;
	--swiper-pagination-bullet-size: 1rem;
	--swiper-pagination-bullet-inactive-color: rgb(var(--positive-color));
	--swiper-pagination-color: rgb(var(--positive-color));
}

.swiper-slide {
	width: unset;
}

.featured-section .swiper-slide {
	width: 100%;
}

.swiper {
	overflow: visible;
}

.carousel .swiper-button-prev {
	margin-left: calc(0rem - var(--page-padding));
}

.carousel .swiper-button-next {
	margin-right: calc(0rem - var(--page-padding));
}

.swiper-button-disabled {
	opacity: 0 !important;
}

.carousel.swiper-android .swiper-slide, .carousel.swiper-ios .swiper-slide {
	transform: unset !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	left: 50%;
	transform: translateX(-50%);
}

.continue-watching-thumbnail-outer {
	display: flex;
	flex-direction: column;
	width: var(--chapter-carousel-element-width);
	height: var(--chapter-carousel-element-height);
	max-width: var(--chapter-carousel-element-width);
	max-height:  var(--chapter-carousel-element-height);
	position: relative;
	margin: var(--thumbnail-margin);
	transition: width var(--fast-animation-duration) ease, transform var(--fast-animation-duration) ease, margin var(--fast-animation-duration) ease;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),var(--drop-shadow-transparency-card));
	background-color: rgb(var(--negative-color));
	border-radius: 1.2rem;
	overflow: hidden;
}

.continue-watching-thumbnail {
	display: flex;
	position: relative;
	transition: transform var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
	width: 100%; 
	height: calc(100% - var(--chapter-thumbnail-title-height) - var(--chapter-thumbnail-subtitle-height) - 0.6rem);
	z-index: 1; /*remove this to have free hovering*/
	transform-style: preserve-3d;
}

.continue-watching-thumbnail .image-link {
	width: 100%; 
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	overflow: hidden;
}

.continue-watching-thumbnail .image-link > img {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
	transition: transform var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
}

.continue-watching-thumbnail .image-link .versions {
	display: flex;
	justify-content: left;
	flex-direction: row;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity var(--fast-animation-duration) ease;
	transition-delay: 0s;
	opacity: 1;
	z-index: 1;
	backface-visibility: hidden;
	filter: drop-shadow(0 0 0.2rem rgb(var(--always-negative-color)));
	padding: 0.2rem;
}

.continue-watching-thumbnail .image-link .versions .fansubs {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-left: 0.4rem;
}

.continue-watching-thumbnail .image-link .versions .fansubs:first-child {
	margin-left: 0;
}

.continue-watching-thumbnail .image-link .versions .fansubs .fansub {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-left: -0.4rem;
}

.continue-watching-thumbnail .image-link .versions .fansubs .fansub:first-child {
	margin-left: 0;
}

.continue-watching-thumbnail .image-link .versions .fansubs .fansub img {
	display: inline;
	border-radius: 100%;
	width: 2rem;
	height: 2rem;
}

.continue-watching-thumbnail .image-link .versions .version-status {
	width: auto;
	height: auto;
	border-radius: 100%;
	position: absolute;
	font-size: 0.9rem;
	bottom: -0.3rem;
	right: -0.3rem;
	background: rgb(var(--always-positive-color));
}

.continue-watching-thumbnail .play-button, .episode-thumbnail .play-button {
	font-size: 2rem;
	width: 4rem; 
	height: 4rem;
	border-radius: 100%;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	position: absolute;
	left: calc(50% - 2rem);
	top: calc(50% - 2rem);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity var(--fast-animation-duration) ease;
}

.continue-watching-thumbnail .play-button.fa-play::before, .episode-thumbnail .play-button.fa-play::before {
	padding-left: 0.3rem;
}

.continue-watching-thumbnail .close-button {
	color: rgb(var(--always-positive-color));
	font-size: 2rem;
	position: absolute;
	top: 0.3rem;
	right: 0;
	opacity: 1;
	transition: opacity var(--fast-animation-duration) ease;
	filter: drop-shadow(0 0 1px rgb(var(--always-negative-color)));
}

.continue-watching-thumbnail .progress, .episode-thumbnail .progress {
	display: block;
	height: 0.5rem;
	background: rgb(var(--primary-color));
	position: absolute;
	bottom: 0;
}

.continue-watching-thumbnail .length, .episode-thumbnail .length {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 1.2rem;
	margin: 0.4rem;
	background: rgba(var(--always-negative-color),0.5);
	border-radius: 0.5rem;
	padding: 0rem 0.4rem;
	color: rgb(var(--always-positive-color))
}

.continue-watching-thumbnail-outer .title {
	display: block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1.4rem;
	text-align: left;
	line-height: 1.15;
	height: var(--chapter-thumbnail-title-height);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.continue-watching-episode-data {
	display: block;
}

.continue-watching-thumbnail-outer .subtitle {
	display: block;
	font-family: "lexend_deca_light", sans-serif;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1.4rem;
	text-align: left;
	line-height: 1.15;
	opacity: 0.7;
	height: var(--chapter-thumbnail-subtitle-height);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search-status .status-indicator {
	display: inline-block;
	width: auto;
	height: auto;
	font-size: 1.6rem;
	padding: 0.1rem;
	position: relative;
	bottom: -0.1rem;
}

.autocomplete-item {
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: rgb(var(--always-negative-color));
}

.autocomplete-image {
	width: 3.54rem;
	min-width: 3.54rem;
	max-width: 3.54rem;
	height: 5rem;
	min-height: 5rem;
	max-height: 5rem;
	object-fit: cover;
	border-radius: 0.5rem;
}

.autocomplete-data {
	margin-left: 0.5rem;
	overflow: hidden;
}

.autocomplete-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.autocomplete-type {
	margin-top: 0.2rem;
	font-family: "lexend_deca_light", sans-serif;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.autocomplete-more {
	justify-content: center;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	padding: 1rem;
}

.autocomplete-more .fa {
	margin-left: 0.2rem;
}

.autocomplete-empty {
	justify-content: center;
}

/* Series screen */

.is-series-page .header {
	border-bottom: var(--divider-border-height) solid transparent;
}

.is-series-page .header > * {
	z-index: 1;
}

.series-header {
	width: 100%; 
	height: 40rem;
	max-height: 40rem;
	position: relative;
	justify-content: center;
	margin-top: calc(-1 * calc(var(--page-padding) + var(--page-padding) + var(--header-height-local) + var(--divider-border-height)));
}

.series-header img.background {
	display: block;
	width: 100vw; 
	height: 100%;
	object-fit: cover;
	-webkit-mask-image: linear-gradient(to top, transparent, white 40%), linear-gradient(to bottom, transparent, white 30%);
	mask-image: linear-gradient(to top, transparent, white 40%), linear-gradient(to bottom, transparent, white 30%);
	-webkit-mask-composite: destination-in;
	mask-composite: intersect;
	margin-left: calc(-1 * (100vw - 1920px) / 2);
}

.series-data {
	position: absolute;
	bottom: 0;
	padding-left: calc(2 * var(--page-padding) + 26rem);
	padding-right: var(--page-padding);
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: end;
}

.series-subheader {
	display: flex;
	flex-direction: row;
}

.series-thumbnail {
	width: 26rem;
	height: 36.8rem;
	object-fit: cover;
	border-radius: 0.8rem;
}

.series-thumbnail-holder {
	margin-top: -31rem;
	z-index: 1;
	width: 26rem;
	filter: drop-shadow(0 0 2.6rem rgba(var(--negative-color),0.5));
}

.series-titles {
	flex-grow: 1;
}

.series-title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 3.5rem;
	line-height: 1.15;
	margin: 0;
}

.series-alternate-names {
	font-size: 1.85rem;
	line-height: 1.3;
}

.series-additional-data {
	font-size: 1.5rem;
	line-height: 1.5;
}

.series-synopsis {
	width: 100%;
	font-size: 1.5rem;
	padding-left: var(--page-padding);
	text-align: left;
}

.series-synopsis-real {
	line-height: 1.2;
}

.expandable-content-hidden {
	overflow: hidden;
	max-height: calc(1.2 * 1.5rem * 4);
}

.expandable-content-default {
	overflow: hidden;
	max-height: calc(1.2 * 1.5rem * 5 + 0.5rem);
}

.show-more {
	font-family: "lexend_deca_bold", sans-serif;
	display: inline-block;
	margin-top: 0.5rem;
	cursor: pointer;
	color: rgb(var(--neutral-color));
}

.version-content {
	font-size: 1.6rem;
	text-align: left;
}

.season-chooser {
	width: unset;
	outline: 0.1rem solid rgb(var(--always-negative-color));
	margin-bottom: 1rem;
	max-width: 100%;
	align-self: start;
}

.season-chooser option:not(.season-unavailable) {
	color: rgb(var(--always-negative-color));
}

.season-unavailable {
	color: rgba(var(--always-negative-color), 0.3);
}

.episode-table {
	width: calc(100% + 2rem);
	border-spacing: 0;
	font-size: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: left;
	margin: 0 -1rem;
}

.episode-table-manga {
	display: block;
	margin: 0;
	width: 100%;
	padding: 0;
	column-count: 3;
}

.episode {
	margin: 1rem;
	background: rgba(var(--card-background-color),0.5);
	border-radius: 1rem;
	width: var(--episode-element-width);
	max-width: var(--episode-element-width);
	display: flex;
	flex-direction: column;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),var(--drop-shadow-transparency-card));
}

.episode-table-manga .episode {
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	max-width: 100%;
	align-items: center;
	margin: 0.25rem 0;
}

.episode-thumbnail {
	position: relative;
	transition: transform var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
	overflow: hidden;
	z-index: 1;
	transform-style: preserve-3d;
	border-radius: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: var(--episode-element-width);
	height: var(--episode-element-image-height);
}

.episode-table-manga .episode-title {
	margin-top: 0;
}

.episode-table-manga .episode-thumbnail {
	width: 12.4rem;
	height: 7rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.episode-thumbnail > img {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
	transition: transform var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
}

.episode-unavailable .episode-thumbnail, .episode-unavailable .episode-thumbnail .play-button {
	background: rgb(var(--neutral-color));
}

.episode-thumbnail-missing {
	background: rgb(var(--secondary-color));
}

.episode-title {
	line-height: 1.15;
	margin: 0.75rem 1rem;
	margin-bottom: 0;
	overflow-wrap: anywhere;
}

.episode-title br {
	display: block;
	content: '';
	margin-top: 0.2rem;
}

.episode-title .new-episode {
	display: none;
}

.episode-title-cell {
	flex-grow: 1;
}

.episode-info-seen-cell {
	padding: 0.75rem 1rem;
}

.episode-info {
	float: left;
}

.file-launcher {
	cursor: pointer;
}

.extra-content {
	display: flex;
	flex-direction: column;
	margin-top: 2.5rem;
}

.version-tab-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.version-tab-container .version-tab:first-child {
	margin-left: 0;
}

.version-tab-container .version-tab:last-child {
	margin-right: 0;
}

.version-tab {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	flex-grow: 1;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: calc(var(--page-padding) / 2);
	padding-right: calc(var(--page-padding) / 2);
	font-size: 2rem;
	flex-basis: 0;
	justify-content: center;
	align-self: stretch;
	border: 0.1rem solid rgb(var(--neutral-color));
	margin: 0 0.5rem;
	border-radius: 1rem;
	max-width: 50%;
}

.version-tab > * {
	opacity: 0.5;
}

.version-tab-selected {
	border: 0.1rem solid rgb(var(--primary-color));
	border-radius: 1rem;
	z-index: 2;
	opacity: 1;
}

.version-tab-selected > * {
	opacity: 1;
}

.version-blacklisted > * {
	filter: grayscale(1) brightness(0.5);
}

.tadaima-explanation {
	font-size: 1.4rem;
	line-height: 1.2;
	text-align: center;
	margin-top: 1.5rem;
}

.tadaima-explanation span {
	font-size: 1.2rem;
	opacity: 0.5;
}

.version-fansub-info {
	font-size: 1.6rem;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 2rem;
}

.version-fansub-list-and-rating {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.version-fansub-list {
	flex-grow: 1;
}

.version-fansub-image {
	width: 9.6rem;
	height: 9.6rem;
	object-fit: cover;
	border-radius: 1rem;
}

.version-fansub-element {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.version-fansub-element + .version-fansub-element {
	margin-top: 1rem;
}

.version-fansub-data {
	margin-left: calc(var(--page-padding) / 2);
	line-height: 1.2;
}

.version-fansub-name {
	font-family: "lexend_deca_bold", sans-serif;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.2rem;
}

.version-fansub-links {
	margin-top: 0.5rem;
	font-size: 2.5rem;
}

.version-fansub-rating {
	border-radius: 1rem;
	overflow: hidden;
	background: rgba(var(--card-background-color),0.5);
	padding: calc(var(--page-padding) / 2) var(--page-padding);
	align-self: center;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),var(--drop-shadow-transparency-card));
}

.version-fansub-rating-title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.8rem;
}

.version-fansub-rating-buttons {
	text-align: center;
	font-size: 3rem;
}

.version-fansub-rating-positive, .version-fansub-rating-negative {
	opacity: 0.75;
	cursor: pointer;
}

.version-fansub-rating-selected {
	opacity: 1;
	font-weight: 900;
	color: rgb(var(--primary-color));
}

.sort-order {
	background: rgb(var(--background-color-standard));
	position: absolute;
	right: 0;
	font-size: 1.8rem;
	cursor: pointer;
	padding-left: 1.2rem;
}

.add-to-my-list {
	width: 100%;
	background: rgba(var(--neutral-color), 0.2);
	margin-top: 1rem;
	color: rgb(var(--positive-color));
}

.remove-from-my-list {
	width: 100%;
	background: rgb(var(--primary-color));
	margin-top: 1rem;
}

.tadaima-post {
	margin-top: 2rem;
	font-size: 1.4rem;
	line-height: 1.2;
	width: 100%;
	overflow: hidden;
	text-align: left;
	border-radius: 1rem;
	overflow: hidden;
	background: rgba(var(--card-background-color),0.5);
	padding: 2rem;
	padding-bottom: 1.5rem;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),var(--drop-shadow-transparency-card));
}

.tadaima-post + .tadaima-post {
	margin-top: 1rem;
}

.tadaima-author {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	margin-top: 0.4rem;
}

.tadaima-avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.tadaima-user {
	font-family: "lexend_deca_bold", sans-serif;
	margin-left: 0.6rem;
}

.tadaima-message {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.division {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: var(--page-padding) 0;
}

.series-file-lists-reversed h2 {
	order: 1;
}

.series-file-lists-reversed .season-chooser {
	order: 2;
}

.series-file-lists-reversed .division-container {
	order: 3;
}

.series-file-lists-reversed .division-list {
	order: 3;
}

.series-file-lists-reversed .episode-table {
	order: 3;
}

.series-licensed-parts {
	text-align: center;
	background-color: rgba(var(--neutral-color), 0.2);
	padding: 1rem;
	font-size: 1.5rem;
	border-radius: 1rem;
	margin-top: 0;
	margin-bottom: var(--page-padding);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.series-licensed-parts .fa {
	font-size: 1.8rem;
	margin-right: 0.5rem;
}

.division-list {
	margin-top: calc(-1 * var(--page-padding) + 1rem);
	margin-bottom: calc(-1 * var(--page-padding) + 1rem);
}

.division-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-size: 2rem;
	border-right: 0.2rem solid rgb(var(--primary-color));
	margin-right: calc(var(--page-padding) / 2);
	padding-right: calc(var(--page-padding) / 2);
}

.division-cover {
	width: 22.6rem;
	height: 32rem;
	object-fit: cover;
	border-radius: 1rem;
}

.division-title {
	font-family: "lexend_deca_bold", sans-serif;
	margin-top: 0.5rem;
	max-width: 22.6rem;
	text-align: center;
}

.division-container {
	width: 100%;
	margin: -0.25rem 0;
}

.division-elements {
	font-size: 1.5rem;
	line-height: 1.6;
}

.division-arrow {
	margin-left: 0.5rem;
	transition: rotate var(--fast-animation-duration) ease-in-out;
}

details[open]:not(.closing) .division-arrow {
	rotate: 90deg;
}

.episode-unavailable {
	opacity: 0.5;
}

.empty-divisions {
	text-align: center;
	background-color: rgba(var(--neutral-color), 0.2);
	padding: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	border-radius: 1rem;
	margin: var(--page-padding) 0;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.version-fansub-icons .fansubs {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-right: 1rem;
}

.version-fansub-icons .fansubs .fansub {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-left: -0.4rem;
}

.version-fansub-icons .fansubs .fansub:first-child {
	margin-left: 0;
}

.version-fansub-icons .fansubs .fansub img {
	display: inline;
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
}

.version-fansub-icons .version-status {
	width: auto;
	height: auto;
	font-size: 1.5rem;
	border-radius: 100%;
	position: absolute;
	bottom: -0.5rem;
	right: -0.5rem;
	background: rgb(var(--always-positive-color));
}

.viewed-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(var(--neutral-color));
	transition: var(--fast-animation-duration) ease;
	border-radius: 3em;
}

.viewed-slider:before {
	position: absolute;
	content: "\f070";
	height: 1.5em;
	width: 1.5em;
	left: 0em;
	bottom: 0em;
	background-color: rgb(var(--always-positive-color));
	transition: var(--fast-animation-duration) ease;
	border-radius: 50%;
	color: rgb(var(--always-negative-color));
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	filter: drop-shadow(0 0 0.1em rgba(var(--always-negative-color),0.5));
}

input:checked + .viewed-slider {
	background-color: rgb(var(--primary-color));
}

input:focus + .viewed-slider {
	box-shadow: 0 0 0.1em rgb(var(--primary-color));
}

input:checked + .viewed-slider:before {
	content: "\f06e";
	transform: translateX(1.5em);
}

.episode-info-seen-cell .switch {
	font-size: 0.6rem;
	display: inline-block;
	border-top: 1rem solid rgba(0,0,0,0);
	border-bottom: 1rem solid rgba(0,0,0,0);
	box-sizing: content-box;
	cursor: pointer;
	float: right;
	margin-top: -1rem !important;
	margin-bottom: -1rem !important;
}

.version-resolution {
	white-space: nowrap;
	border-radius: 1rem;
	padding: 0.2rem 0.5rem;
	font-size: 1.2rem;
	margin-right: 0.4rem;
	display: inline-block;
	position: relative;
	bottom: 0.1rem;
	color: rgb(var(--always-positive-color));
}

.version-info {
	white-space: nowrap;
	border-radius: 1rem;
	padding: 0.2rem 0.3rem;
	font-size: 1.2rem;
	margin-right: 0.4rem;
	display: inline-block;
	position: relative;
	bottom: 0.1rem;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
}

.new-episode {
	white-space: nowrap;
	border-radius: 1rem;
	padding: 0.2rem 0.3rem;
	font-size: 1.2rem;
	margin-right: 0.4rem;
	display: inline-block;
	position: relative;
	bottom: 0.1rem;
	background: rgb(155, 0, 0);
	color: rgb(var(--always-positive-color));
}

.hd1080 {
	background: rgb(0, 80, 0);
}

.hd720 {
	background: rgb(70, 120, 0)
}

.sd {
	background: rgb(120, 100, 0);
}

.version-status-explanation {
	padding: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	height: 100%;
	width: 100%;
	min-height: 20rem;
}

.version-status-explanation .version-status {
	width: auto;
	height: auto;
	font-size: 3rem;
	border-radius: 100%;
	background: rgb(var(--always-positive-color));
	margin-bottom: 1rem;
}

.version-status-explanation .version-status-explanation-text{
	text-align: center;
}

.episode-table-manga .version-status-explanation {
	flex-direction: row;
	min-height: 7.5rem;
}

.episode-table-manga .version-status-explanation .version-status {
	margin-bottom: 0;
	margin-right: 1rem;
}

.episode-table-manga .version-status-explanation .version-status-explanation-text{
	text-align: left;
}

/* TODO */

@media (hover: hover) and (pointer: fine) {
	.tristate-selector .tristate-button:hover, .singlechoice-selector .singlechoice-button:hover {
		filter: brightness(0.9);
	}

	.hentai-button:hover {
		color: rgb(var(--icon-button-color-hover));
	}

	.recommendation .watchbutton:hover {
		background: rgb(var(--negative-color-button-hover));
	}

	.swiper-button-prev:hover::after, .swiper-button-next:hover::after {
		filter: brightness(1.5);
	}

	.recommendations .swiper-button-prev:hover, .recommendations .swiper-button-next:hover {
		filter: opacity(0.5);
	}

	.recommendation .genres .genre:hover {
		background-color: rgb(var(--negative-color-button-hover));
	}

	.series-tags .genre:hover {
		background-color: rgb(var(--positive-color-button-hover));
	}

	.continue-watching-thumbnail .image-link .versions {
		opacity: 0;
	}

	.continue-watching-thumbnail:hover .image-link > img, .file-launcher:hover .episode-thumbnail > img {
		filter: brightness(0.8);
		transform: scale(1.1);
	}

	.continue-watching-thumbnail:hover .image-link .versions {
		opacity: 1;
	}

	.continue-watching-thumbnail .play-button, .file-launcher .episode-thumbnail .play-button {
		opacity: 0;
	}

	.continue-watching-thumbnail:hover .play-button, .file-launcher:hover .episode-thumbnail .play-button {
		opacity: 1;
	}

	.continue-watching-thumbnail .close-button {
		opacity: 0;
	}

	.continue-watching-thumbnail:hover .close-button {
		opacity: 0.8;
	}

	.continue-watching-thumbnail:hover .close-button:hover {
		opacity: 1;
	}

	.video-js .vjs-big-play-button:hover {
		background-color: rgb(var(--primary-color-hover)) !important;
	}

	.video-js .error-close-button:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	.autocomplete-item:hover {
		background: rgb(var(--always-negative-color),0.1);
	}

	.autocomplete-more:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	.vjs-button:hover, .video-js .vjs-chromecast-button:hover {
		color: rgba(var(--always-positive-color), 0.8);
	}

	.video-js .vjs-chromecast-button.vjs-chromecast-casting-state:hover .vjs-icon-placeholder:before {
		color: rgb(var(--primary-color-hover));
	}

	.video-js .vjs-chromecast-button:hover {
		cursor:pointer;
	}

	#warning-close-button:hover {
		background-color: rgb(var(--always-primary-color-hover));
	}

	.player_extra_ended_thumbnail:hover a {
		opacity: 1;
	}

	.player_extra_ended_thumbnail:hover div {
		width: 100% !important;
	}

	.video-js .vjs-volume-control:hover .vjs-volume-tooltip {
		font-size: .6em;
	}

	.episode:not(.episode-unavailable):not(.episode-message):hover {
		background-color: rgba(255,255,255,0.1);
	}

	.version-tab:not(.version-tab-selected):hover {
		background-color: rgba(255,255,255,0.1);
	}

	.version-fansub-rating-positive:hover, .version-fansub-rating-negative:hover {
		opacity: 1;
	}

	.add-to-my-list:hover {
		background: rgba(var(--neutral-color), 0.3);
	}

	.remove-from-my-list:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	.empty-divisions:hover {
		background-color: rgba(var(--neutral-color), 0.3);
	}
}

@media (max-width: 1920px){
	.series-header img.background {
		margin-left: 0;
		width: 100%;
	}
}

@media (max-width: 1650px){
	.episode-table-manga {
		column-count: 2;
	}
}

@media (max-width: 1200px){
	.user-login {
		min-width: 4rem;
		padding: 0.75rem 0.75rem;
	}

	.recommendation .infoholder {
		width: 80vw;
	}

	.recommendation .special-day {
		max-width: 10vw;
	}

	.recommendation .special-day i {
		margin-left: -0.25em;
		margin-right: -0.25em;
	}

	.recommendation .status {
		max-width: 10vw;
		padding: 0;
	}

	.recommendation .status-indicator {
		margin-left: 0;
		margin-right: 0;
	}

	.recommendation .status .text {
		display: none;
	}

	.recommendation .fansubs {
		max-width: 10vw;
	}

	.recommendation .fansubs .text {
		display: none;
	}

	.recommendation .special-day .text {
		display: none;
	}

	.version-tab {
		font-size: 1.6rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.episode-table-manga {
		column-count: 1;
	}
}

@media (max-width: 960px){
	:root {
		--chapter-carousel-element-width: 12.72rem;
		--chapter-carousel-element-height: 10.05rem;
		--chapter-thumbnail-title-height: 0.96rem;
		--chapter-thumbnail-subtitle-height: 0.96rem;
	}

	.loading-layout, .error-layout {
		font-size: 1.5rem;
		width: 100%;
	}

	.search-form {
		display: none;
	}

	.continue-watching-thumbnail-outer {
		border-radius: 0.8rem;
	}

	.continue-watching-thumbnail {
		height: calc(100% - var(--chapter-thumbnail-title-height) - var(--chapter-thumbnail-subtitle-height) - 0.4rem);
	}

	.continue-watching-thumbnail .image-link .versions .fansubs .fansub img {
		width: 1.6rem;
		height: 1.6rem;
	}

	.continue-watching-thumbnail .image-link .versions .version-status {
		font-size: 0.6rem;
		bottom: -0.2rem;
		right: -0.2rem;
	}

	.continue-watching-thumbnail .play-button, .file-launcher .episode-thumbnail .play-button {
		font-size: 1.4rem;
		width: 3rem; 
		height: 3rem;
		left: calc(50% - 1.5rem);
		top: calc(50% - 1.5rem);
	}

	.continue-watching-thumbnail .close-button {
		font-size: 1.8rem;
		top: 0.2rem;
	}

	.continue-watching-thumbnail .progress, .file-launcher .episode-thumbnail .progress {
		height: 0.3rem;
	}

	.continue-watching-thumbnail-outer .title {
		margin-left: 0.3rem;
		margin-right: 0.3rem;
		font-size: 0.87rem;
		text-align: left;
		line-height: 1.15;
		height: var(--chapter-thumbnail-title-height);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
	}

	.continue-watching-thumbnail-outer .subtitle {
		margin-left: 0.3rem;
		margin-right: 0.3rem;
		font-size: 0.87rem;
	}

	.recommendation {
		height: 25rem;
		max-height: 25rem;
	}

	.series-header {
		height: 25rem;
		max-height: 25rem;
	}

	.series-header img.background {
		-webkit-mask-image: linear-gradient(to top, transparent, white 40%), linear-gradient(to bottom, transparent, white 50%);
		mask-image: linear-gradient(to top, transparent, white 40%), linear-gradient(to bottom, transparent, white 50%);
		-webkit-mask-composite: destination-in;
		mask-composite: exclude;
	}

	.advent {
		height: 25rem;
		max-height: 25rem;
	}

	.recommendation .status {
		font-size: 1.2rem;
		margin-left: 1rem;
		margin-top: 1rem;
	}

	.recommendation .infoholder {
		padding: 1.5rem;
	}

	.recommendation .watchbutton {
		border-radius: 0.4rem;
		padding: 0.6rem 2rem;
		font-size: 1.3rem;
		margin-top: 1.2rem;
	}

	.recommendation .coverholder {
		filter: drop-shadow(0 0 1.8rem rgba(var(--negative-color),0.5));
		margin-right: 1rem;
	}

	.recommendation .cover {
		border-radius: 0.4rem;
	}

	.recommendation .title {
		font-size: 2.2rem;
	}

	.recommendation .divisions {
		font-size: 1.2rem;
	}

	.recommendation .synopsis {
		font-size: 1.2rem;
		margin-top: 0.6rem;
	}

	.recommendation .fansubs {
		font-size: 1.4rem;
		margin-top: 1rem;
		margin-right: 1rem;
	}

	.recommendation .fansub {
		margin-bottom: 0.5rem;
	}

	.recommendation .fansub i {
		margin-right: 0.2rem;
	}

	.recommendation .fansub img {
		margin-left: 0.6rem;
		width: 1.6rem;
		height: 1.6rem;
	}

	.recommendation .special-day {
		font-size: 1.2rem;
		margin-left: 1rem;
		margin-top: 1rem;
	}

	.recommendation .special-day i {
		font-size: 1.4rem;
	}

	.recommendation .genres {
		font-size: 1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
		max-width: calc(50vw - 15rem);
		max-height: 4.2rem;
	}

	.series-tags {
		font-size: 1rem;
	}

	.recommendation .genres i, .series-tags i {
		font-size: 1.6rem;
	}

	.recommendation .genres .genre, .series-tags .genre {
		padding: 0.1rem 0.4rem;
		margin: 0.25rem 0.25rem;
	}

	.carousel .swiper-button-prev {
		width: 2rem;
	}

	.carousel .swiper-button-next {
		width: 2rem;
	}

	.recommendations .swiper-button-prev::after, .recommendations .swiper-button-next::after {
		font-size: 2rem;
	}

	.recommendations .swiper-button-prev::after {
		padding-left: 0;
	}

	.recommendations .swiper-button-next::after {
		padding-right: 0;
	}

	.carousel .swiper-button-prev::after, .carousel .swiper-button-next::after {
		font-size: 2.5rem;
	}

	.video-js, .player_extra_upper {
		font-size: 0.7rem;
	}

	.series-data {
		padding-left: var(--page-padding);
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	.series-subheader {
		flex-direction: column;
		align-items: center;
	}

	.series-thumbnail {
		width: 13rem;
		height: 18.4rem;
	}

	.series-thumbnail-holder {
		margin-top: 0rem;
		width: unset;
		filter: drop-shadow(0 0 1.3rem rgba(var(--negative-color),0.5));
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: unset;
	}

	.series-title {
		font-size: 2.2rem;
	}

	.series-alternate-names {
		font-size: 1.5rem;
		line-height: 1.6;
	}

	.series-additional-data {
		font-size: 1.3rem;
		line-height: 1.4;
	}

	.series-synopsis {
		margin-top: 1.5rem;
		padding-left: 0;
		font-size: 1.3rem;
	}

	.series-tags {
		justify-content: center;
	}

	.sort-order {
		font-size: 1.3rem;
	}

	.version-tab-container {
		flex-direction: column;
	}

	.version-tab {
		align-self: center;
		max-width: 100%;
		width: 100%;
		margin-top: 0.5rem;
		font-size: 1.6rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.version-tab-container .version-tab:first-child, .version-tab-container .version-tab:last-child {
		margin-left: auto;
		margin-right: auto;
	}

	.episode-thumbnail {
		width: 10.65rem;
		height: 6rem;
	}

	.continue-watching-thumbnail .length, .episode-thumbnail .length {
		font-size: 1rem;
		margin: 0.2rem;
	}

	.episode-thumbnail-cell {
		width: 10.65rem;
	}

	.episode-thumbnail {
		width: 10.65rem;
		height: 6rem;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	.episode-table {
		width: 100%;
		margin: 0;
		font-size: 1.3rem;
		display: block;
	}

	.episode {
		flex-direction: row;
		width: 100%;
		max-width: 100%;
		align-items: center;
		margin: 0.5rem 0;
	}

	.episode-table-manga {
		column-count: 1;
	}

	.episode-table-manga .episode-thumbnail {
		width: 10.65rem;
		height: 6rem;
	}

	.version-fansub-info, .tadaima-explanation {
		font-size: 1.2rem;
	}

	.tadaima-explanation span {
		font-size: 1.1rem;
	}

	.episode-title {
		margin: 0 1rem;
	}

	.episode-info {
		display: none;
	}

	.episode-info-seen-cell {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1rem;
	}

	.tadaima-post {
		margin-top: 1rem;
		font-size: 1.2rem;
		padding: 1.5rem;
		padding-bottom: 1rem;
	}

	.tadaima-post + .tadaima-post {
		margin-top: 1rem;
	}

	.tadaima-author {
		font-size: 1.1rem;
	}

	.division {
		flex-direction: column;

	}

	.division-header {
		font-size: 1.5rem;
		margin-right: 0;
		padding-right: 0;
		border-right: none;
		align-items: center;
		margin-bottom: 0.5rem;
	}

	.division-title {
		max-width: unset;
		margin-bottom: 1rem;
	}

	.division-cover {
		margin-top: 0.5rem;
		width: 11.3rem;
		height: 16rem;
	}

	.division-list {
		margin-top: -0.5rem;
	}

	.division-elements {
		font-size: 1.3rem;
	}

	.episode-title .new-episode {
		display: inline;
	}

	.episode-info .new-episode {
		display: none;
	}

	.version-resolution, .version-info {
		display: none;
	}

	.version-fansub-list-and-rating {
		flex-direction: column;
		align-items: center;
	}

	.version-fansub-rating {
		margin-top: 1.5rem;
		width: 100%;
		text-align: center;
	}

	.version-fansub-rating-title {
		font-size: 1.5rem;
	}

	.version-fansub-rating-buttons {
		font-size: 2.2rem;
	}

	.version-fansub-image {
		width: 6.4rem;
		height: 6.4rem;
	}

	.version-fansub-name {
		font-size: 1.7rem;
	}

	.version-fansub-links {
		font-size: 2rem;
	}

	.version-fansub-info {
		margin-bottom: 1rem;
	}

	.version-fansub-data {
		margin-left: var(--page-padding);
	}

	.episode-info-seen-cell .switch {
		font-size: 0.5rem;
	}

	.add-to-my-list, .remove-from-my-list {
		width: unset;
	}

	.expandable-content-hidden {
		max-height: calc(1.2 * 1.3rem * 4);
	}

	.expandable-content-default {
		max-height: calc(1.2 * 1.3rem * 5 + 0.5rem);
	}

	.video-js .vjs-volume-panel {
		display: none;
	}

	.version-status-explanation {
		font-size: 1.3rem;
		flex-direction: row;
		min-height: 6rem;
	}

	.version-status-explanation .version-status {
		font-size: 2rem;
		margin-bottom: 0;
		margin-right: 0.5rem;
	}

	.version-status-explanation .version-status-explanation-text {
		text-align: left;
	}

	.empty-divisions {
		font-size: 1.3rem;
	}

	.series-licensed-parts {
		font-size: 1.3rem;
	}

	.episode-table-manga .version-status-explanation {
		flex-direction: row;
		min-height: 6rem;
	}

	.extra-content {
		margin-top: 1.5rem;
	}
}

@media (max-width: 600px){
	.recommendation .coverholder {
		height: 75%;
		align-self: start;
	}

	.recommendation .infoholder {
		width: 90vw;
	}

	.recommendation .title {
		font-size: 1.8rem;
	}

	.recommendation .special-day {
		max-width: 20vw;
		bottom: 2rem;
	}

	.recommendation .genres {
		max-width: 70vw;
		max-height: 2.2rem;
		margin-bottom: 2rem;
	}

	.recommendation .synopsis {
		-webkit-line-clamp: 5;
	}

	.video-js .vjs-time-divider, .video-js .vjs-duration {
		display: none;
	}
}

@media (max-width: 350px){
	.video-js .vjs-next-button, .video-js .vjs-prev-button {
		display: none;
	}

	.catalogues-explicit-category {
		margin-left: 0;
	}

	.hentai-button, .filter-button {
		margin-right: 0;
		font-size: 1.3rem;
	}
}
