/* POSSIBLE BREAKING POINTS:
	L: 1200px;
	M:  960px;
	S:  600px;
	XS: 350px;
*/


@font-face {
	font-family: "lexend_deca";
	src: url('../fonts/lexend_deca_regular.ttf');
}

@font-face {
	font-family: "lexend_deca_bold";
	src: url('../fonts/lexend_deca_bold.ttf');
}

@font-face {
	font-family: "lexend_deca_light";
	src: url('../fonts/lexend_deca_light.ttf');
}

@font-face {
	font-family: "lexend_deca_numbers";
	src: url('../fonts/lexend_deca_numbers.ttf');
}

@font-face {
	font-family: "fansubscat_icons";
	src: url('../fonts/fansubscat_icons.ttf');
}

b {
	font-family: "lexend_deca_bold";
}

/* Custom icons */
[class^="fsc-"]:before, [class*=" fsc-"]:before {
	font-family: "fansubscat_icons";
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1.25em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fsc-catalogue:before {
	content: '\e800';
}
.fsc-news:before {
	content: '\e801';
}
.fsc-hentai:before {
	content: '\e802';
}

:root {
	--header-height: 4.2rem;
	--header-height-local: 4.2rem;
	--page-padding: 3.6rem;
	--search-layout-width: 28rem;
	--ultrafast-animation-duration: .2s;
	--fast-animation-duration: .3s;
	--slow-animation-duration: .6s;
	--is-hovering-device: 0;
	--always-positive-color: 255, 255, 255;
	--always-negative-color: 0, 0, 0;
	--always-primary-color: 106, 160, 248;
	--always-primary-color-hover: 76, 130, 218;
	--primary-color: 106, 160, 248;
	--primary-color-hover: 76, 130, 218;
	--secondary-color: 249, 192, 43;
	--secondary-color-hover: 219, 162, 13;
	--neutral-color: 136, 136, 136;
	--error-color: 255, 68, 68;
	--brightness-hover: 1.1;
	--carousel-element-width: 21.2rem;
	--carousel-element-height: 33.5rem;
	--thumbnail-margin: 0.5rem;
	--thumbnail-text-height: 3.5rem;
	--thumbnail-transition-delay: 0.5s;
	--carousel-scaling: 1.25;
	--background-image: url('../images/site/background_dark_uhd.jpg');
	--background-image-opacity: 0.5;
	--divider-border-height: 0.4rem;
	--completed-color: 25, 152, 0;
	--semicompleted-color: 60, 142, 177;
	--in-progress-color: 209, 173, 0;
	--abandoned-color: 179, 110, 7;
	--cancelled-color: 187, 19, 4;
}

.theme-dark {
	/* Generic white color */
	--positive-color: 255, 255, 255;
	/* Same but on hover: a little less bright, -40/+60 */
	--positive-color-button-hover: 215, 215, 215;
	/* Generic black color */
	--negative-color: 0, 0, 0;
	/* Same but on hover: a little more bright, +60/-40 */
	--negative-color-button-hover: 60, 60, 60;
	/* Used in footer links, a bit darker so when hovered they can change to neutral, -30/+30 */
	--neutral-color-links: 106, 106, 106;
	/* Generic background for all pages WITHOUT background images, +20,-20 */
	--background-color-standard: 20, 20, 20;
	/* Background color for side filter panel, +50/-40 */
	--background-color-side-panel: 50, 50, 50;
	/* User dropdown menu background color when hovering, +40/-20 */
	--menu-background-color-hover: 40, 40, 40;
	/* Card background color */
	--card-background-color: 30, 30, 30;
	/* Color for header icons */
	--icon-button-color: 255, 255, 255;
	/* Same but on hover: a little less bright, -40/+80 */
	--icon-button-color-hover: 215, 215, 215;
	/* Drop shadow transparency for cards/thumbnails */
	--drop-shadow-transparency-card: 0.4;
	/* Drop shadow transparency for menus or popups that appear above the content */
	--drop-shadow-transparency-menu: 0.5;
}

.theme-light {
	--positive-color: 0, 0, 0;
	--positive-color-button-hover: 60, 60, 60;
	--negative-color: 255, 255, 255;
	--negative-color-button-hover: 215, 215, 215;
	--neutral-color-links: 166, 166, 166;
	--background-color-standard: 235, 235, 235;
	--background-color-side-panel: 215, 215, 215;
	--menu-background-color-hover: 235, 235, 235;
	--card-background-color: 255, 255, 255;
	--icon-button-color: 0, 0, 0;
	--icon-button-color-hover: 80, 80, 80;
	--drop-shadow-transparency-card: 0.2;
	--drop-shadow-transparency-menu: 0.5;
	--background-image: url('../images/site/background_light_uhd.jpg');
	--background-image-opacity: 0.6;
}

.subtheme-hentai {
	--primary-color: 217, 24, 131;
	--primary-color-hover: 187, 0, 101;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Hide dots in Firefox... screws accessibility though */
:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}

::-webkit-scrollbar {
	background: transparent;
	width: 0.7rem;
}
::-webkit-scrollbar-thumb {
	background: rgb(var(--neutral-color));
	border-radius: 99rem;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "lexend_deca", sans-serif;
	font-size: 62.5%;
	color: rgb(var(--positive-color));
	background-color: rgb(var(--negative-color));
	scrollbar-gutter: stable;
	min-width: 280px;
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	padding: 0;
	font-size: 1.2rem;
	line-height: 1.2;
	text-align: left;
	background: linear-gradient(to bottom, rgba(var(--negative-color),1) 0%, rgba(var(--negative-color),var(--background-image-opacity)) 25% 75%, rgba(var(--negative-color),1) 100%), var(--background-image);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
}

html.page-no-overflow, html.page-no-overflow body {
	overflow: hidden;
}

body.style-type-catalogue, body.style-type-news, body.style-type-fansubs, body.style-type-users, body.style-type-settings, body.style-type-embed {
	background: rgb(var(--background-color-standard));
}

a {
	color: rgb(var(--positive-color));
	cursor: pointer;
	text-decoration: none;
}

a img {
	border: none;
}

.hidden {
	display: none !important;
	opacity: 0;
}

.centered {
	text-align: center !important;
}

.notransition * {
	transition: none !important;
}

.site-message {
	width: 100vw;
	padding: 1rem;
	padding-bottom: 1.4rem;
	background-color: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	text-align: center;
	font-size: 1.6rem;
	margin: 0 calc(-1 * var(--page-padding));
}

.header {
	flex-grow: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: calc(100% + var(--page-padding) + var(--page-padding));
	padding-bottom: var(--page-padding);
	margin-left: calc(-1 * var(--page-padding));
	margin-right: calc(-1 * var(--page-padding));
	padding-left: var(--page-padding);
	padding-right: var(--page-padding);
}

.style-type-catalogue .header, .style-type-news .header, .style-type-fansubs .header, .style-type-settings .header {
	border-bottom: var(--divider-border-height) solid rgb(var(--primary-color));
}

.main-body, .overlay-page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--page-padding);
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

.style-type-catalogue.has-carousel .main-body {
	display: block;
}

.catalogues-navigation {
	height: var(--header-height);
	margin-left: 2.5rem;
	font-size: 2rem;
	text-transform: uppercase;
	align-self: end;
	display: flex;
	align-items: center;
	font-family: "lexend_deca_light", sans-serif;
	letter-spacing: -0.1rem;
	order: 20;
}

.catalogues-navigation a {
	display: block;
	white-space: nowrap;
}

.catalogues-explicit-category {
	font-size: 2.2rem;
	margin-left: 1rem;
}

.catalogue-selected-processed {
	/* -webkit-text-stroke: 0.03rem rgb(var(--positive-color)); */
	font-family: "lexend_deca", sans-serif;
	text-decoration: none !important;
}

.catalogue-selected {
	/* -webkit-text-stroke: 0.03rem rgb(var(--positive-color)); */
	font-family: "lexend_deca", sans-serif;
	text-decoration: underline rgb(var(--primary-color)) 0.3rem;
	text-underline-offset: 0.4rem;
}

.catalogues-separator {
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	display: inline-block;
	margin-top: -0.2rem;
	pointer-events: none;
}

.catalogues-underline {
	position: absolute;
	border-bottom: 0.3rem solid rgb(var(--primary-color));
	z-index: 1;
	transition: left var(--fast-animation-duration) ease-in-out, top var(--fast-animation-duration) ease-in-out, width var(--fast-animation-duration) ease-in-out, height var(--fast-animation-duration) ease-in-out;
	pointer-events: none;
}

.catalogues-underline-noanim {
	transition: none !important; /* Disable all animations */
}

.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	flex-grow: 0;
	margin-top: 2.5rem;
	text-align: center;
}

.obscured-background {
	background: linear-gradient(to bottom, transparent 0%, rgba(var(--primary-color),0.35) 25% 75%, transparent 100%);
	backdrop-filter: grayscale(1);
	background-attachment: fixed;
}

.overlay-page {
	justify-content: center;
}

.social-link {
	font-size: 3.6rem;
	text-align: left;
	transition: color var(--fast-animation-duration);
	margin-right: 0.9rem;
}

.separator {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: var(--header-height);
	justify-content: end;
	order: 30;
}

.user-options {
	flex-grow: 0;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	height: var(--header-height);
	justify-content: center;
	order: 50;
}

.user-login {
	text-align: center;
	font-weight: normal;
	display: inline-block;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	padding: 0.75rem 2.25rem;
	margin: 0 0.4rem;
	min-width: 6rem;
	font-size: 1.5rem;
	border-radius: 0.4rem;
	order: 40;
}

.user-avatar {
	display: block;
	border-radius: 99rem;
	width: 5rem;
	height: 5rem;
	border: 0.2rem solid rgb(var(--primary-color));
	cursor: pointer;
}

.anon-avatar {
	display: flex;
	width: 5rem;
	height: 5rem;
	font-size: 2.5rem;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	color: rgb(var(--icon-button-color));
	border-radius: 99rem;
}

.dropdown-menu {
	float: right;
	position: relative;
	display: block;
}

.anon-options {
	margin-right: 1.5rem;
	font-size: 2.4rem;
	color: rgb(var(--positive-color));
}

.dropdown-button {
	cursor: pointer;
}

.dropdown-button i {
	pointer-events: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(var(--negative-color));
	min-width: 18rem;
	overflow: auto;
	filter: drop-shadow(0em 0.5rem 0.65rem rgba(var(--always-negative-color),var(--drop-shadow-transparency-menu)));
	right: 0;
	z-index: 999;
	border-radius: 0.6rem;
	margin-top: 0.6rem;
}

.dropdown-title {
	font-family: "lexend_deca_bold", sans-serif;
	color: rgb(var(--positive-color));
	padding: 0.8rem 2.5rem;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 1.7rem;
	white-space: nowrap;
}

.dropdown-separator, .dropdown-separator-secondary {
	border: 0.1rem solid rgb(var(--primary-color));
	margin: 0 0;
}

.dropdown-content a {
	color: rgb(var(--positive-color));
	padding: 1.5rem 2.2rem;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 1.5rem;
	font-weight: normal;
	white-space: nowrap;
}

.dropdown-show {
	display: block;
}

.main-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contact-button {
	display: inline-block;
	background: rgb(var(--negative-color));
	color: rgb(var(--positive-color));
	padding: 0.7rem 2rem;
	margin: 0em 0.3rem;
	margin-bottom: 1.3rem;
	min-width: 10rem;
	font-size: 1.3rem;
	border-radius: 0.6rem;
	border: 0.1rem solid rgb(var(--negative-color));
	transition: border var(--fast-animation-duration), background var(--fast-animation-duration);
	text-align: center;
}

.footer-text {
	color: rgb(var(--neutral-color));
}

.footer-text a {
	color: rgb(var(--neutral-color-links));
}

.main-logo {
	width: 36rem;
	height: 10rem;
	max-width: 100%;
	object-fit: contain;
	user-select: none;
}

.logo-layer {
	position: absolute;
	pointer-events: none;
	left: -6rem;
	top: -6rem;
	width: 48rem;
	height: 22rem;
}

svg.main-logo g {
	fill: rgb(var(--positive-color)) !important;
}

svg.main-logo path#line_1, svg.main-logo path#line_2 {
	transition: d var(--fast-animation-duration);
}

svg.main-logo path#line_1, svg.main-logo path#line_2, svg.main-logo path#line_3, svg.main-logo path#line_4 {
	fill: rgb(var(--primary-color));
	stroke: rgb(var(--primary-color));
}

svg.main-logo.keep-hover path#line_3 {
	visibility: visible;
}

svg.main-logo.keep-hover path#line_1 {
	d: path("M26 145.763v-1h477v1z");
}

svg.main-logo.keep-hover path#line_2 {
	d: path("M133 178.763v-1h348v1z");
}

label:not(.for-checkbox), input:not([type='checkbox']):not([type='range']), select, textarea {
	font-family: inherit;
	display: block;
	text-align: left;
	width: 100%;
	font-size: 1.5rem;
	font-weight: normal;
}

label {
	margin-top: 1.1rem;
}

label.for-checkbox {
	font-family: inherit;
	text-align: left;
	width: 100%;
	font-size: 1.5rem;
	font-weight: normal;
}

textarea {
	height: 11rem;
}

input:not([type='range']), select, textarea {
	margin-top: 0.2rem;
	padding: 0.7rem;
	border-radius: 0.6rem;
	border: none;
}

select:not(.date-month) {
	border-right: 0.6rem solid transparent;
}

.normal-button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	text-align: center;
	margin-top: 1.5rem;
	font-weight: normal;
	display: inline-block;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	padding: 0.7rem 2.2rem;
	font-size: 1.5rem;
	border-radius: 0.7rem;
}

.error-page a {
	color: rgb(var(--secondary-color));
}

.logo-small {
	height: var(--header-height);
	display: flex;
	justify-content: center;
	align-items: center;
	order: 10;
	position: relative;
}

.logo-small svg {
	display: block;
	width: 18rem;
	height: 5rem;
	z-index: 0;
}

.logo-layer-small {
	position: absolute;
	pointer-events: none;
	width: 24rem;
	height: 11rem;
	left: -3rem;
}

.text-page {
	width: 100%;
	max-width: 1500px;
	padding: 2.8rem;
	border-radius: 1.5rem;
	font-size: 1.5rem;
	font-weight: normal;
	text-align: left;
	margin-top: 1.5rem;
	background: rgba(var(--negative-color),0.7);
}

.new-paragraph {
	margin-top: 0.75rem;
}

.section {
	padding: 2.5rem var(--page-padding) 0 var(--page-padding);
	width: 100%;
}

.section:not(.series-subheader) {
	overflow-x: clip;
}

.featured-section {
	padding-top: 0 !important;
}

.section-title-main {
	font-family: "lexend_deca", sans-serif; /* revert to normal in this case */
	font-weight: normal;
	color: rgb(var(--positive-color));
	text-decoration: none;
	font-size: 2.4rem;
	width:100%;
	text-align: left;
	margin-top: 0;
	margin-bottom: 2.5rem;
	display: flex;
	align-items: center;
	line-height: 1.2;
	position: relative;
}

.section-title-with-table {
	margin-bottom: 1.5rem !important;
}

.section-title-main::after {
	content: '';
	height: 0.2rem;
	border-radius: 99rem;
	margin-left: 1.2rem;
	margin-top: 0.1em;
	flex-grow: 1;
	background: rgb(var(--primary-color));
}

.section-title-main i {
	font-size: 2.6rem;
	margin-right: 0.8rem;
}

.section-empty {
	font-size: 1.7rem;
}

.section-empty i {
	font-size: 4rem;
	margin-bottom: 0.8rem;
}

.section-content {
	font-weight: normal;
	line-height: 1.2;
}

.section-title {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
}

h2{
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2rem;
}

h3{
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.8rem;
}

h4{
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.65rem;
}

h2.section-title:first-of-type {
	margin-top: 0;
}

.contact-form {
	font-size: 1.15rem;
}

.validation-message {
	color: rgb(var(--error-color));
	text-align: left;
	padding: 0.25rem;
	font-size: 1.25rem;
}

.validation-message-generic {
	color: rgb(var(--error-color));
	text-align: center;
	padding: 0.3rem;
	margin-top: 1.4rem;
	font-size: 1.5rem;
}

.validation-message:empty, .validation-message-generic:empty {
	display: none;
}

.invalid {
	border: 0.1rem solid rgb(var(--error-color));
}

.user-login-icon {
	display: none;
}

.search-form {
	margin-right: 0.6rem;
}

#search_form {
	position: relative;
	display: inline-block;
}

#search_query {
	width: 26rem;
	margin-right: 0.7rem;
	vertical-align: middle;
	height: 3.4rem;
	border-radius: 0.7rem;
	padding: 0 3.2rem 0 1rem;
	display: inline-block;
	border: 0.1em solid rgb(var(--always-negative-color));
}

#search_query_autocomplete {
	position: absolute;
	margin-right: 0.7rem;
	z-index: 99;
	top: 3rem;
	left: 0;
	right: 0;
	border: 0.1em solid rgb(var(--always-negative-color));
	border-top: none;
	background: rgb(var(--always-positive-color));
	border-bottom-left-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 4rem;
	color: rgb(var(--always-negative-color));
	overflow: hidden;
}

.filter-button {
	margin-right: 2rem;
	font-size: 1.4rem;
	color: rgb(var(--icon-button-color));
}

.mobile-search-button {
	display: none;
}

#search_button {
	cursor: pointer;
	font-size: 1.7rem;
	margin-left: -3.4rem;
	color: gray;
	float: right;
	margin-right: 1.5rem;
	margin-top: 1rem;
        position: relative;
        z-index: 2;
}

.loading-layout, .error-layout {
	font-size: 1.8rem;
	width: 100%;
}

.search-layout ~ .loading-layout, .search-layout ~ .error-layout {
	margin-left: calc(var(--search-layout-width) + var(--page-padding));
	width: calc(100% - var(--search-layout-width) - var(--page-padding) - var(--page-padding));
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	height: calc(100% - var(--header-height-local) - var(--page-padding) - var(--page-padding));
	top: calc(var(--header-height-local) + var(--page-padding) + var(--page-padding)); /* header + header margin + body padding */
	left: 0;
}

.search-layout ~ .results-layout {
	display: flex;
	flex-direction: column;
}

.search-layout ~ .results-layout .footer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.search-layout label {
	font-size: 1.6rem;
	margin-bottom: 0.6rem;
}

.search-layout label.for-checkbox {
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.5rem;
}

.search-layout-toggle-button {
	display: none;
	font-size: 1.8rem;
	position: fixed;
	transition: left var(--fast-animation-duration) ease-in-out;
	left: 0;
	top: calc(var(--header-height-local) + var(--page-padding) + var(--page-padding)); /* header + header margin + body padding */
	z-index: 99;
	width: 1.2rem;
	height: calc(100% - var(--header-height-local) - var(--page-padding) - var(--page-padding));
	align-items: center;
}

.search-layout-toggle-button-visible {
	left: var(--search-layout-width);
}

.search-layout-toggle-button-visible i::before {
	transform: rotateZ(180deg);
	display: block;
}

.search-layout-toggle-button i {
	cursor: pointer;
	background: rgb(var(--background-color-side-panel));
	padding: 3rem 0;
	border-radius: 0 2rem 2rem 0;
	padding-right: 0.5rem;
	padding-left: 0.25rem;
	font-size: 2rem;
}

.search-filter-title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.2rem;
	text-align: left;
}

.search-checkboxes {
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.1rem 0;
}

.search-checkboxes input[type="checkbox"] {
	background-color: rgb(var(--always-positive-color));
	appearance: none;
	margin: 0;
	font-size: 1.6rem;
	cursor: pointer;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	content: '\f00c' !important;
	color: rgb(var(--always-positive-color));
}

.search-checkboxes input[type="checkbox"]:before {
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	content: '\f00c' !important;
	color: rgb(var(--always-positive-color));
}

.search-checkboxes input[type="checkbox"]:checked {
	background-color: rgb(var(--primary-color));
}

.search-checkboxes input[type="checkbox"]:disabled {
	background-color: rgb(var(--neutral-color));
}

.search-checkboxes input[type="checkbox"]:checked:before {
	color: rgb(var(--always-negative-color));
}

.loading-spinner {
	color: rgb(var(--primary-color));
}

.loading-message, .error-message {
	margin-top: 0.7rem;
}

.catalogue-search, .news-search {
	margin-left: calc(var(--search-layout-width) + var(--page-padding));
	margin-right: var(--page-padding);
	width: calc(100% - var(--search-layout-width));
}

.search-layout {
	align-self: start;
	min-width: var(--search-layout-width);
	width: var(--search-layout-width);
	max-width: var(--search-layout-width);
	background: rgb(var(--background-color-side-panel));
	font-size: 2rem;
	filter: drop-shadow(0.4rem 0.4rem 0.2rem rgba(var(--always-negative-color),var(--drop-shadow-transparency-menu)));
	padding: 1.6rem;
	position: fixed;
	overflow-y: scroll;
	height: calc(100% - var(--header-height-local) - var(--page-padding) - var(--page-padding));
	top: calc(var(--header-height-local) + var(--page-padding) + var(--page-padding) + 0.5rem); /* header + header margin + body padding + header border-bottom; */
}

.style-type-catalogue.has-search-results .main-section, .style-type-news.has-search-results .main-section {
	display: flex;
	align-items: stretch;
}

.style-type-catalogue.has-search-results .section, .style-type-news.has-search-results .section {
	padding: 2.5rem 0 0 0;
	overflow: visible;
}

.style-type-login input:not([type='range']), .style-type-login select, .style-type-login textarea, .style-type-contact input:not([type='range']), .style-type-contact select, .style-type-contact textarea, .account-profile-layout input:not([type='range']), .account-profile-layout select {
	border: 0.1rem solid rgb(var(--positive-color));
}

/* Thumbnail for carousel series elements and so on: shared between catalogue and users */

.catalogue {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.thumbnail-outer {
	display: flex;
	flex-direction: column;
	width: var(--carousel-element-width);
	height: var(--carousel-element-height);
	max-width: var(--carousel-element-width);
	max-height:  var(--carousel-element-height);
	position: relative;
	margin: var(--thumbnail-margin);
	perspective: 100rem;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),var(--drop-shadow-transparency-card));
	background-color: rgb(var(--negative-color));
	border-radius: 0.4rem;
	transition: width var(--fast-animation-duration) ease, transform var(--fast-animation-duration) ease, margin var(--fast-animation-duration) ease;
}

.thumbnail-removed {
	width: 0;
	transform: scale(0);
	margin: 0;
	box-shadow: 0;
}

.thumbnail {
	display: flex;
	position: relative;
	transition: transform var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
	width: 100%; 
	height: calc(100% - var(--thumbnail-text-height));
	z-index: 1; /*remove this to have free hovering*/
	transform-style: preserve-3d;
}

.thumbnail .image-link {
	width: 100%; 
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.status-abandoned .thumbnail .image-link, .status-cancelled .thumbnail .image-link {
	filter: grayscale(70%) brightness(60%);
	transition: filter var(--fast-animation-duration) ease;
}

.thumbnail .image-link img {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
	border-radius: 0.4rem 0.4rem 0 0;
	transform: scale(1.0000001); /* Avoids weird flicker on Chrome when using img with object-fit: cover and scaling */
	transition: border-radius var(--fast-animation-duration) ease;
	transition-delay: 0s;
	background-color: rgba(var(--negative-color), 1);
}

.thumbnail-outer .title {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.45rem;
	text-align: center;
	line-height: 1.2;
	height: var(--thumbnail-text-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.thumbnail-outer .title .ellipsized-title {
	/* For ellipsizing and max 2 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.thumbnail.floating-info-right {
	flex-direction: row;
}

.thumbnail.floating-info-left {
	flex-direction: row-reverse;
}

.thumbnail .floating-info {
	height: var(--carousel-element-height);
	max-height: var(--carousel-element-height);
	min-height: var(--carousel-element-height);
	width: var(--carousel-element-width); 
	max-width: var(--carousel-element-width);
	min-width: var(--carousel-element-width);
	opacity: 1;
	transform: rotateY(-180deg);
	position: absolute;
	z-index: -1; /* to hide behind the image (z-index unset) */
	backface-visibility: hidden;
}

.thumbnail .clickable-thumbnail {
	height: var(--carousel-element-height);
	max-height: var(--carousel-element-height);
	min-height: var(--carousel-element-height);
	width: var(--carousel-element-width); 
	max-width: var(--carousel-element-width);
	min-width: var(--carousel-element-width);
	opacity: 0;
	position: absolute;
}

.thumbnail-clicked {
	z-index: 99;
}

.thumbnail-clicked .thumbnail {
	transform: scale(var(--carousel-scaling)) rotateY(180deg);
}

.thumbnail-clicked .clickable-thumbnail, .thumbnail-clicked .image-link {
	pointer-events: none;
}

.thumbnail-clicked .floating-info-main {
	filter: drop-shadow(0em 0em 0.65rem rgba(var(--always-negative-color),0.8));
	border-radius: 0.4rem !important;
	overflow: visible !important;
}

.thumbnail .floating-info-main {
	display: flex;
	flex-direction: column;
	background-color: rgb(var(--negative-color));
	height: calc(100% - var(--thumbnail-text-height));
	overflow: hidden;
	transition: filter var(--fast-animation-duration) ease;
}

.floating-info-right .floating-info-main {
	border-radius: 0 0.4rem 0.4rem 0;
}

.floating-info-left .floating-info-main {
	border-radius: 0.4rem 0 0 0.4rem;
}

.floating-info-bookmark {
	transition: padding-top var(--fast-animation-duration) ease, padding-bottom var(--fast-animation-duration) ease;
}

.floating-info-bookmark.fas{
	color: rgb(var(--secondary-color));
	position: absolute;
	font-size: 2.2rem;
	right: 0.4rem;
	top: -0.2rem;
	cursor: pointer;
	padding-top: 0;
	padding-bottom: 0.3rem;
}

.floating-info-bookmark.far{
	color: rgb(var(--positive-color));
	position: absolute;
	font-size: 2.2rem;
	right: 0.4rem;
	top: -0.2rem;
	cursor: pointer;
	padding-top: 0.3rem;
	padding-bottom: 0;
}

.floating-info-title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.45rem;
	padding: 0 3rem;
	margin-top: 0.6rem;
	line-height: 1.2;
	/* For ellipsizing and max 2 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.floating-info-versions {
	display: inline-flex;
	font-family: "lexend_deca_light", sans-serif;
	font-size: 1.2rem;
	padding: 0 1rem;
	white-space: nowrap;
	overflow: visible;
	text-overflow: ellipsis;
	line-height: 1.2;
	justify-content: center;
	align-items: center;
}

.floating-info-versions .fansub-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.floating-info-synopsis-wrapper {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -0.3rem;
}

.floating-info-synopsis {
	font-family: "lexend_deca_light", sans-serif;
	font-size: 1.15rem;
	opacity: 0.75;
	padding: 0 1rem;
	line-height: 1.2;
	text-align: left;
	/* For ellipsizing and max 10 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
}

.floating-info-watch-now {
	font-family: "lexend_deca_bold", sans-serif;
	border-radius: 0.6rem;
	padding: 0.35rem 1rem;
	font-size: 1.15rem;
	background: rgb(var(--positive-color));
	white-space: nowrap;
	text-transform: uppercase;
	display: inline-block;
	color: rgb(var(--negative-color));
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
}

.floating-info-divisions {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.2rem;
	padding: 0 1rem;
	margin-top: 0.8rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.floating-info-genres-score-wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 0.3rem;
	margin-bottom: 0.7rem;
	align-items: end;
}

.floating-info-genres-wrapper {
	flex-grow: 1;
	font-family: "lexend_deca_light", sans-serif;
	font-size: 1rem;
	line-height: 1.15;
	padding: 0 1rem;
	height: 2.7rem;
	display: flex;
	align-items: end;
}

.floating-info-genres {
	text-align: left;
	/* For ellipsizing and max 3 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-word;
}

.floating-info-score {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.7rem;
	padding: 0 1rem 0 0;
	line-height: 1;
}

.status-indicator {
	font-size: 1.2rem;
	background: rgb(var(--always-positive-color));
	border-radius: 100%;
}

.thumbnail .versions {
	display: flex;
	justify-content: left;
	flex-direction: row;
	position: absolute;
	top: 0;
	right: 0;
	transition: opacity var(--fast-animation-duration) ease;
	transition-delay: 0s;
	opacity: 1;
	z-index: 2;
	backface-visibility: hidden;
	filter: drop-shadow(0 0 0.2rem rgb(var(--always-negative-color)));
	padding: 0.2rem 0.5rem;
	pointer-events: none;
}

.thumbnail .floating-info-versions-icons {
	display: flex;
	justify-content: left;
	flex-direction: row;
	padding: 0.2rem 0.4rem;
	margin-right: 0.2rem;
	filter: drop-shadow(0 0 0.2rem rgb(var(--always-negative-color)));
}

.thumbnail .versions .fansubs {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-left: 0.4rem;
}

.floating-info-versions-icons .fansubs {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-left: 0.2rem;
}

.thumbnail .versions .fansubs:first-child, .floating-info-versions-icons .fansubs:first-child {
	margin-left: 0;
}

.thumbnail .versions .fansubs .fansub, .floating-info-versions-icons .fansubs .fansub {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-left: -0.4rem;
}

.thumbnail .versions .fansubs .fansub:first-child, .floating-info-versions-icons .fansubs .fansub:first-child {
	margin-left: 0;
}

.thumbnail .versions .fansubs .fansub img {
	display: inline;
	border-radius: 100%;
	width: 2rem;
	height: 2rem;
}

.floating-info-versions-icons .fansubs .fansub img {
	display: inline;
	border-radius: 100%;
	width: 1.8rem;
	height: 1.8rem;
}

.thumbnail .versions .version-status, .floating-info-versions-icons .version-status {
	width: auto;
	height: auto;
	font-size: 0.9rem;
	border-radius: 100%;
	position: absolute;
	bottom: -0.3rem;
	right: -0.3rem;
	background: rgb(var(--always-positive-color));
}

.status-completed .status-indicator, .version-status.status-completed  {
	color: rgb(var(--completed-color));
}

.status-in-progress .status-indicator, .version-status.status-in-progress  {
	color: rgb(var(--in-progress-color));
}

.status-partially-completed .status-indicator, .version-status.status-partially-completed  {
	color: rgb(var(--semicompleted-color));
}

.status-cancelled .status-indicator, .version-status.status-cancelled  {
	color: rgb(var(--cancelled-color));
}

.status-abandoned .status-indicator, .version-status.status-abandoned  {
	color: rgb(var(--abandoned-color));
}

/* Begin double slider code from https://medium.com/@predragdavidovic10/native-dual-range-slider-html-css-javascript-91e778134816 */
.double-slider-container {
	position: relative;
	min-height: 3rem;
	margin-top: 0.8rem;
}

.double-slider-from {
	height: 0 !important;
	z-index: 1;
}

.double-slider-to {
	top: -0.2rem;
}

.double-slider-input-from, .double-slider-input-to {
	font-family: "lexend_deca_light", sans-serif;
	background: rgb(var(--always-positive-color));
	border-radius: 0.7rem;
	font-size: 1.5rem;
	width: 7.5rem;
	color: rgb(var(--always-negative-color));
	margin-top: 1.2rem;
}

.double-slider-input-from {
	float: left;
}

.double-slider-input-to {
	float: right;
}

input[type='range'] { 
	appearance: none;
	height: 0.4rem;
	width: 100%;
	position: absolute;
	left: 0;
	background-color: rgb(var(--neutral-color));
	pointer-events: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	pointer-events: all;
	width: 1rem;
	height: 1rem;
	background-color: rgb(var(--always-positive-color));
	border-radius: 50%;
	box-shadow: 0 0 0 0.2rem rgb(var(--primary-color));
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	pointer-events: all;
	width: 1rem;
	height: 1rem;
	background-color: rgb(var(--always-positive-color));
	border-radius: 50%;
	box-shadow: 0 0 0 0.2rem rgb(var(--primary-color));
	cursor: pointer;
}

input[type='range']::-webkit-slider-thumb:active {
	box-shadow: 0 0 0 0.3rem rgb(var(--primary-color));
}
/* End double slider code from https://medium.com/@predragdavidovic10/native-dual-range-slider-html-css-javascript-91e778134816 */

.switch {
	position: relative;
	display: inline-block;
	width: 6em !important;
	height: 3em;
	margin-top: 0 !important;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(var(--neutral-color));
	transition: var(--fast-animation-duration) ease;
	border-radius: 3em;
}

.slider:before {
	position: absolute;
	content: "";
	height: 3.2em;
	width: 3.2em;
	left: -0.1em;
	bottom: -0.1em;
	background-color: rgb(var(--always-positive-color));
	transition: var(--fast-animation-duration) ease;
	border-radius: 50%;
	filter: drop-shadow(0 0 0.2em rgba(var(--always-negative-color),0.5));
}

input:checked + .slider {
	background-color: rgb(var(--primary-color));
}

input:focus + .slider {
	box-shadow: 0 0 0.1em rgb(var(--primary-color));
}

input:checked + .slider:before {
	transform: translateX(3em);
}

#dialog-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(var(--negative-color),0.5);
	z-index: 9001; /* OVER 9000! */
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialog-overlay-blurred {
	backdrop-filter: blur(15px);
}

#dialog-overlay-content {
	max-width: 960px;
	border-radius: 2rem;
	border: 0.3rem solid rgb(var(--primary-color));
	margin: 1rem;
	padding: 2rem 5rem;
	text-align: center;
	font-size: 1.5rem;
	background: rgb(var(--negative-color));
	position: relative;
	max-height: 90vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#dialog-title {
	font-size: 2.4rem;
	margin-top: 0;
	margin-bottom: 2rem;
}

.scrollable-dialog #dialog-message {
	overflow-y: scroll;
}

#dialog-buttonbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.dialog-button {
	margin: 0 0.5rem;
	min-width: 10rem;
}

#dialog-post-explanation {
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.dialog-close-button {
	position: absolute;
	right: 0.75rem;
	top: 1rem;
	font-size: 3rem;
}

.error-icon {
	color: rgb(var(--error-color));
}

@media (hover: hover) and (pointer: fine) {
	:root {
		--is-hovering-device: 1;
	}

	.catalogues-navigation a:not(.no-underline-animation):hover {
		text-decoration: none;
	}

	.site-message a:hover {
		color: rgb(var(--secondary-color));
		text-decoration: underline;
	}

	.twitter-link:hover, .mastodon-link:hover, .telegram-link:hover, .discord-link:hover, .web-link:hover {
		color: rgb(var(--primary-color));
	}

	.anon-avatar:hover {
		color: rgb(var(--icon-button-color-hover));
	}

	.user-avatar:hover {
		filter: brightness(var(--brightness-hover));
	}

	.dropdown-menu a:hover {
		background-color: rgb(var(--menu-background-color-hover));
	}

	.user-login:hover, .user-logout:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	.contact-button:hover {
		border: 0.1rem solid rgb(var(--primary-color));
	}

	.footer-text a:hover {
		color: rgb(var(--neutral-color));
		text-decoration: underline;
	}

	svg.main-logo:hover path#line_1 {
		d: path("M26 145.763v-1h477v1z");
	}

	svg.main-logo:hover path#line_2 {
		d: path("M133 178.763v-1h348v1z");
	}

	.normal-button:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	.error-page a:hover {
		color: rgb(var(--secondary-color-hover));
		text-decoration: underline;
	}

	.filter-button:hover {
		color: rgb(var(--icon-button-color-hover));
	}

	.search-checkboxes input[type="checkbox"]:hover {
		filter: brightness(0.9);
	}

	.search-checkboxes input[type="checkbox"]:disabled:hover {
		filter: none;
	}

	.catalogue {
		justify-content: left;
	}

	.floating-info-watch-now:hover {
		background: rgb(var(--positive-color-button-hover));
	}

	/* Disable clicking the clickable section */
	.thumbnail .clickable-thumbnail {
		pointer-events: none;
	}

	/* These go here because if the primary pointing device can hover, we want to do this, but if it can't, we don't want to do this EVER */
	.thumbnail-outer {
		perspective: unset;
	}

	.thumbnail {
		transition: transform var(--fast-animation-duration) ease, z-index var(--fast-animation-duration) ease, filter var(--fast-animation-duration) ease;
		transition-delay: 0s;
	}

	.thumbnail:hover {
		transition-delay: var(--thumbnail-transition-delay);
	}

	.status-abandoned .thumbnail:hover .image-link, .status-cancelled .thumbnail:hover .image-link {
		filter: grayscale(0%) brightness(100%);
	}

	.thumbnail .versions {
		backface-visibility: unset;
		transition-delay: 0s;
	}

	.thumbnail:hover .versions {
		transition-delay: var(--thumbnail-transition-delay);
	}

	.thumbnail .image-link {
		backface-visibility: unset;
	}

	.thumbnail .floating-info {
		backface-visibility: unset;
		transform: none;
		opacity: 0;
		transition: height var(--fast-animation-duration) ease-out, max-height var(--fast-animation-duration) ease-out, min-height var(--fast-animation-duration) ease-out, width var(--fast-animation-duration) ease-out, max-width var(--fast-animation-duration) ease-out, min-width var(--fast-animation-duration) ease-out, opacity var(--fast-animation-duration) ease-out, z-index var(--fast-animation-duration) ease-out, transform var(--fast-animation-duration) ease-out;
		transition-delay: 0s;
	}

	.thumbnail:hover .floating-info {
		transition-delay: var(--thumbnail-transition-delay);
	}

	.thumbnail:hover {
		transform: scale(var(--carousel-scaling)) translate(2px, 2px); /*translate is needed to fix blurry text in Chrome, WTF */
		z-index: 9999; /*to go above other carousel elements (z-index 1)*/
	}

	.thumbnail.floating-info-right:hover {
		filter: drop-shadow(0em 0em 0.65rem rgba(var(--always-negative-color),0.8));
	}

	.thumbnail.floating-info-left:hover {
		filter: drop-shadow(0em 0em 0.65rem rgba(var(--always-negative-color),0.8));
	}

	.thumbnail.floating-info-right:hover .image-link img {
		border-radius: 0.4rem 0 0 0.4rem;
		transition-delay: var(--thumbnail-transition-delay);
	}

	.thumbnail.floating-info-left:hover .image-link img {
		border-radius: 0 0.4rem 0.4rem 0;
		transition-delay: var(--thumbnail-transition-delay);
	}

	.thumbnail.floating-info-right:hover .floating-info {
		transform: translateX(99%);
		border-radius: 0 0.4rem 0.4rem 0;
	}

	.thumbnail.floating-info-left:hover .floating-info {
		transform: translateX(-99%);
		border-radius: 0.4rem 0 0 0.4rem;
	}

	.thumbnail:hover .floating-info {
		opacity: 1;
		transform: translateX(0%);
	}

	.thumbnail:hover .versions {
		opacity: 0;
	}

	.dialog-close-button:hover {
		color: rgb(var(--positive-color-button-hover));
	}
}

@media (max-width: 1920px){
	:root {
		--background-image: url('../images/site/background_dark_hd.jpg');
	}

	.theme-light {
		--background-image: url('../images/site/background_light_hd.jpg');
	}
}

@media (max-width: 1200px){
	.user-login {
		min-width: 4rem;
		padding: 0.75rem 0.75rem;
	}

	#search_query {
		width: 20rem;
	}

	.user-login-text {
		display: none;
	}

	.user-login-icon {
		display: inline;
	}
}

@media (max-width: 960px){
	:root {
		--header-height-local: 8.4rem;
		--page-padding: 1rem;
		--carousel-element-width: 12.72rem;
		--carousel-element-height: 20.1rem;
		--thumbnail-margin: 0.3rem;
		--thumbnail-text-height: 2.1rem;
	}

	.main-logo {
		width: 24rem;
		height: 6.667rem;
	}

	.logo-layer {
		left: -4rem;
		top: -4rem;
		width: 32rem;
		height: 14.667rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	.style-type-catalogue .header, .style-type-news .header, .style-type-fansubs .header, .style-type-settings .header {
		justify-content: left;
		flex-wrap: wrap;
	}

	.catalogues-navigation {
		margin-left: 0;
		width: 100%;
		justify-content: center;
		align-items: center;
		order: 99;
		font-size: 1.8rem;
	}

	.catalogues-explicit-category {
		font-size: 1.4rem;
		margin-left: 0.8rem;
	}

	.social-link {
		font-size: 2.6rem;
	}

	.logo-small svg {
		width: 12rem;
		height: 3.333rem;
	}

	.logo-layer-small {
		width: 16rem;
		height: 7.333rem;
		left: -2rem;
	}

	.text-page {
		padding: 1rem;
	}

	.user-avatar {
		width: 4rem;
		height: 4rem;
	}

	.anon-avatar {
		width: 4rem;
		height: 4rem;
		margin-right: -0.8rem;
	}

	.user-login-text {
		display: inline;
	}

	.user-login-icon {
		display: none;
	}

	.section {
		padding: 1.5rem var(--page-padding) 0 var(--page-padding);
	}

	.section-title-main {
		font-size: 1.7rem;
		margin-bottom: 1.5rem;
	}

	.section-title-main i {
		font-size: 1.9rem;
	}

	.section-empty {
		font-size: 1.5rem;
	}

	.section-empty i {
		font-size: 3rem;
		margin-bottom: 0.5rem;
	}

	.search-layout {
		padding: 1rem;
		z-index: 99;
		transform: translateX(-100%);
		transition: transform var(--fast-animation-duration) ease-in-out;
	}

	.search-layout-visible {
		transform: translateX(0);
	}

	.search-layout-toggle-button {
		display: flex;
	}

	.search-layout ~ .loading-layout, .search-layout ~ .error-layout {
		margin-left: var(--page-padding);
		width: 100%;
	}

	.catalogue-search, .news-search {
		margin-left: var(--page-padding);
		width: 100%;
	}

	.thumbnail-outer .title {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
		font-size: 0.95rem;
		line-height: 1.1;
	}

	.thumbnail .versions .fansubs .fansub img {
		width: 1.6rem;
		height: 1.6rem;
	}

	.floating-info-versions-icons .fansubs .fansub img {
		width: 1.4rem;
		height: 1.4rem;
	}

	.thumbnail .versions .version-status {
		font-size: 0.6rem;
		bottom: -0.2rem;
		right: -0.2rem;
	}

	.floating-info-versions-icons .version-status {
		font-size: 0.6rem;
		bottom: -0.1rem;
		right: -0.1rem;
	}

	.floating-info-bookmark.fas, .floating-info-bookmark.far {
		font-size: 1.4rem;
		right: 0;
	}

	.floating-info-title {
		font-size: 1rem;
		padding: 0 1.75rem;
		margin-top: 0.3rem;
	}

	.floating-info-versions {
		font-size: 0.8rem;
		padding: 0 0.5rem;
		margin-top: 0;
	}

	.floating-info-synopsis {
		font-size: 0.8rem;
		padding: 0 0.5rem;
		-webkit-line-clamp: 8;
		line-height: 1.1;
	}

	.floating-info-watch-now {
		border-radius: 0.3rem;
		padding: 0.3rem 0.75rem;
		font-size: 1rem;
	}

	.floating-info-divisions {
		font-size: 0.8rem;
		padding: 0 0.5rem;
		margin-top: 0.4rem;
	}

	.floating-info-genres-score-wrapper {
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
		align-items: end;
	}

	.floating-info-genres-wrapper {
		font-size: 0.7rem;
		padding: 0 0.5rem;
		height: 1.5rem;
	}

	.floating-info-score {
		font-size: 1.6rem;
		padding: 0 0.5rem 0 0;
	}

	#dialog-title {
		font-size: 2.2rem;
		margin-bottom: 1rem;
	}

	.normal-button, .login-button {
		font-size: 1.4rem;
	}

	.filter-button {
		display: none;
	}

	.mobile-search-button {
		display: block;
	}
}

@media (max-width: 600px){
	:root {
		--search-layout-width: 90vw;
	}

	.user-login-text {
		display: none;
	}

	.user-login-icon {
		display: inline;
	}

	.style-type-settings .catalogues-navigation {
		font-size: 1.4rem;
	}
}

@media (max-width: 350px){
	.catalogues-navigation {
		font-size: 1.6rem;
	}

	.style-type-settings .catalogues-navigation {
		font-size: 1.2rem;
	}

	.style-type-settings .catalogues-separator {
		margin-left: 0.4rem;
		margin-right: 0.4rem;
	}
}
