/* POSSIBLE BREAKING POINTS:
	L: 1200px;
	M:  920px;
	S:  600px;
	XS: 350px;
*/


@font-face {
	font-family: "lexend_deca";
	src: url('../fonts/lexend_deca_regular.ttf');
}

@font-face {
	font-family: "lexend_deca_bold";
	src: url('../fonts/lexend_deca_bold.ttf');
}

@font-face {
	font-family: "lexend_deca_light";
	src: url('../fonts/lexend_deca_light.ttf');
}

@font-face {
	font-family: "lexend_deca_numbers";
	src: url('../fonts/lexend_deca_numbers.ttf');
}

:root {
	--header-height: 4.2rem;
	--page-padding: 3.6rem;
	--search-layout-width: 28rem;
	--ultrafast-animation-duration: .2s;
	--fast-animation-duration: .3s;
	--slow-animation-duration: .6s;
	--is-hovering-device: 0;
	--always-positive-color: 255, 255, 255;
	--always-negative-color: 0, 0, 0;
	--primary-color: 106, 160, 248;
	--primary-color-hover: 76, 130, 218;
	--secondary-color: 249, 192, 43;
	--secondary-color-hover: 219, 162, 13;
	--neutral-color: 136, 136, 136;
	--error-color: 255, 68, 68;
	--brightness-hover: 1.1;
}

.theme-dark {
	/* Generic white color */
	--positive-color: 255, 255, 255;
	/* Same but on hover: a little less bright, -40/+60 */
	--positive-color-button-hover: 215, 215, 215;
	/* Generic black color */
	--negative-color: 0, 0, 0;
	/* Same but on hover: a little more bright, +60/-40 */
	--negative-color-button-hover: 60, 60, 60;
	/* Used in footer links, a bit darker so when hovered they can change to neutral, -30/+30 */
	--neutral-color-links: 106, 106, 106;
	/* Generic background for all pages WITHOUT background images, +40,-20 */
	--background-color-standard: 30, 30, 30;
	/* Background color for side filter panel, +50/-40 */
	--background-color-side-panel: 50, 50, 50;
	/* User dropdown menu background color when hovering, +40/-20 */
	--menu-background-color-hover: 40, 40, 40;
	/* Color for header icons */
	--icon-button-color: 255, 255, 255;
	/* Same but on hover: a little less bright, -40/+80 */
	--icon-button-color-hover: 215, 215, 215;
	/* Drop shadow transparency for cards/thumbnails */
	--drop-shadow-transparency-card: 0.4;
	/* Drop shadow transparency for menus or popups that appear above the content */
	--drop-shadow-transparency-menu: 0.5;
}

.theme-light {
	--positive-color: 0, 0, 0;
	--positive-color-button-hover: 60, 60, 60;
	--negative-color: 255, 255, 255;
	--negative-color-button-hover: 215, 215, 215;
	--neutral-color-links: 166, 166, 166;
	--background-color-standard: 235, 235, 235;
	--background-color-side-panel: 215, 215, 215;
	--menu-background-color-hover: 235, 235, 235;
	--icon-button-color: 0, 0, 0;
	--icon-button-color-hover: 80, 80, 80;
	--drop-shadow-transparency-card: 0.2;
	--drop-shadow-transparency-menu: 0.5;
}

.subtheme-hentai {
	--primary-color: 217, 24, 131;
	--primary-color-hover: 187, 0, 101;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Hide dots in Firefox... screws accessibility though */
:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}

::-webkit-scrollbar {
	background: transparent;
	width: 0.7rem;
}
::-webkit-scrollbar-thumb {
	background: rgb(var(--neutral-color));
	border-radius: 99rem;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "lexend_deca", sans-serif;
	font-size: 62.5%;
	color: rgb(var(--positive-color));
	background-color: rgb(var(--negative-color));
	scrollbar-gutter: stable;
	min-width: 280px;
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	padding: 0;
	font-size: 1.2rem;
	line-height: 1.2;
	text-align: left;
	background: linear-gradient(to bottom, rgba(var(--negative-color),1) 0%, rgba(var(--negative-color),0.65) 25% 75%, rgba(var(--negative-color),1) 100%), url('../images/site/background.jpg');
	background-size: cover;
	background-position: center;
}

body.style-type-catalogue, body.style-type-news, body.style-type-fansubs {
	background: rgb(var(--background-color-standard));
}

body.style-type-catalogue .section-title-main .header-with-background, body.style-type-news .section-title-main .header-with-background, body.style-type-groups .section-title-main .header-with-background {
	background-color: rgb(var(--background-color-standard));
}

a {
	color: rgb(var(--positive-color));
	cursor: pointer;
	text-decoration: none;
}

a img {
	border: none;
}

.hidden {
	display: none !important;
	opacity: 0;
}

.centered {
	text-align: center !important;
}

.site-message {
	padding: 1rem;
	border-radius: 0.6rem;
	background-color: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	text-align: center;
	font-size: 1.6rem;
}

.header {
	flex-grow: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-bottom: var(--page-padding);
}

.main-body, .overlay-page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--page-padding);
}

.style-type-catalogue.has-carousel .main-body {
	display: block;
}

.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	flex-grow: 0;
	margin-top: 1.8rem;
	text-align: center;
}

.obscured-background {
	background: linear-gradient(to bottom, transparent 0%, rgba(var(--primary-color),0.35) 25% 75%, transparent 100%);
	backdrop-filter: grayscale(1);
}

.overlay-page {
	justify-content: center;
}

.social-link {
	font-size: 3.6rem;
	text-align: left;
	transition: color var(--fast-animation-duration);
	margin-right: 0.9rem;
}

.separator {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: var(--header-height);
	justify-content: end;
	order: 30;
}

.user-options {
	flex-grow: 0;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	height: var(--header-height);
	justify-content: center;
	order: 50;
}

.user-login {
	text-align: center;
	font-weight: normal;
	display: inline-block;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	padding: 0.75rem 2.25rem;
	margin: 0 0.4rem;
	min-width: 6rem;
	font-size: 1.5rem;
	border-radius: 0.4rem;
	order: 40;
}

.user-avatar {
	display: block;
	border-radius: 99rem;
	width: 5rem;
	height: 5rem;
	border: 0.2rem solid rgb(var(--primary-color));
	cursor: pointer;
}

.anon-avatar {
	display: flex;
	width: 5rem;
	height: 5rem;
	font-size: 2.5rem;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	color: rgb(var(--icon-button-color));
	border-radius: 99rem;
}

.dropdown-menu {
	float: right;
	position: relative;
	display: block;
}

.anon-options {
	margin-right: 1.5rem;
	font-size: 2.4rem;
	color: rgb(var(--positive-color));
}

.dropdown-button {
	cursor: pointer;
}

.dropdown-button i {
	pointer-events: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(var(--negative-color));
	min-width: 18rem;
	overflow: auto;
	filter: drop-shadow(0em 0.5rem 0.65rem rgba(var(--always-negative-color),var(--drop-shadow-transparency-menu)));
	right: 0;
	z-index: 999;
	border-radius: 0.6rem;
	margin-top: 0.6rem;
}

.dropdown-title {
	font-family: "lexend_deca_bold", sans-serif;
	color: rgb(var(--positive-color));
	padding: 0.8rem 2.5rem;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 1.7rem;
	white-space: nowrap;
}

.dropdown-separator, .dropdown-separator-secondary {
	border: 0.1rem solid rgb(var(--primary-color));
	margin: 0 0;
}

.dropdown-content a {
	color: rgb(var(--positive-color));
	padding: 1.5rem 2.2rem;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 1.5rem;
	font-weight: normal;
	white-space: nowrap;
}

.dropdown-show {
	display: block;
}

.main-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contact-button {
	display: inline-block;
	background: rgb(var(--negative-color));
	color: rgb(var(--positive-color));
	padding: 0.7rem 2rem;
	margin: 0em 0.3rem;
	margin-bottom: 1.3rem;
	min-width: 10rem;
	font-size: 1.3rem;
	border-radius: 0.6rem;
	border: 0.1rem solid rgb(var(--negative-color));
	transition: border var(--fast-animation-duration), background var(--fast-animation-duration);
	text-align: center;
}

.footer-text {
	color: rgb(var(--neutral-color));
}

.footer-text a {
	color: rgb(var(--neutral-color-links));
}

.main-logo {
	width: 36rem;
	height: 10rem;
	max-width: 100%;
	object-fit: contain;
	user-select: none;
}

svg.main-logo g {
	fill: rgb(var(--positive-color)) !important;
}

svg.main-logo path#line_1, svg.main-logo path#line_2 {
	transition: d var(--fast-animation-duration);
}

svg.main-logo path#line_1, svg.main-logo path#line_2, svg.main-logo path#line_3 {
	fill: rgb(var(--primary-color));
	stroke: rgb(var(--primary-color));
}

label:not(.for-checkbox), input:not([type='checkbox']):not([type='range']), select, textarea {
	font-family: inherit;
	display: block;
	text-align: left;
	width: 100%;
	font-size: 1.5rem;
	font-weight: normal;
}

label {
	margin-top: 1.1rem;
}

label.for-checkbox {
	font-family: inherit;
	text-align: left;
	width: 100%;
	font-size: 1.5rem;
	font-weight: normal;
}

textarea {
	height: 11rem;
}

input:not([type='range']), select, textarea {
	margin-top: 0.2rem;
	padding: 0.7rem;
	border-radius: 0.6rem;
	border: none;
}

select {
	border-right: 0.6rem solid transparent;
}

.normal-button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	text-align: center;
	margin-top: 1.5rem;
	font-weight: normal;
	display: inline-block;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	padding: 0.7rem 2.2rem;
	font-size: 1.5rem;
	border-radius: 0.7rem;
}

.error-page a {
	color: rgb(var(--secondary-color));
}

.logo-small {
	height: var(--header-height);
	display: flex;
	justify-content: center;
	align-items: center;
	order: 10;
}

.logo-small svg {
	display: block;
	width: 18rem;
	height: 5rem;
	z-index: 0;
}

.text-page {
	max-width: 1500px;
	padding: 2.8rem;
	border-radius: 1.5rem;
	font-size: 1.5rem;
	font-weight: normal;
	text-align: left;
	margin-top: 1.5rem;
	background: rgba(var(--negative-color),0.7);
}

.new-paragraph {
	margin-top: 0.75rem;
}

.section {
	padding: 0 var(--page-padding) 2.5rem var(--page-padding);
	overflow: hidden;
	width: 100%;
}

.section-title-main {
	font-family: "lexend_deca", sans-serif; /* revert to normal in this case */
	font-weight: normal;
	color: rgb(var(--positive-color));
	text-decoration: none;
	font-size: 2.4rem;
	width:100%;
	text-align: left;
	margin-top: 0;
	margin-bottom: 2.5rem;
	display: flex;
	align-items: center;
}

.section-title-main::after {
	content: '';
	border: 0.3rem solid rgb(var(--primary-color));
	border-radius: 99rem;
	margin-left: 1.2rem;
	margin-top: 0.2em;
	flex-grow: 1;
}

.section-title-main i {
	font-size: 2.6rem;
	margin-right: 0.8rem;

}

.section-empty {
	font-size: 1.7rem;
}

.section-empty i {
	font-size: 4rem;
	margin-bottom: 0.8rem;
}

.section-content {
	font-weight: normal;
	line-height: 1.5;
}

.section-title {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h2{
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2rem;
}

h3{
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.8rem;
}

h4{
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.65rem;
}

h2.section-title:first-of-type {
	margin-top: 0;
}

.contact-form {
	font-size: 1.15rem;
}

.validation-message {
	color: rgb(var(--error-color));
	text-align: left;
	padding: 0.25rem;
	font-size: 1.25rem;
}

.validation-message-generic {
	color: rgb(var(--error-color));
	text-align: center;
	padding: 0.3rem;
	margin-top: 1.4rem;
	font-size: 1.5rem;
}

.validation-message:empty, .validation-message-generic:empty {
	display: none;
}

.invalid {
	border: 0.1rem solid rgb(var(--error-color));
}

.user-login-icon {
	display: none;
}

.search-form {
	margin-right: 0.6rem;
}

#search_form {
	position: relative;
	display: inline-block;
}

#search_query {
	width: 26rem;
	margin-right: 0.7rem;
	vertical-align: middle;
	height: 3.4rem;
	border-radius: 0.7rem;
	padding: 0 3.2rem 0 1rem;
	display: inline-block;
	border: 0.1em solid rgb(var(--always-negative-color));
}

#search_query_autocomplete {
	position: absolute;
	margin-right: 0.7rem;
	z-index: 99;
	top: 3rem;
	left: 0;
	right: 0;
	border: 0.1em solid rgb(var(--always-negative-color));
	border-top: none;
	background: rgb(var(--always-positive-color));
	border-bottom-left-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 4rem;
	color: rgb(var(--always-negative-color));
	overflow: hidden;
}

.filter-button {
	margin-right: 2rem;
	font-size: 1.4rem;
	color: rgb(var(--icon-button-color));
}

.filter-button .fa-stack-1x {
	background: rgba(var(--background-color-standard),1);
	height: 1.7em;
	width: 1.7em;
	border-radius: 999em;
	left: 1em;
	top: 0.5em;
	margin-left: 0.6em;
	margin-top: 0.6em;
	line-height: 1.5
}

#search_button {
	cursor: pointer;
	font-size: 1.7rem;
	margin-left: -3.4rem;
	color: gray;
	float: right;
	margin-right: 1.5rem;
	margin-top: 1rem;
        position: relative;
        z-index: 2;
}

.loading-layout, .error-layout {
	font-size: 1.8rem;
	width: 100%;
}

.search-layout ~ .loading-layout, .search-layout ~ .error-layout {
	margin-left: calc(var(--search-layout-width) + var(--page-padding));
	width: calc(100% - var(--search-layout-width) - var(--page-padding) - var(--page-padding));
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	height: calc(100% - var(--header-height-local) - var(--page-padding) - var(--page-padding));
	top: calc(var(--header-height-local) + var(--page-padding) + var(--page-padding)); /* header + header margin + body padding */
	left: 0;
}

.search-layout ~ .results-layout.hidden {
	display: flex !important;
	visibility: hidden;
}

.search-layout ~ .results-layout {
	display: flex;
	flex-direction: column;
}

.search-layout ~ .results-layout .section:nth-of-type(1) {
	flex-grow: 1;
}

.search-layout label {
	font-size: 1.6rem;
	margin-bottom: 0.6rem;
}

.search-layout label.for-checkbox {
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.5rem;
}

.search-layout-toggle-button {
	display: none;
	font-size: 1.8rem;
	position: fixed;
	transition: left var(--fast-animation-duration) ease-in-out;
	left: 0;
	cursor: pointer;
	top: calc(var(--header-height-local) + var(--page-padding) + var(--page-padding)); /* header + header margin + body padding */
	z-index: 99;
	width: 1.2rem;
	height: calc(100% - var(--header-height-local) - var(--page-padding) - var(--page-padding));
	background-image: linear-gradient(0deg,transparent,rgb(var(--neutral-color)), transparent);
	align-items: center;
}

.search-layout-toggle-button-visible {
	left: var(--search-layout-width);
	transform: rotateZ(180deg);
}

.search-filter-title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.2rem;
	text-align: left;
}

.search-checkboxes {
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.1rem 0;
}

.search-checkboxes input[type="checkbox"] {
	background-color: rgb(var(--negative-color));
	appearance: none;
	margin: 0;
	font-size: 1.6rem;
	cursor: pointer;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	content: '\f00c' !important;
	color: rgb(var(--always-positive-color));
}

.search-checkboxes input[type="checkbox"]:before {
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	content: '\f00c' !important;
	color: rgb(var(--negative-color));
}

.search-checkboxes input[type="checkbox"]:checked {
	background-color: rgb(var(--primary-color));
}

.search-checkboxes input[type="checkbox"]:disabled {
	background-color: rgb(var(--neutral-color));
}

.search-checkboxes input[type="checkbox"]:checked:before {
	color: rgb(var(--always-negative-color));
}

.loading-spinner {
	color: rgb(var(--primary-color));
}

.loading-message, .error-message {
	margin-top: 0.7rem;
}

.catalogue-search, .news-search {
	margin-left: calc(var(--search-layout-width) + var(--page-padding));
	margin-right: var(--page-padding);
	width: calc(100% - var(--search-layout-width));
}

.search-layout {
	align-self: start;
	min-width: var(--search-layout-width);
	width: var(--search-layout-width);
	max-width: var(--search-layout-width);
	background: rgb(var(--background-color-side-panel));
	font-size: 2rem;
	filter: drop-shadow(0.4rem 0.4rem 0.2rem rgba(var(--always-negative-color),var(--drop-shadow-transparency-menu)));
	padding: 1.6rem;
	position: fixed;
	overflow-y: scroll;
	height: calc(100% - var(--header-height-local) - var(--page-padding) - var(--page-padding));
	top: calc(var(--header-height-local) + var(--page-padding) + var(--page-padding)); /* header + header margin + body padding; */
	left: 0;
}

.style-type-catalogue.has-search-results .main-section, .style-type-news.has-search-results .main-section {
	align-items: stretch;
}

.style-type-catalogue.has-search-results .section, .style-type-news.has-search-results .section {
	padding: 0 0 2.5rem 0;
	overflow: visible;
}

/* Begin double slider code from https://medium.com/@predragdavidovic10/native-dual-range-slider-html-css-javascript-91e778134816 */
.double-slider-container {
	position: relative;
	min-height: 3rem;
	margin-top: 0.8rem;
}

.double-slider-from {
	height: 0 !important;
	z-index: 1;
}

.double-slider-to {
	top: -0.2rem;
}

.double-slider-input-from, .double-slider-input-to {
	font-family: "lexend_deca_light", sans-serif;
	background: rgb(var(--always-positive-color));
	border-radius: 0.7rem;
	font-size: 1.5rem;
	width: 7.5rem;
	color: rgb(var(--always-negative-color));
	margin-top: 1.2rem;
}

.double-slider-input-from {
	float: left;
}

.double-slider-input-to {
	float: right;
}

input[type='range'] { 
	appearance: none;
	height: 0.4rem;
	width: 100%;
	position: absolute;
	left: 0;
	background-color: rgb(var(--neutral-color));
	pointer-events: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	pointer-events: all;
	width: 1rem;
	height: 1rem;
	background-color: rgb(var(--always-positive-color));
	border-radius: 50%;
	box-shadow: 0 0 0 0.2rem rgb(var(--primary-color));
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	pointer-events: all;
	width: 1rem;
	height: 1rem;
	background-color: rgb(var(--always-positive-color));
	border-radius: 50%;
	box-shadow: 0 0 0 0.2rem rgb(var(--primary-color));
	cursor: pointer;
}

input[type='range']::-webkit-slider-thumb:active {
	box-shadow: 0 0 0 0.3rem rgb(var(--primary-color));
}
/* End double slider code from https://medium.com/@predragdavidovic10/native-dual-range-slider-html-css-javascript-91e778134816 */

@media (hover: hover) {
	:root {
		--is-hovering-device: 1;
	}

	.site-message a:hover {
		color: rgb(var(--secondary-color));
		text-decoration: underline;
	}

	.twitter-link:hover {
		color: #7ab0ff;
	}

	.mastodon-link:hover {
		color: #6364ff;
	}

	.telegram-link:hover {
		color: #229ED9;
	}

	.discord-link:hover {
		color: #7289da;
	}

	.web-link:hover {
		color: rgb(var(--primary-color-hover));
	}

	.anon-avatar:hover {
		color: rgb(var(--icon-button-color-hover));
	}

	.user-avatar:hover {
		filter: brightness(var(--brightness-hover));
	}

	.dropdown-menu a:hover {
		background-color: rgb(var(--menu-background-color-hover));
	}

	.user-login:hover, .user-logout:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	.contact-button:hover {
		border: 0.1rem solid rgb(var(--primary-color));
	}

	.footer-text a:hover {
		color: rgb(var(--neutral-color));
		text-decoration: underline;
	}

	svg.main-logo:hover path#line_1 {
		d: path("M26 145.763v-1h477v1z");
	}

	svg.main-logo:hover path#line_2 {
		d: path("M133 178.763v-1h348v1z");
	}

	.normal-button:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	.error-page a:hover {
		background-color: rgb(var(--secondary-color-hover));
		text-decoration: underline;
	}

	.filter-button:hover {
		color: rgb(var(--icon-button-color-hover));
	}

	.search-checkboxes input[type="checkbox"]:hover {
		filter: brightness(0.9);
	}

	.search-checkboxes input[type="checkbox"]:disabled:hover {
		filter: none;
	}
}

@media (max-width: 1200px){
	.user-login {
		min-width: 4rem;
		padding: 0.75rem 0.75rem;
	}

	#search_query {
		width: 20rem;
	}

	.user-login-text {
		display: none;
	}

	.user-login-icon {
		display: inline;
	}
}

@media (max-width: 920px){
	:root {
		--page-padding: 1rem;
	}

	.social-link {
		font-size: 2.6rem;
	}

	.logo-small svg {
		width: 12rem;
		height: 3.333rem;
	}

	.text-page {
		padding: 1rem;
	}

	.user-avatar {
		width: 4rem;
		height: 4rem;
	}

	.anon-avatar {
		width: 4rem;
		height: 4rem;
		margin-right: -0.8rem;
	}

	.user-login-text {
		display: inline;
	}

	.user-login-icon {
		display: none;
	}

	.section {
		padding: 0 var(--page-padding) 1.5rem var(--page-padding);
	}

	.section-title-main {
		font-size: 1.7rem;
		margin-bottom: 1.5rem;
	}

	.section-title-main i {
		font-size: 1.9rem;
	}

	.section-empty {
		font-size: 1.5rem;
	}

	.section-empty i {
		font-size: 3rem;
		margin-bottom: 0.5rem;
	}

	.search-layout {
		padding: 1rem;
		z-index: 99;
		transform: translateX(-100%);
		transition: transform var(--fast-animation-duration) ease-in-out;
	}

	.search-layout-visible {
		transform: translateX(0);
	}

	.search-layout-toggle-button {
		display: flex;
	}

	.search-layout ~ .loading-layout, .search-layout ~ .error-layout {
		margin-left: var(--page-padding);
		width: 100%;
	}

	.catalogue-search, .news-search {
		margin-left: var(--page-padding);
		width: 100%;
	}
}

@media (max-width: 600px){
	:root {
		--search-layout-width: 90vw;
	}

	.user-login-text {
		display: none;
	}

	.user-login-icon {
		display: inline;
	}
}
