.main-site-logo {
	margin-bottom: 4.2rem;
	position: relative;
}

.main-button {
	font-family: "lexend_deca_bold", sans-serif;
	display: inline-block;
	background-color: rgb(var(--always-positive-color));
	color: rgb(var(--always-negative-color));
	padding: 1.4rem 2rem;
	margin: 1.5rem 0.75rem 0;
	min-width: 26rem;
	font-size: 3rem;
	border-radius: 0.5rem;
	border: 0.3rem solid rgb(var(--positive-color));
	transition: border var(--fast-animation-duration), letter-spacing var(--fast-animation-duration), background var(--fast-animation-duration);
	text-align: center;
}

.secondary-button {
	display: inline-block;
	background: rgba(var(--negative-color),0.5);
	color: rgb(var(--positive-color));
	padding: 1.1rem 2rem;
	margin: 1.5rem 0.75rem 0;
	min-width: 24rem;
	font-size: 2.4rem;
	border-radius: 0.5rem;
	border: 0.2rem solid rgb(var(--positive-color));
	transition: border .3s, letter-spacing .3s;
	text-align: center;
}

.tertiary-button {
	display: inline-block;
	background: rgba(var(--negative-color),0.5);
	color: rgb(var(--positive-color));
	padding: 0.75rem 2rem;
	margin: 1.25rem 0.25rem 0;
	min-width: 16rem;
	font-size: 2rem;
	border-radius: 0.5rem;
	border: 0.2rem solid rgb(var(--neutral-color));
	transition: border .3s, letter-spacing .3s;
	text-align: center;
}

.advent-button {
	font-size: 2.5rem;
	padding: 1rem 2.2rem;
	min-width: 32rem;
}

.principle {
	margin-left: 1rem;
}

.style-type-fansubs .main-section {
	width: calc(100% + var(--page-padding) + var(--page-padding));
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
	justify-content: start;
	flex-direction: column;
	align-items: start;
}

.fansubs-index, .community-index {
	width: 100%;
}

.fansubs-grouping {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.historical-fansubs {
	opacity: 0.75;
}

.fansub {
	background-color: rgb(var(--card-background-color));
	border-radius: 1.5rem;
	padding: 2rem;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),0.2);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: calc((100% / 3) - (((3 - 1) / 3) * 1.5rem));
}

.fansub-icon {
	width: 9.6rem;
	height: 9.6rem;
	object-fit: cover;
	border-radius: 1rem;
}

.fansub-info {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 2rem;
	font-size: 1.6rem;
}

.fansub-text {
	text-align: left;
	flex-grow: 1;
	font-size: 1.6rem;
	margin-top: 2rem;
}

.fansub-name {
	font-family: "lexend_deca_bold", sans-serif;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.2rem;
	/* For ellipsizing and max 2 lines */
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.fansub-content {
	display: flex;
	flex-direction: row;
	margin: 0 -2rem -2rem -2rem;
}

.fansub-links {
	margin-top: 0.5rem;
	font-size: 2.5rem;
}

.content-button {
	flex-basis: 0;
	flex-grow: 1;
	padding: 1rem 0.2rem;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	border-top: 1px solid rgb(var(--negative-color));
}

.content-button + .content-button {
	border-left: 1px solid rgb(var(--negative-color));
}

.disabled-content-button {
	text-align: center;
	font-weight: normal;
	background: rgb(var(--neutral-color));
	color: rgb(var(--always-positive-color));
	font-size: 1.5rem;
	opacity: 0.75;
}

.content-type {
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
}

.content-quantity {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.2rem;
}

.fansub-text-wrapper {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.fansub-blacklisted {
	opacity: 0.4;
}

.fansub-blacklisted .fansub-icon {
	filter: grayscale(1);
}

.community-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: start;
	margin: -0.5rem;
	margin-top: 0.5rem;
}

.community-item {
	width: calc(25% - 1rem);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	margin: 0.5rem;
	border-radius: 1rem;
	background: rgb(var(--negative-color));
}

.community-icon {
	width: 8rem;
	height: 8rem;
	min-width: 8rem;
	min-height: 8rem;
	max-width: 8rem;
	max-height: 8rem;
	object-fit: cover;
	margin-right: 1rem;
	border-radius: 1rem;
	background: rgb(var(--primary-color));
}

.community-data {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.community-title {
	font-weight: bold;
	text-align: left;
	font-size: 1.6rem;
}

.community-description {
	margin-top: 0.2rem;
	text-align: left;
	font-size: 1.4rem;
	line-height: 1;
}

.community-featured .community-item {
	width: unset;
	flex-grow: 1;
	flex-basis: 0;
}

@media (hover: hover) and (pointer: fine) {
	.main-button:hover {
		border: 0.3rem solid rgb(var(--primary-color));
		letter-spacing: 0.15rem;
	}

	.secondary-button:hover, .tertiary-button:hover {
		border: 0.2rem solid rgb(var(--primary-color));
		letter-spacing: 0.15rem;
	}

	.community-item:hover {
		background: rgb(var(--negative-color-button-hover));
	}
}

@media (max-width: 1200px){
	.fansub {
		flex-direction: column;
		border-radius: 1rem;
		padding: 1rem;
		width: calc((100% / 2) - (((2 - 1) / 2) * 1.5rem));
	}

	.fansub-content {
		margin: 0 -1rem -1rem -1rem;
	}

	.fansub-info {
		font-size: 1.4rem;
	}

	.fansub-text {
		font-size: 1.4rem;
		margin-top: 1rem;
	}

	.fansub-name {
		font-size: 1.7rem;
	}

	.content-button {
		margin-top: 1rem;
		padding: 0.5rem 0.2rem;
	}

	.community-item, .community-featured .community-item {
		width: calc(50% - 1rem);
		flex-grow: unset;
		flex-basis: unset;
	}
}

@media (max-width: 960px){
	.main-site-logo {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.main-button {
		padding: 1rem;
		font-size: 2.8rem;
		min-width: 24rem;
		margin: 1rem 0.375rem 0;
	}

	.secondary-button {
		padding: 1rem;
		font-size: 2rem;
		min-width: 20rem;
		margin: 1rem 0.375rem 0;
	}

	.tertiary-button {
		padding: 0.75rem;
		font-size: 1.6rem;
		min-width: 13rem;
		margin: 0.75rem 0.25rem 0;
	}

	.advent-button {
		font-size: 2.3rem;
		padding: 1rem;
		min-width: 30rem;
	}

	.fansub {
		width: 100%;
	}

	.fansubs-grouping {
		gap: 1rem;
	}

	.content-button, .disabled-content-button {
		font-size: 1.2rem;
	}

	.community-item, .community-featured .community-item {
		width: calc(100% - 1rem);
		flex-grow: unset;
		flex-basis: unset;
	}
}

@media (max-width: 600px){
	.main-buttons, .secondary-buttons, .tertiary-buttons {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 350px){
	.content-button {
		font-size: 1.2rem;
	}

	.content-quantity {
		font-size: 1.6rem;
	}
}
