:root {
	--header-height-local: 4.2rem;
}

.style-type-teams .main-section {
	width: calc(100% + var(--page-padding) + var(--page-padding));
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
	justify-content: start;
	flex-direction: row;
}

.teams-index {
	width: 100%;
}

.fansubs-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.team {
	background-color: rgb(var(--negative-color));
	border-radius: 1.5rem;
	padding: 2rem;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),0.2);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	width: 33.33333%;
}

.team-info {
	text-align: left;
	display: flex;
	align-items: center;
	white-space: pre;
	margin-top: 0.2rem;
	font-size: 1.6rem;
}

.team-text {
	text-align: left;
	flex-grow: 1;
	font-size: 1.6rem;
	margin-top: 2rem;
}

.team-name {
	font-family: "lexend_deca_bold", sans-serif;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.2rem;
}

.team-content {
	flex-grow: 1;
}

.team-text-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.team-fansub {
	display: flex;
	align-items: center;
}

.team-fansub img {
	width: 2rem;
	height: 2rem;
	border-radius: 0.4rem;
}

.team-readmore {
	text-align: left;
	margin-top: 1.5rem;
}

@media (max-width: 920px){
	.team {
		flex-direction: column;
		border-radius: 1rem;
		padding: 1rem;
		width: 50%;
	}

	.team-info {
		font-size: 1.4rem;
	}

	.team-text {
		font-size: 1.4rem;
		margin-top: 1rem;
	}

	.team-name {
		font-size: 1.7rem;
	}

	.team-readmore {
		text-align: center;
		margin-top: 1rem;
	}
}

@media (max-width: 600px){
	.team {
		width: 100%;
	}
}
