.login-page {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
}

.login-header {
	font-size: 4.8rem;
	text-align: left;
	margin-bottom: 2.4rem;
	line-height: 1.2;
	font-family: "lexend_deca_bold", sans-serif;
}

.login-explanation {
	display: flex;
	flex-direction: column;
}

.login-points {
	font-size: 2.4rem;
	font-weight: normal;
	line-height: 1.15;
}

.login-point {
	clear: both;
	display: flex;
	flex-direction: row;
	margin: 2.4rem 0;
}

.login-point:nth-child(1), .login-point:nth-child(3) {
	float: left;
}

.login-point:nth-child(2), .login-point:nth-child(4) {
	float: right;
}

.login-point:nth-child(1) .login-point-text, .login-point:nth-child(3) .login-point-text {
	text-align: left;
	margin-left: 0.6rem;
}

.login-point:nth-child(2) .login-point-text, .login-point:nth-child(4) .login-point-text {
	text-align: right;
	margin-right: 0.6rem;
}

.login-point-icon {
	font-size: 4.8rem;
}

.login-form, .forgot-password-form, .forgot-password-result-form, .register-form, .reset-password-form {
	margin-left: 6rem;
	width: 42rem;
	align-self: center;
}

.login-form-main {
	background: rgba(var(--negative-color),0.7);
	border-radius: 0.6rem;
	padding: 3rem;
}

.login-footer {
	background: rgba(var(--negative-color),0.7);
	border-radius: 0.6rem;
	padding: 2.8rem 3.6rem;
	margin-top: 2.8rem;
	font-size: 1.5rem;
}

.login-close {
	font-size: 2.4rem;
	float: right;
	cursor: pointer;
	margin: -1.2rem;
}

.login-subheader {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.7rem;
	margin-bottom: 1.4rem;
	margin-top: -0.7rem;
}

.forgot-password-result-text {
	font-size: 1.5rem;
	font-weight: normal;
}

.login-button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	text-align: center;
	margin-top: 1.5rem;
	font-weight: normal;
	display: block;
	width: 100%;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	padding: 0.75rem 0;
	font-size: 1.5rem;
	border-radius: 0.75rem;
}

a.forgot-password {
	display: block;
	margin-top: 2.2rem;
	font-size: 1.5rem;
}

.login-footer a, .checkbox-layout a {
	color: rgb(var(--secondary-color));
}

.checkbox-layout {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 1.2rem;
	align-items: center;
}

.checkbox-layout input, .checkbox-layout label {
	width: auto;
	margin: 0;
}

.checkbox-layout label {
	padding-left: 0.4rem;
}

.date-chooser {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.date-day {
	width: 25%;
}

.date-month {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.date-year {
	width: 30%;
}

.style-type-users .main-section {
	width: calc(100% + var(--page-padding) + var(--page-padding));
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
	justify-content: start;
}

@media (hover: hover) {
	.login-close:hover {
		filter: drop-shadow(0 0 0.4rem rgba(var(--positive-color), 0.5));
	}

	.login-button:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	a.forgot-password:hover {
		text-decoration: underline;
	}

	.login-footer a:hover, .checkbox-layout a:hover {
		color: rgb(var(--secondary-color-hover));
		text-decoration: underline;
	}
}

@media (max-width: 920px){
	.login-page {
		flex-direction: column-reverse;
	}

	.login-explanation {
		margin-top: 1.2rem;
	}

	.login-form, .forgot-password-form, .register-form {
		margin-left: 0;
		width: 100%;
	}

	.login-form-main {
		padding: 1.2rem;
		margin-top: 1.2rem;
	}

	a.forgot-password {
		margin-top: 1.2rem;
	}

	.login-footer {
		padding: 1.2rem;
		margin-top: 2rem;
	}

	.login-close {
		margin-right: 0;
		margin-top: -1.2rem;
	}

	.login-header {
		font-size: 2.7rem;
		text-align: center;
		margin-bottom: 0.6rem;
	}

	.login-points {
		font-size: 1.7rem;
	}

	.login-point {
		margin: 1.2rem 0;
	}

	.login-point-icon {
		font-size: 3rem;
	}
}
