.login-page {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
}

.login-header {
	font-size: 4.8rem;
	text-align: left;
	margin-bottom: 2.4rem;
	line-height: 1.2;
	font-family: "lexend_deca_bold", sans-serif;
}

.login-explanation {
	display: flex;
	flex-direction: column;
}

.login-points {
	font-size: 2.4rem;
	font-weight: normal;
	line-height: 1.15;
}

.login-point {
	clear: both;
	display: flex;
	flex-direction: row;
	margin: 2.4rem 0;
}

.login-point:nth-child(1), .login-point:nth-child(3) {
	float: left;
}

.login-point:nth-child(2), .login-point:nth-child(4) {
	float: right;
}

.login-point:nth-child(1) .login-point-text, .login-point:nth-child(3) .login-point-text {
	text-align: left;
	margin-left: 0.6rem;
}

.login-point:nth-child(2) .login-point-text, .login-point:nth-child(4) .login-point-text {
	text-align: right;
	margin-right: 0.6rem;
}

.login-point-icon {
	font-size: 4.8rem;
}

.login-form, .forgot-password-form, .forgot-password-result-form, .register-form, .reset-password-form {
	margin-left: 6rem;
	width: 42rem;
	align-self: center;
}

.login-form-main {
	background: rgba(var(--negative-color),0.7);
	border-radius: 0.6rem;
	padding: 3rem;
}

.login-footer {
	background: rgba(var(--negative-color),0.7);
	border-radius: 0.6rem;
	padding: 2.8rem 3.6rem;
	margin-top: 2.8rem;
	font-size: 1.5rem;
}

.login-close {
	font-size: 2.4rem;
	float: right;
	cursor: pointer;
	margin: -1.2rem;
}

.login-subheader {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.7rem;
	margin-bottom: 1.4rem;
	margin-top: -0.7rem;
}

.login-shared {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2rem;
	margin-bottom: 1.4rem;
	margin-top: -0.7rem;
}

.forgot-password-result-text {
	font-size: 1.5rem;
	font-weight: normal;
}

.login-button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	text-align: center;
	margin-top: 1.5rem;
	font-weight: normal;
	display: block;
	width: 100%;
	background: rgb(var(--primary-color));
	color: rgb(var(--always-positive-color));
	padding: 0.75rem 1.5rem;
	font-size: 1.5rem;
	border-radius: 0.75rem;
}

a.forgot-password {
	display: block;
	margin-top: 2.2rem;
	font-size: 1.5rem;
}

.login-footer a, .checkbox-layout a {
	color: rgb(var(--secondary-color));
}

.checkbox-layout {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 1.2rem;
	align-items: center;
}

.checkbox-layout input, .checkbox-layout label {
	margin: 0;
}

.checkbox-layout label {
	padding-left: 0.4rem;
}

.date-chooser {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.date-day {
	width: 25%;
}

.date-month {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.date-year {
	width: 30%;
}

.style-type-users .main-section, .style-type-settings .main-section {
	width: calc(100% + var(--page-padding) + var(--page-padding));
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
	justify-content: start;
}

.style-type-yearly-summary .main-section {
	width: calc(100% + var(--page-padding) + var(--page-padding));
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
	justify-content: start;
}

.style-type-yearly-summary .main-section .section {
	width: calc(100% + var(--page-padding) + var(--page-padding));
	margin-left: calc(0rem - var(--page-padding));
	margin-right: calc(0rem - var(--page-padding));
	justify-content: start;
}

.profile-layout {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.account-profile-layout {
	display: flex;
	flex-direction: row;
	padding-top: var(--page-padding);
	padding-left: var(--page-padding);
	padding-right: var(--page-padding);
}

.settings-section {
	background-color: rgb(var(--card-background-color));
	border-radius: 1.5rem;
	padding: 2rem;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),var(--drop-shadow-transparency-card));
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.profile-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: var(--page-padding);
	font-size: 1.4rem;
	max-width: 30rem;
	align-self: start;
}

.profile-avatar-name {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-avatar {
	position: relative;
	width: 14rem;
	height: 14rem;
	overflow: hidden;
	border-radius: 99rem;
	border: 0.3rem solid rgb(var(--primary-color));
}

.profile-avatar-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile-avatar-change {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(var(--negative-color), 0.5);
	opacity: 1;
	transition: opacity var(--fast-animation-duration) ease-in-out;
	color: rgb(var(--always-positive-color));
}

.profile-details-section + .profile-details-section {
	margin-left: 2rem;
}

.profile-name {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.profile-links {
	display: flex;
	flex-direction: column;
}

.profile-button {
	padding: 0.5rem 0;
}

.profile-h-divider {
	border-top: 0.1rem solid rgb(var(--primary-color));
	margin: 1.5rem -4rem;
	width: calc(100% + 8rem);
}

.content-section {
	flex-grow: 1;
}

.content-tabs {
	text-align: left;
	border-bottom: 0.1rem solid rgb(var(--primary-color));
	padding-bottom: 0.5rem;
	padding: 1rem 2rem;
}

.content-tab {
	font-size: 1.8rem;
	color: rgb(var(--neutral-color));
}

.content-tab-active {
	font-size: 1.8rem;
	color: rgb(var(--positive-color));
}

.content-tab + .content-tab {
	margin-left: 1.5rem;
}

.content-layout {
	flex-grow: 1;
}

#bottom-buttons {
	margin-top: 2.5rem;
}

#bottom-buttons .normal-button {
	min-width: 20rem;
	margin: 0.5rem;
}

.profile-page {
	background-color: rgb(var(--card-background-color));
	border-radius: 1.5rem;
	padding: 2rem;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),var(--drop-shadow-transparency-card));
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: relative;
}

.account-profile-page {
	background-color: rgb(var(--card-background-color));
	border-radius: 1.5rem;
	padding: 2rem;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(var(--always-negative-color),var(--drop-shadow-transparency-card));
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}

.remove-profile {
	position: absolute;
	right: 2rem;
	bottom: 1rem;
}

.profile-basic-info, .profile-statistics {
	flex-grow: 1;
	text-align: left;
}

.profile-section-header, .settings-section-header {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.2rem;
}

.profile-section-data-header {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.7rem;
	margin-top: 2rem;
}

.profile-section-data-info {
	font-size: 1.6rem;
	margin-top: 0.5rem;
	color: rgba(var(--positive-color), 0.7);
}

.profile-section-explanation {
	font-size: 1.5rem;
	margin: 1.5rem 0;
}

.settings-section-data {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.settings-section-data + .settings-section-data {
	border-top: 0.1rem solid rgb(var(--primary-color));
	padding-top: 2rem;
}

.settings-section-data-header {
	font-size: 1.7rem;
	flex-grow: 1;
	flex-shrink: 1;
	padding-right: 1rem;
}

.settings-section-data-header-title {
	font-family: "lexend_deca_bold", sans-serif;
}

.settings-section-data-header-subtitle {
	font-size: 1.4rem;
	margin-top: 0.5rem;
}

.settings-section-data-switch {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}

.settings-section-data-switch .settings-combo {
	width: auto;
}

.settings-section-data-switch .switch {
	display: flex;
	font-size: 0.65rem;
	flex-shrink: 0;
	margin-left: 2rem;
}

.settings-section-data-switch .switch .slider {
	width: 6em;
}

.settings-section-data-switch .switch .settings-section-data-header {
	margin-left: 4rem;
}

.settings-display, .settings-hentai, .settings-seen-settings, .settings-reader, .settings-blacklist {
	text-align: left;
}

.settings-section + .settings-section {
	margin-top: 2rem;
}

.blacklisted-fansubs-list-number {
	font-size: 1.3rem;
	color: rgb(var(--neutral-color));
	text-align: center;
	margin-top: 0.2rem;
}

.empty-list {
	display: flex;
	flex-grow: 1;
	align-items: center;
	flex-direction: column;
}

.edit-blacklisted-fansubs {
	white-space: nowrap;
	margin-top: 0;
}

.account-button {
	padding-left: 3rem;
	padding-right: 3rem;
	width: unset;
	align-self: center;
}

.account-profile-layout form {
	display: flex;
	flex-direction: column;
}

#edit-profile-form .profile-avatar {
	cursor: pointer;
	margin-top: 0.2rem;
	width: 12rem;
	height: 12rem;
}

.blacklisted-fansubs-dialog-container {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}

.blacklisted-fansubs-dialog-element {
	width: 33.333%;
	box-sizing: border-box;
	border: 0.3rem solid transparent;
	display: flex;
	align-items: center;
}

.blacklisted-fansubs-dialog-container input[type="checkbox"] {
	background-color: rgb(var(--always-positive-color));
	appearance: none;
	margin: 0;
	font-size: 1.6rem;
	cursor: pointer;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Font Awesome 7 Free" !important;
	font-weight: 900;
	content: '\f00c' !important;
	color: rgb(var(--always-positive-color));
	margin-right: 0.6rem;
}

.blacklisted-fansubs-dialog-container input[type="checkbox"]:before {
	font-family: "Font Awesome 7 Free" !important;
	font-weight: 900;
	content: '\f00c' !important;
	color: rgb(var(--always-positive-color));
}

.blacklisted-fansubs-dialog-container input[type="checkbox"]:checked {
	background-color: rgb(var(--primary-color));
}

.blacklisted-fansubs-dialog-container input[type="checkbox"]:checked:before {
	color: rgb(var(--always-negative-color));
}

.blacklisted-fansubs-dialog-fansub-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 0;
}

.yearly-summary {
	display: flex;
	width: 100%;
	height: 45rem;
	min-height: 45rem;
	position: relative;
	overflow: hidden;
	background: rgb(var(--secondary-color)) 0% 0% no-repeat padding-box;
	justify-content: center;
	align-items: center;
	cursor: default;
	flex-grow: 1;
}

.yearly-summary .background {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: sepia(1) brightness(0.8);
	opacity: 0.2;
	position: absolute;
}

.yearly-summary-slide {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.yearly-summary-header {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 3.8rem;
	color: rgb(var(--negative-color));
	margin-bottom: 2rem;
	padding: 0 2rem;
}

.yearly-summary-text {
	font-size: 2rem;
	color: rgb(var(--negative-color));
	padding: 0 2rem;
}

.yearly-summary-button {
	font-family: "lexend_deca_bold", sans-serif;
	border-radius: 0.8rem;
	padding: 0.8rem 3rem;
	font-size: 1.65rem;
	background: rgb(var(--negative-color));
	white-space: nowrap;
	text-transform: uppercase;
	display: inline-block;
	color: rgb(var(--positive-color));
	margin-top: 4rem;
	line-height: 1.5;
}

.yearly-summary-counters {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
}

.yearly-summary-counter {
	font-family: "lexend_deca_numbers", sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 3.6rem;
}

.yearly-summary-counter-type {
	font-size: 1.8rem;
	font-family: "lexend_deca", sans-serif;
	white-space: nowrap;
	padding: 0 1rem;
	font-weight: normal;
	text-transform: uppercase;
}

#yearly-summary-total-time-counters-header {
	margin-top: 3rem;
	margin-bottom: 1rem;
	font-size: 2.2rem;
}

#yearly-summary-anime-rank, #yearly-summary-manga-rank, #yearly-summary-liveaction-rank, #yearly-summary-community-extra-series {
	margin-top: 3rem;
	font-size: 2.2rem;
}

#yearly-summary-community-extra-topic {
	font-size: 2.2rem;
}

.yearly-summary-empty-list#yearly-summary-anime-rank, .yearly-summary-empty-list#yearly-summary-manga-rank, .yearly-summary-empty-list#yearly-summary-liveaction-rank {
	margin-top: 0;
}

.yearly-summary-series {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.1rem;
	text-align: left;
	position: relative;
}

.yearly-summary-series:nth-child(odd) {
	flex-direction: row-reverse;
	text-align: right;
}

.yearly-summary-series img {
	width: 7.07rem;
	height: 10rem;
	object-fit: cover;
	border-radius: 0.8rem;
	margin: 0 1rem;
}

.yearly-summary-series-title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.2rem;
	width: min(60vw, 60rem);
	max-width: min(60vw, 60rem);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.yearly-summary-note {
	font-size: 1.2rem;
	color: rgb(var(--negative-color));
	margin-top: 2rem;
}

#yearly-summary-button-download {
	margin-top: 1rem;
}

.yearly-summary-avatar {
	display: block;
	border-radius: 99rem;
	width: 8rem;
	height: 8rem;
	border: 0.2rem solid rgb(var(--primary-color));
	margin-bottom: 2rem;
}

.yearly-summary-toggle-mute {
	cursor: pointer;
	font-size: 3rem;
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(var(--negative-color));
	z-index: 1;
	margin: 1rem;
}

@media (hover: hover) and (pointer: fine) {
	.login-close:hover {
		filter: drop-shadow(0 0 0.4rem rgba(var(--positive-color), 0.5));
	}

	.login-button:hover {
		background-color: rgb(var(--primary-color-hover));
	}

	a.forgot-password:hover {
		text-decoration: underline;
	}

	.login-footer a:hover, .checkbox-layout a:hover {
		color: rgb(var(--secondary-color-hover));
		text-decoration: underline;
	}

	.profile-avatar-change {
		opacity: 0;
	}

	.profile-avatar-change:hover {
		opacity: 1;
	}

	.profile-button:hover {
		color: rgb(var(--positive-color-button-hover));
	}

	.content-tab:not(.content-tab-active):hover {
		color: rgb(var(--positive-color-button-hover));
	}

	.blacklisted-fansubs-dialog-container input[type="checkbox"]:hover {
		filter: brightness(0.9);
	}
	
	.yearly-summary-button:hover {
		background: rgb(var(--negative-color-button-hover));
	}

	.yearly-summary-toggle-mute:hover {
		color: rgb(var(--negative-color-button-hover));
	}
}

@media (max-width: 960px){
	.login-subheader {
		font-size: 2.2rem;
	}
	.login-shared {
		font-size: 1.6rem;
		margin-top: 0;
	}

	.login-page {
		flex-direction: column-reverse;
	}

	.login-explanation {
		margin-top: 2.4rem;
	}

	.login-form, .forgot-password-form, .register-form {
		margin-left: 0;
		width: 100%;
	}

	.login-form-main {
		padding: 1.2rem;
		padding-top: 2.4rem;
	}

	a.forgot-password {
		margin-top: 1.2rem;
	}

	.login-footer {
		padding: 1.2rem;
		margin-top: 2rem;
	}

	.login-close {
		margin-right: 0;
		margin-top: -1.2rem;
	}

	.login-header {
		font-size: 2.2rem;
		text-align: center;
		margin-bottom: 0.6rem;
	}

	.login-points {
		font-size: 1.6rem;
	}

	.login-point {
		margin: 1.2rem 0;
	}

	.login-point-icon {
		font-size: 3rem;
	}

	.profile-layout {
		flex-direction: column;
	}

	.settings-section {
		padding: 1rem;
	}

	.settings-section-data-switch .switch, .settings-section-data-switch .settings-combo, .settings-section-data-switch .settings-blacklist-chooser {
		margin-left: 1rem;
	}

	.profile-section-header, .settings-section-header {
		font-size: 1.7rem;
	}

	.settings-section-data-header {
		font-size: 1.5rem;
	}

	.profile-section-data-header {
		font-size: 1.5rem;
	}

	.settings-section-data-header-subtitle {
		font-size: 1.3rem;
	}

	.profile-section-data-info {
		font-size: 1.3rem;
	}

	.profile-section {
		max-width: unset;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.profile-avatar-name {
		margin-right: 1rem;
		max-width: 40%;
	}

	.profile-avatar {
		width: 9rem;
		height: 9rem;
	}

	.profile-name {
		font-size: 1.8rem;
		margin-bottom: 0;
	}

	.profile-details-section + .profile-details-section {
		margin-left: 0;
		margin-top: 2rem;
	}

	.profile-page, .account-profile-page {
		flex-direction: column;
		padding: 1rem;
		margin-top: 2rem;
	}

	.blacklisted-fansubs-dialog-element {
		width: 100%;
	}

	.yearly-summary-note {
		font-size: 1.1rem;
		margin-top: 1rem;
	}
	
	.yearly-summary-header {
		font-size: 2.4rem;
		margin-bottom: 1rem;
		padding: 0 1rem;
	}

	.yearly-summary-text {
		font-size: 1.3rem;
		padding: 0 1rem;
	}

	.yearly-summary-button {
		border-radius: 0.4rem;
		padding: 0.6rem 2rem;
		font-size: 1.3rem;
		margin-top: 1.2rem;
	}
	
	.yearly-summary-series-title {
		font-size: 1.8rem;
	}

	#yearly-summary-total-time-counters-header {
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		font-size: 1.6rem;
	}

	#yearly-summary-anime-rank, #yearly-summary-manga-rank, #yearly-summary-liveaction-rank, #yearly-summary-community-extra-series {
		margin-top: 1.5rem;
		font-size: 1.6rem;
	}

	#yearly-summary-community-extra-topic {
		font-size: 1.6rem;
	}

	.yearly-summary-counter {
		font-size: 2.4rem;
	}

	.yearly-summary-counter-type {
		font-size: 1.4rem;
		padding: 0 0.6rem;
	}

	.yearly-summary-toggle-mute {
		font-size: 2rem;
	}
}

@media (max-width: 350px){
	.settings-section-data-switch .settings-combo, .settings-blacklist-chooser {
		width: 8rem;
	}

	.edit-blacklisted-fansubs {
		white-space: unset;
	}
}
