#Allow access from other domains
SetEnvIf Origin "https://.*\.fansubs\.online$" AccessControlAllowOrigin=$0
Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
Header add Access-Control-Allow-Credentials true
Header merge Vary Origin

#Normal rules
RewriteEngine on
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403

#Hide internal files
RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
RewriteCond %{REQUEST_URI} !do_login\.php
RewriteCond %{REQUEST_URI} !do_register\.php
RewriteCond %{REQUEST_URI} !do_forgot_password\.php
RewriteCond %{REQUEST_URI} !do_reset_password\.php
RewriteCond %{REQUEST_URI} !do_save_site_theme\.php
RewriteCond %{REQUEST_URI} !do_save_to_my_list\.php
RewriteCond %{REQUEST_URI} !error\.php
RewriteRule \.php$ - [F]

#Normal pages
RewriteRule ^la-meva-llista/?$ list.php [L]
RewriteRule ^configuracio/?$ settings.php [L]
RewriteRule ^inicia-la-sessio/?$ login.php [L]
RewriteRule ^tanca-la-sessio/?$ logout.php [L]
RewriteRule ^restableix-la-contrasenya/?$ reset_password.php [L]

