:root {
	--carousel-element-width: 21.2rem;
	--carousel-element-height: 33.2rem;
	--carousel-scaling: 1.25;
	--carousel-animation-duration: .3s;
}

/* Hide dots in Firefox... screws accessibility though */
:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}

/* Header */

.catalogues-navigation {
	margin-left: 2.5rem;
	font-size: 1.7rem;
	text-transform: uppercase;
	align-self: end;
	margin-bottom: -0.2rem;
	display: flex;
	align-items: center;
	font-family: "lexend_deca_light", sans-serif;
	letter-spacing: -0.1rem;
}

.catalogues-navigation a {
	display: block;
	white-space: nowrap;
}

.catalogues-navigation a:hover {
	text-decoration: none;
}

.catalogue-selected-processed {
	font-family: "lexend_deca", sans-serif;
	text-decoration: none !important;
}

.catalogue-selected {
	text-decoration: underline;
	font-family: "lexend_deca", sans-serif;
	text-decoration: underline rgb(var(--primary-color)) 0.3rem;
	text-underline-offset: 0.3rem;
}

.catalogues-separator {
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	display: inline-block;
	margin-top: -0.2rem;
	pointer-events: none;
}

.catalogues-underline {
	position: absolute;
	border-bottom: 0.3rem solid rgb(var(--primary-color));
	z-index: 1;
	transition: all .3s ease-in-out;
	pointer-events: none;
}

.catalogues-underline-noanim {
	transition: all 0s ease-in-out !important;
}

.theme-button {
	margin-left: 0.25rem;
}

.loading {
	font-size: 1.8rem;
}

.loading-spinner {
	color: rgb(var(--primary-color));
}

.loading-message {
	margin-top: 0.7rem;
}

.video-js {
	width: 100%;
	height: 100%;
}

.video-js .vjs-control-bar {
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.75));
	height: 5em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.1em;
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.player_extra_upper {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	padding: 10px;
	z-index: 2000;
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
	background: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,0));
	pointer-events: none;
	align-items: center;
}

.player_extra_upper .player_extra_title {
	font-size: 1.65em;
	line-height: 1.8em;
	flex-grow: 1;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.player_extra_upper .player_extra_close {
	font-size: 1.2em;
	font-family: "lexend_deca_bold", sans-serif;
	pointer-events: auto;
	cursor: pointer;
	padding: 0.5em 0.6em;
}

.player_extra_upper .player_extra_close svg {
	fill: currentColor;
	height: 18px;
	width: 18px;
}

.player_extra_ended {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1999;
	background: rgba(0,0,0,0.5);
	align-items: center;
	justify-content: center;
}

.video-js.vjs-ended .vjs-big-play-button {
	display: none !important;
}

.video-js.vjs-ended .player_extra_ended {
	display: flex;
}

.video-js .vjs-progress-control .vjs-progress-holder {
	font-size: 1.6666666667em;
}

.video-js .vjs-play-progress, .video-js .vjs-volume-level {
	background-color: #00b3ff;
}

.video-js .vjs-progress-control .vjs-slider-bar .vjs-time-tooltip {
	display: none !important;
}

.player_extra_ended_button {
	background: #00b3ff !important;
	border: 0 !important;
	border-radius: 100%;
	color: #fff;
	opacity: .9;
	padding: calc(10px * 1.5);
	transition: .3s !important;
	z-index: 2;
	width: 76px !important;
	height: 76px;
	font-size: 2em !important;
	margin-left: 0.25em;
	margin-right: 0.25em;
	cursor: pointer;
}

.player_extra_ended_button:hover {
	opacity: 1;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing {
	cursor: none;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing .player_extra_upper {
	opacity: 0;
	pointer-events: none;
	transform: translateY(-100%);
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-casting .player_extra_upper {
	visibility: visible;
	opacity: 1;
	transform: none;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
	transform: translateY(100%);
	transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-casting .vjs-control-bar {
	opacity: 1;
	transform: none;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-casting .vjs-control-bar{
	visibility: visible;
	opacity: 1;
	transform: none;
}

.video-js .vjs-current-time, .video-js .vjs-time-divider, .video-js .vjs-duration {
	display: block;
}

.video-js .vjs-time-control {
	padding-left: 0;
	padding-right: 0;
	min-width: 1em;
	font-size: 1.2em;
	line-height: 2.4em;
}

.video-js.vjs-paused.vjs-has-started .vjs-big-play-button {
	display: block;
}

.video-js .vjs-playback-rate .vjs-playback-rate-value {
	padding-top: 0.3em;
	font-size: 1.1em;
}

.video-js .vjs-big-play-button {
	display: none;
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	/* end FA */
	transition: .3s;
	font-size: 2.5em;
	width: 3em;
	height: 3em;
	background-color: #00b3ff !important;
	border: none;
	border-radius: 100%;
	padding-left: 0.2em;
	z-index: 2; /* Higher than Cast screen */
}
.video-js .vjs-big-play-button:before {
	content: "\f04b";
}

.video-js.vjs-paused .vjs-big-play-button {
	display: inline-block;
}

.video-js .vjs-big-play-button:hover {
	background-color: #10c3ff !important;
}
.video-js.vjs-paused .vjs-big-play-button .vjs-icon-placeholder:before{
	display: none;
}

.video-js.vjs-casting .vjs-big-play-button {
	display: none !important;
}

.video-js.vjs-big-play-centered .vjs-big-play-button {
	margin-top: -1.5em !important;
}

.vjs-loading-spinner {
	z-index: 2; /* Higher than Cast screen */
}

.video-js .vjs-button{
	transition: .3s;
}

.video-js .vjs-control {
	width: 3em;
	margin-left: 0.1em;
	margin-right: 0.1em;
}

.video-js .vjs-button .vjs-icon-placeholder:before, .video-js .vjs-chromecast-button .vjs-icon-placeholder{
	font-size: 2.25em;
	line-height: 1.3em
}

.video-js .vjs-chromecast-button .vjs-icon-placeholder {
	width: 0.9em;
	height: 0.9em;
}

.video-js .vjs-mute-control, .video-js .vjs-current-time {
	margin-right: 0;
}

.video-js .vjs-volume-control, .video-js .vjs-duration {
	margin-left: 0;
}

.video-js .vjs-progress-control {
	margin-right: 0;
	margin-left: 0;
}

.player_error_icon {
	font-size: 2em;
	color: #F88;
}

.video-js .player_error_title {
	font-size: 2.5em;
	line-height: normal;
	font-family: "lexend_deca_bold", sans-serif;
}

.video-js .player_error_icon {
	margin-bottom: 0.2em;
	line-height: normal;
}

.video-js .player_error_details {
	margin-top: 0.75em;
	line-height: normal;
	font-size: 1.5em;
}

.video-js .player_error_buttons {
	margin-top: 1.25em;
}

.video-js .error-close-button {
	color: #FFF !important;
	font-size: 1.5em !important;
	font-family: "lexend_deca_bold" !important;
	border-radius: 4px;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	padding: 0.5em 1em;
	background: rgb(80, 80, 80) !important;
	white-space: nowrap;
	border: none !important;
	cursor: pointer;
}

.video-js .error-close-button:hover {
	background: rgb(100, 100, 100);
}

.user-settings {
	margin-left: 1.8rem;
	margin-right: 3.6rem;
	font-size: 2.4rem;
	color: rgb(var(--positive-color));
}

.filter-settings {
	margin-right: 1.5rem;
	font-size: 2.4rem;
	color: rgb(var(--positive-color));
}

.search-form {
	margin: 0.6rem;
}

#search_query {
	width: 23rem;
	margin-right: 0.7rem;
	vertical-align: middle;
	height: 3rem;
	border-radius: 0.7rem;
	padding: 0 3.2rem 0 1rem;
	display: inline-block;
	border: 0.1em solid rgb(var(--always-negative-color));
}

#search_button {
	vertical-align: middle;
	cursor: pointer;
	font-size: 1.7rem;
	margin-left: -3.4rem;
	color: gray;
}

.section {
	padding: 0.6rem 3.6rem 2.4rem 3.6rem;
	overflow: hidden;
}

.section:nth-of-type(1) {
	padding-top: 2.4rem;
}

.section-title-main {
	font-family: "lexend_deca", sans-serif; /* revert to normal in this case */
	font-weight: normal;
	color: rgb(var(--positive-color));
	text-decoration: none;
	font-size: 2.4rem;
	width:100%;
	text-align: left;
	margin-top: 0.5rem;
	margin-bottom: 3rem;
	display: flex;
	align-items: center;
}

.section-title-main::after {
	content: '';
	border: 0.3rem solid rgb(var(--primary-color));
	border-radius: 99rem;
	margin-left: 1.2rem;
	margin-top: 0.2em;
	flex-grow: 1;
}

.section-title-main i {
	font-size: 2.6rem;
	margin-right: 0.8rem;

}

.section-content {
	font-size: 1.3rem;
}

/* Main screen */

.recommendation {
	display: flex;
	width: 100%; 
	height: 40rem;
	max-height: 40rem;
	position: relative;
	transition: all .6s ease;
	overflow: hidden;
	background: rgb(var(--secondary-color)) 0% 0% no-repeat padding-box;
	mix-blend-mode: screen;
	justify-content: center;
}

.advent {
	display: block;
	width: 100%; 
	height: 40rem;
	max-height: 40rem;
	position: relative;
	transition: all .6s ease;
	overflow: hidden;
	justify-content: center;
}

.recommendation img.background {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
	filter: sepia(1) brightness(0.8);
	opacity: 0.2;
}

.recommendation .status {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: rgb(var(--positive-color));
	font-size: 2rem;
	margin-left: 6rem;
	margin-top: 1.5rem;
	padding-left: 0;
	padding-right: 1.5rem;
	white-space: nowrap;
	max-width: 25%;
	background-color: rgba(var(--negative-color), 0.5);
	border-radius: 99rem;
	line-height: 1.25;
}

.recommendation .status i {
	font-size: 2.6rem;
	margin-right: 0.8rem;
	margin-left: -0.25rem;
}

.recommendation .infoholder {
	height: 100%;
	position: absolute;
	color: rgb(var(--positive-color));
	padding: 2.5rem;
	max-width: 100rem;
	display: flex;
	flex-direction: row;
}

.recommendation .dataholder {
	height: 100%;
	text-align: left;
	color: rgb(var(--negative-color));
}

.recommendation .watchbutton {
	font-family: "lexend_deca_bold", sans-serif;
	border-radius: 0.8rem;
	padding: 0.8rem 3rem;
	font-size: 1.65rem;
	background: rgb(var(--negative-color));
	white-space: nowrap;
	text-transform: uppercase;
	display: inline-block;
	color: rgb(var(--positive-color));
	margin-top: 2.2rem;
}

.recommendation .watchbutton:hover {
	opacity: 0.8;
}

.recommendation .coverholder {
	height: 100%;
	aspect-ratio: 0.70710678118;
	filter: drop-shadow(0 0 2.6rem rgba(var(--negative-color),0.5));
	margin-right: 2.6rem;
}

.recommendation .cover {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0.4rem;
}

.recommendation .title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 4rem;
	line-height: 1;
	/* For ellipsizing and max 2 lines */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.recommendation .divisions {
	font-size: 1.85rem;
	line-height: 1.3;
}

.recommendation .synopsis {
	font-size: 1.6rem;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 2.2rem;
	line-height: 1.3;
	/* For ellipsizing and max 7 lines */
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}

.recommendation .fansubs {
	display: flex;
	justify-content: right;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	color: rgb(var(--negative-color));
	font-size: 1.7rem;
	padding-top: 1.2rem;
	padding-left: 1.2rem;
	padding-right: 5rem;
	white-space: nowrap;
	max-width: 25%;
}

.recommendation .fansub {
	display: flex;
	justify-content: right;
	align-items: center;
	margin-bottom: 0.8rem;
}

.recommendation .fansub i {
	margin-right: 0.3rem;
}

.recommendation .fansub img {
	display: inline;
	margin-left: 0.8rem;
	border-radius: 0.8rem;
	width: 2.6rem;
	height: 2.6rem;
}

.recommendation .genres {
	font-family: "lexend_deca_light", sans-serif;
	display: flex;
	justify-content: right;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	color: rgb(var(--positive-color));
	font-size: 1.3rem;
	padding-right: 4.6rem;
	padding-bottom: 1.3rem;
	padding-left: 1rem;
	max-width: 25%;
	flex-wrap: wrap;
	align-items: center;
}

.recommendation .genres i {
	font-size: 2.1rem;
	-webkit-text-stroke: 0.1rem rgb(var(--always-negative-color));
}

.recommendation .genres .genre {
	background-color: rgb(var(--negative-color));
	border-radius: 99rem;
	padding: 0.1rem 0.6rem;
	margin: 0.25rem 0.25rem;
}

.status-abandoned .thumbnail:hover img {
	filter: grayscale(0%) brightness(100%);
}

.status-cancelled .thumbnail:hover img {
	filter: grayscale(0%) brightness(100%);
}

.slick-list {
	overflow: visible !important;
}

.recommendations .slick-list {
	margin-left: -4rem;
	margin-right: -4rem;
	background-color: rgb(var(--secondary-color));
}

.slick-prev, .slick-next {
	z-index: 100;
}

.slick-prev:hover:before, .slick-next:hover:before {
	opacity: 0.5;
}

.carousel .slick-prev {
	background-image: linear-gradient(90deg,rgb(var(--background-color-standard)), transparent, transparent, transparent);
	transform: translateX(-1.1rem) translateY(-50%);
	width: 4rem;
	height: 100%;
}

.carousel .slick-next {
	background-image: linear-gradient(-90deg,rgb(var(--background-color-standard)), transparent, transparent, transparent);
	transform: translateX(1.1rem) translateY(-50%);
	width: 4rem;
	height: 100%;
}

.carousel .slick-prev::before, .carousel .slick-next::before {
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	color: rgb(var(--positive-color));
	font-size: 3rem;
	padding: 3.6rem;
	-webkit-text-stroke: 0.1rem rgb(var(--negative-color));
}

.recommendations .slick-prev::before, .recommendations .slick-next::before {
	font-family: "Font Awesome 6 Free" !important;
	font-weight: 900;
	color: rgb(var(--always-negative-color));
	font-size: 3rem;
	padding: 3rem;
}

.carousel .slick-prev::before {
	padding-left: 0;
	content: '\f053' !important;
}

.carousel .slick-next::before {
	margin-left: -1.5rem;
	content: '\f054' !important;
}

.recommendations .slick-prev::before {
	padding-left: 6rem;
	content: '\f053' !important;
}

.recommendations .slick-next::before {
	padding-right: 6rem;
	margin-left: -9rem;
	content: '\f054' !important;
}

.slick-disabled {
	visibility: hidden;
}

.slick-dots {
	bottom: 0.25rem;
}

.slick-dotted.slick-slider {
	margin-bottom: unset;
}

.slick-dots li {
	margin: 0 0.1rem !important;
}

.slick-dots li button {
	padding: 0 !important;
}

.slick-dots li button::before {
	font-size: 1.2rem !important;
}

.carousel, .recommendations {
	opacity: 0;
}

.carousel.slick-initialized, .genres-carousel.slick-initialized, .recommendations.slick-initialized {
	opacity: 1;
	position: relative;
}

.thumbnail-outer {
	display: flex;
	flex-direction: column;
	width: var(--carousel-element-width);
	height: var(--carousel-element-height);
	max-width: var(--carousel-element-width);
	max-height:  var(--carousel-element-height);
	position: relative;
	transition: all var(--carousel-animation-duration) ease;
	margin: 0.5rem;
}

.thumbnail {
	display: flex;
	position: relative;
	transition: all var(--carousel-animation-duration) ease;
	width: 100%; 
	height: calc(100% - 3.2rem);
	z-index: 1; /*remove this to have free hovering*/
}

.thumbnail:hover {
	transform: scale(var(--carousel-scaling));
	filter: grayscale(0%) brightness(100%);
	z-index: 9999; /*to go above other carousel elements (z-index 1)*/
}

.thumbnail .image-link {
	width: 100%; 
	height: 100%;
	z-index: 1; /*remove this to have free hovering*/
}

.thumbnail img {
	display: block;
	width: 100%; 
	height: 100%;
	object-fit: cover;
	border-radius: 0.4rem;
	transition: all var(--carousel-animation-duration) ease;
}

.thumbnail-outer .title {
	width: 100%;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	font-size: 1.45rem;
	text-align: center;
	line-height: 1.1;
	height: 3.2rem;
	background-color: rgb(var(--negative-color));
	display: flex;
	align-items: center;
	justify-content: center;
}

.thumbnail-outer .title .ellipsized-title {
	text-overflow: ellipsis;
	overflow: hidden;
	/* For ellipsizing and max 2 lines */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.thumbnail.floating-info-right {
	flex-direction: row;
}

.thumbnail.floating-info-left {
	flex-direction: row-reverse;
}

.thumbnail.floating-info-right:hover {
	filter: drop-shadow(0em 0em 0.65rem rgba(var(--always-negative-color),0.8));
}

.thumbnail.floating-info-left:hover {
	filter: drop-shadow(0em 0em 0.65rem rgba(var(--always-negative-color),0.8));
}

.thumbnail.floating-info-right:hover img {
	border-radius: 0.4rem 0 0 0.4rem;
}

.thumbnail.floating-info-left:hover img {
	border-radius: 0 0.4rem 0.4rem 0;
}

.thumbnail.floating-info-right:hover .floating-info {
	transform: translateX(99%);
	border-radius: 0 0.4rem 0.4rem 0;
}

.thumbnail.floating-info-left:hover .floating-info {
	transform: translateX(-99%);
	border-radius: 0.4rem 0 0 0.4rem;
}

.thumbnail .floating-info {
	height: var(--carousel-element-height);
	max-height: var(--carousel-element-height);
	min-height: var(--carousel-element-height);
	width: var(--carousel-element-width); 
	max-width: var(--carousel-element-width);
	min-width: var(--carousel-element-width);
	opacity: 0;
	transition: all var(--carousel-animation-duration) ease-out;
	position: absolute;
	z-index: -1; /* to hide behind the image (z-index unset) */
}

.thumbnail .floating-info-main {
	display: flex;
	flex-direction: column;
	background-color: rgb(var(--negative-color));
	height: calc(100% - 3.2rem);
}

.thumbnail:hover .floating-info {
	opacity: 1;
	transform: translateX(0%);
}

.floating-info .status-indicator{
	opacity: 1 !important;
	left: 1rem !important;
	top: 0.8rem !important;
	transition: none !important;
}

.floating-info-bookmark.fas{
	color: rgb(var(--secondary-color));
	position: absolute;
	font-size: 2rem;
	right: 0.4rem;
	top: 0.8rem;
	cursor: pointer;
}

.floating-info-bookmark.far{
	color: rgb(var(--positive-color));
	position: absolute;
	font-size: 2rem;
	right: 0.4rem;
	top: 0.8rem;
	cursor: pointer;
}

.floating-info-title {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.45rem;
	padding: 0 1rem;
	margin-top: 2.8rem;
	width: 100%;
	line-height: 1.1;
	/* For ellipsizing and max 2 lines */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.floating-info-fansub {
	font-family: "lexend_deca_light", sans-serif;
	font-size: 1.2rem;
	padding: 0 1rem;
	margin-top: 0.4rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.1;
}

.floating-info-synopsis-wrapper {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.floating-info-synopsis {
	font-family: "lexend_deca_light", sans-serif;
	font-size: 1.15rem;
	opacity: 0.75;
	padding: 0 1rem;
	line-height: 1.1;
	/* For ellipsizing and max 8 lines */
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.floating-info-watch-now {
	font-family: "lexend_deca_bold", sans-serif;
	border-radius: 0.6rem;
	padding: 0.25rem 1rem;
	font-size: 1.15rem;
	background: rgb(var(--positive-color));
	white-space: nowrap;
	text-transform: uppercase;
	display: inline-block;
	color: rgb(var(--negative-color));
	margin-left: auto;
	margin-right: auto;
}

.floating-info-watch-now:hover {
	opacity: 0.8;
}

.floating-info-divisions {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 1.2rem;
	padding: 0 1rem;
	margin-top: 0.9rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.floating-info-genres-score-wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 0.7rem;
	align-items: end;
}

.floating-info-genres-wrapper {
	flex-grow: 1;
	font-family: "lexend_deca_light", sans-serif;
	font-size: 1rem;
	line-height: 1.1;
	padding: 0 1rem;
	height: 3.5rem;
	display: flex;
	align-items: end;
}

.floating-info-genres {
	/* For ellipsizing and max 3 lines */
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.floating-info-score {
	font-family: "lexend_deca_bold", sans-serif;
	font-size: 2.7rem;
	padding: 0 1rem 0 0;
	line-height: 1;
}

.thumbnail .status-indicator {
	position: absolute;
	width: 0;
	height: 0;
	top: 0.4rem;
	left: 0.5rem;
	transition: all var(--carousel-animation-duration) ease;
	border-radius: 99rem;
	opacity: 1;
	z-index: 2;
}

.thumbnail:hover .status-indicator {
	opacity: 0;
}

.status-completed .status-indicator {
	border: 0.6rem solid green;
}

.status-in-progress .status-indicator {
	border: 0.6rem solid yellow;
}

.status-partially-completed .status-indicator {
	border: 0.6rem solid greenyellow;
}

.status-cancelled .status-indicator {
	border: 0.6rem solid red;
}

.status-abandoned .status-indicator {
	border: 0.6rem solid coral;
}

/* Series screen */
/* TODO */
