RewriteEngine on
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403

RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
RewriteCond %{REQUEST_URI} !error\.php
RewriteCond %{REQUEST_URI} !results\.php
RewriteRule \.php$ - [F]

RewriteRule ^pagina/(.+)/?$ index.php?page=$1
RewriteRule ^rss/?$ rss.php
RewriteRule ^cerca/?$ search.php
RewriteRule ^cerca/([^/]+)/?$ search.php?query=$1 [B,QSA,L]
