RewriteEngine on
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403

RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
RewriteCond %{REQUEST_URI} !error\.php
RewriteRule \.php$ - [F]

RewriteRule ^pagina/(.+)/?$ index.php?page=$1
RewriteRule ^rss/?$ rss.php
RewriteRule ^cerca/(.+)/pagina/(.+)/?$ index.php?query=$1&page=$2
RewriteRule ^cerca/(.+)/?$ index.php?query=$1

