RewriteEngine on
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403

#Hide internal files
RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
RewriteRule \.php$ - [F]

RewriteRule ^check/?$ check.php [L]
RewriteRule ^profiles/?$ profiles.php [L]

