<div class="fansubscat-footer">
<!-- IF not MCHAT_PAGE -->
	<div class="footer">
		<!-- IF not MCHAT_PAGE --><a class="contact-button" href="https://www.fansubs.cat/contacta-amb-nosaltres">Contacta amb nosaltres</a><!-- ENDIF -->
		<div class="footer-text">Tots els drets dels textos, imatges i obres esmentades pertanyen a llurs propietaris.<br>Comunitat de <a href="https://www.fansubs.cat/">Fansubs.cat</a> • <a href="https://www.fansubs.cat/politica-de-privadesa">Política de privadesa</a> • <a href="https://estat.fansubs.cat" target="_blank">Estat del servei</a> • Funciona amb <a href="https://www.phpbb.com/" target="_blank">phpBB</a> i <a href="https://kasimi.net/" target="_blank">mChat</a> • Disseny del fòrum d’<a href="https://www.artodia.com/" target="_blank">Arty</a></div>
<!-- IF DEBUG_OUTPUT -->
<p class="footer-row">
	<span class="footer-info">{{ DEBUG_OUTPUT }}</span>
</p>
<!-- ENDIF -->
	</div>
<!-- ENDIF -->
</div>
