
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ul>

			</div>
		</div>
	<!-- ENDIF -->

	<!-- EVENT forumlist_body_category_header_before -->
	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<div class="forabg category-{forumrow.FORUM_ID}{% if definition.STANDARD_FORUMS_LAYOUT == 0 %} elegant{% endif %}" data-hide-description="{$HIDE_FORUM_DESCRIPTION}">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<!-- EVENT forumlist_body_category_header_row_prepend -->
					<dl class="row-item">
						<dt><div class="list-inner"><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}" data-id="{forumrow.FORUM_ID}"><i class="fa fa-fa fa-<!-- IF forumrow.FORUM_NAME == 'General' -->star<!-- ENDIF --><!-- IF forumrow.FORUM_NAME == 'Món otaku' -->torii-gate<!-- ENDIF --><!-- IF forumrow.FORUM_NAME == 'Continguts' -->comment<!-- ENDIF --><!-- IF forumrow.FORUM_NAME == 'Entreteniment' -->masks-theater<!-- ENDIF --><!-- IF forumrow.FORUM_NAME == 'Fansubs' -->user-group<!-- ENDIF --><!-- IF forumrow.FORUM_NAME == 'Miscel·lània' -->seedling<!-- ENDIF -->"></i> {forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></div></dt>
						<!-- IF $STANDARD_FORUMS_LAYOUT != 0 -->
						<dd class="topics">{L_TOPICS}</dd>
						<dd class="posts">{L_POSTS}</dd>
						<!-- ENDIF -->
						<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
					</dl>
					<!-- EVENT forumlist_body_category_header_row_append -->
				</li>
			</ul>
			<ul class="topiclist forums">
	<!-- ENDIF -->
	<!-- EVENT forumlist_body_category_header_after -->

	<!-- IF not forumrow.S_IS_CAT -->
		<!-- EVENT forumlist_body_forum_row_before -->
		<li class="row forum-{forumrow.FORUM_ID}">
			<!-- EVENT forumlist_body_forum_row_prepend -->
			<!-- DEFINE $EXTRA_DESC -->
			<!-- IF $STANDARD_FORUMS_LAYOUT == 0 and not forumrow.CLICKS and not forumrow.S_IS_LINK -->
				<div class="forum-statistics">
					<span class="dfn">{L_TOPICS}</span>{L_COLON} <span class="value">{forumrow.TOPICS}</span><span class="comma">{L_COMMA_SEPARATOR}</span>
					<span class="dfn">{L_POSTS}</span>{L_COLON} <span class="value">{forumrow.POSTS}</span>
				</div>
			<!-- ENDIF -->
			<!-- ENDDEFINE -->
			<dl class="row-item {forumrow.FORUM_IMG_STYLE}{% if definition.EXTRA_DESC|trim %} elegant-row{% endif %}">
				<dt title="{forumrow.FORUM_FOLDER_IMG_ALT}">
					<!-- IF forumrow.S_UNREAD_FORUM --><a href="{forumrow.U_VIEWFORUM}" class="row-item-link"></a><!-- ENDIF -->
					<div class="list-inner">
						<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED -->
							<!--
								<a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}">
									<i class="icon fa-rss-square fa-fw icon-orange" aria-hidden="true"></i><span class="sr-only">{L_FEED} - {forumrow.FORUM_NAME}</span>
								</a>
							-->
						<!-- ENDIF -->
						<!-- IF forumrow.FORUM_IMAGE -->
							<!-- EVENT forumlist_body_forum_image_before -->
							<a class="forum-image" href="{forumrow.U_VIEWFORUM}"><!-- EVENT forumlist_body_forum_image_prepend -->{forumrow.FORUM_IMAGE}<!-- EVENT forumlist_body_forum_image_append --></a>
							<!-- EVENT forumlist_body_forum_image_after -->
						<!-- ENDIF -->
						<div class="list-inner-container">
							<a href="{forumrow.U_VIEWFORUM}" class="forumtitle" data-id="{forumrow.FORUM_ID}">{forumrow.FORUM_NAME}</a>
							<!-- IF forumrow.FORUM_DESC --><div class="forum-description">{forumrow.FORUM_DESC}</div><!-- ENDIF -->
							{$EXTRA_DESC}
							<!-- IF forumrow.MODERATORS -->
								<div class="forum-moderators"><strong>{forumrow.L_MODERATOR_STR}{L_COLON}</strong> {forumrow.MODERATORS}</div>
							<!-- ENDIF -->
							<!-- IF .forumrow.subforum and forumrow.S_LIST_SUBFORUMS -->
								<div class="subforums-list">
								<!-- EVENT forumlist_body_subforums_before -->
								<strong>{forumrow.L_SUBFORUM_STR}{L_COLON}</strong>
								<ul>
								<!-- BEGIN subforum -->
									<li>
									<!-- EVENT forumlist_body_subforum_link_prepend --><a href="{forumrow.subforum.U_SUBFORUM}" class="subforum<!-- IF forumrow.subforum.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF -->" title="<!-- IF forumrow.subforum.S_UNREAD -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->">
										<i class="icon <!-- IF forumrow.subforum.IS_LINK -->fa-external-link<!-- ELSE -->fa-file-o<!-- ENDIF --> fa-fw <!-- IF forumrow.subforum.S_UNREAD --> icon-red<!-- ENDIF --> icon-md" aria-hidden="true"></i>{forumrow.subforum.SUBFORUM_NAME}</a><!-- IF not forumrow.subforum.S_LAST_ROW --><span>{L_COMMA_SEPARATOR}</span><!-- ENDIF --><!-- EVENT forumlist_body_subforum_link_append -->
									</li>
								<!-- END subforum -->
								</ul>
								<!-- EVENT forumlist_body_subforums_after -->
								</div>
							<!-- ENDIF -->

							<!-- IF not S_IS_BOT -->
							{% if definition.EXTRA_DESC|trim == '' %}
							<div class="responsive-show" style="display: none;">
								<!-- IF forumrow.CLICKS -->
									{L_REDIRECTS}{L_COLON} <strong>{forumrow.CLICKS}</strong>
								<!-- ELSEIF not forumrow.S_IS_LINK and forumrow.TOPICS -->
									{L_TOPICS}{L_COLON} <strong>{forumrow.TOPICS}</strong>
								<!-- ENDIF -->
							</div>
							{% endif %}
							<!-- ENDIF -->
						</div>
					</div>
				</dt>
				<!-- IF forumrow.CLICKS -->
					<dd class="redirect"><span>{L_REDIRECTS}{L_COLON} {forumrow.CLICKS}</span></dd>
				<!-- ELSEIF not forumrow.S_IS_LINK -->
					<!-- IF $STANDARD_FORUMS_LAYOUT != 0 -->
					<dd class="topics">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></dd>
					<dd class="posts">{forumrow.POSTS} <dfn>{L_POSTS}</dfn></dd>
					<!-- ENDIF -->
					<dd class="lastpost">
						<span>
							<!-- IF forumrow.U_UNAPPROVED_TOPICS -->
								<a href="{forumrow.U_UNAPPROVED_TOPICS}" title="{L_TOPICS_UNAPPROVED}" class="forum-mcplink">
									<i class="icon fa-question fa-fw icon-blue" aria-hidden="true"></i><span class="sr-only">{L_TOPICS_UNAPPROVED}</span>
								</a>
							<!-- ELSEIF forumrow.U_UNAPPROVED_POSTS -->
								<a href="{forumrow.U_UNAPPROVED_POSTS}" title="{L_POSTS_UNAPPROVED_FORUM}" class="forum-mcplink">
									<i class="icon fa-question fa-fw icon-blue" aria-hidden="true"></i><span class="sr-only">{L_POSTS_UNAPPROVED_FORUM}</span>
								</a>
							<!-- ENDIF -->

							<!-- IF forumrow.LAST_POST_TIME -->
								<dfn>{L_LAST_POST}</dfn>
								<!-- IF forumrow.S_DISPLAY_SUBJECT -->
									<!-- EVENT forumlist_body_last_post_title_prepend -->
									<a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">{forumrow.LAST_POST_SUBJECT_TRUNCATED}</a> <br />
								<!-- ENDIF -->
									{L_POST_BY_AUTHOR} <!-- EVENT forumlist_body_last_poster_username_prepend -->{forumrow.LAST_POSTER_FULL}<!-- EVENT forumlist_body_last_poster_username_append -->
								<!-- IF not S_IS_BOT -->
									<a href="{forumrow.U_LAST_POST}" title="{L_VIEW_LATEST_POST}">
										<i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{L_VIEW_LATEST_POST}</span>
									</a>
								<!-- ENDIF -->
								<br /><time datetime="{forumrow.LAST_POST_TIME_RFC3339}">{forumrow.LAST_POST_TIME}</time>
							<!-- ELSE -->
							{% if forumrow.U_UNAPPROVED_TOPICS %}
							{{ lang('TOPIC_UNAPPROVED_FORUM', forumrow.TOPICS) }}
							{% else %}
								{{ lang('NO_POSTS') }}
							{% endif %}
							<!-- ENDIF -->
						</span>
					</dd>
				<!-- ELSE -->
					<dd>&nbsp;</dd>
				<!-- ENDIF -->
			</dl>
			<!-- EVENT forumlist_body_forum_row_append -->
		</li>
		<!-- EVENT forumlist_body_forum_row_after -->
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ul>

			</div>
		</div>
	<!-- EVENT forumlist_body_last_row_after -->
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner">
		<strong>{L_NO_FORUMS}</strong>
		</div>
	</div>
<!-- END forumrow -->
