<!-- DEFINE $NAVLINKS -->
	<!-- IF U_MARK_FORUMS -->
		<li class="small-icon icon-mark"><a href="{U_MARK_FORUMS}" accesskey="m" data-ajax="mark_forums_read">{L_MARK_FORUMS_READ}</a></li>
		<!-- DEFINE $NAVLINKS_SHOW_DEFAULT = 1 -->
	<!-- ENDIF -->
<!-- ENDDEFINE -->
<!-- INCLUDE overall_header.html -->

<!-- EVENT index_body_markforums_before -->
<!-- EVENT index_body_markforums_after -->

<!-- IF S_IS_BOT -->
<div class="forabg">
	<div class="forum-description">
		La comunitat de Fansubs.cat és un fòrum d’anime i manga en català. També hi pots parlar de moltes coses més: imatge real, cultura asiàtica, sèries i films, videojocs i tot el que et vingui de gust. Uneix-t’hi, comenta i debat amb altres usuaris amb els mateixos gustos que tu!
	</div>
</div>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<!-- EVENT index_body_forumlist_body_after -->

<!-- EVENT index_body_stat_blocks_before -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<div class="stat-block online-list">
		<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">Usuaris connectats</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
		<p>
			<!-- EVENT index_body_block_online_prepend -->
			{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> 
			<!-- IF U_VIEWONLINE -->
				{LOGGED_IN_USER_LIST}
				<!-- IF LEGEND --><br /><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
			<!-- ENDIF -->
			<!-- EVENT index_body_block_online_append -->
		</p>
	</div>
<!-- ENDIF -->

<!-- EVENT index_body_birthday_block_before -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
	<div class="stat-block birthday-list">
		<h3>{L_BIRTHDAYS}</h3>
		<p>
			<!-- EVENT index_body_block_birthday_prepend -->
			<!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON} <strong><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
			<!-- EVENT index_body_block_birthday_append -->
		</p>
	</div>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
	<div class="stat-block statistics">
		<h3>{L_STATISTICS}</h3>
		<p>
			<!-- EVENT index_body_block_stats_prepend -->
			{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
			<!-- EVENT index_body_block_stats_append -->
		</p>
	</div>
<!-- ENDIF -->

<!-- EVENT index_body_stat_blocks_after -->

<!-- INCLUDE overall_footer.html -->
