#the_page {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#theHeader {
	padding-bottom: 1em;
}

.page-title-block {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	font-size: 1.2em;
	padding: 0.5em 0em 1em 0em;
	text-align: center;
}

.page-title {
	color: #FFF;
	font-size: 2em;
	font-weight: bold;
}

.page-links {
	margin-top: 0.2em;
}
