RewriteEngine on
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403
RewriteRule ^pagina/(.*)(/?)$ index.php?page=$1
RewriteRule ^fansub/(.*)/pagina/(.*)(/?)$ index.php?fansub_id=$1&page=$2
RewriteRule ^fansub/(.*)(/?)$ index.php?fansub_id=$1
RewriteRule ^estat-del-sistema(/?)$ status.php
RewriteRule ^envia-noticies-contacta(/?)$ contact.php
RewriteRule ^arxiu(/?)$ archive.php
RewriteRule ^rss(/?)$ rss.php
RewriteRule ^.*\.inc\.php$ error.php?code=404

#Temporary fixes for LlPnF usage
RewriteRule ^llunaplenanofansub(/?)$ index.php?fansub_id=lluna-plena-no-fansub
RewriteRule ^custom/img/affiliate_banner.png$ style/images/affiliate_banner.png
