RewriteEngine on
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403

#Hide internal files
RewriteCond %{THE_REQUEST} ^(.+)\.php(\?\S*)?\ HTTP/ [NC]
RewriteCond %{REQUEST_URI} !autocomplete\.php
RewriteCond %{REQUEST_URI} !do_get_player_data\.php
RewriteCond %{REQUEST_URI} !error\.php
RewriteCond %{REQUEST_URI} !counter\.php
RewriteCond %{REQUEST_URI} !reader\.php
RewriteCond %{REQUEST_URI} !strip_reader\.php
RewriteCond %{REQUEST_URI} !results\.php
RewriteRule \.php$ - [F]

#OLD REDIRECTS: v2->v5 migration for old 2020 press release images
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$
RewriteRule ^images/portada.png$ https://staticv2.fansubs.cat/various/portada_nota_premsa.png [R=301,L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$
RewriteRule ^images/serie.png$ https://staticv2.fansubs.cat/various/serie_nota_premsa.png [R=301,L]

#OLD REDIRECTS: v3->v5 migration for manga (Piwigo -> Catalogue) - Used by links at Lluna Plena
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^index/category/(.*)-(.*)$ migration.php?migration_type=piwigo&id=$1 [L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^index/category/(.*)$ migration.php?migration_type=piwigo&id=$1 [L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^picture/(.*)/category/(.*)-(.*)$ migration.php?migration_type=piwigo&id=$2 [L]

#OLD REDIRECTS: v4->v4 migration for old Tachiyomi image URLs: Tachiyomi keeps the cover URL in cache.
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^images/manga/(.*)\.jpg$ migration.php?migration_type=tachiyomi_cache&id=$1 [L]

#OLD REDIRECTS: v4->v5 pages were previously divided by type, and about page was moved to a new domain
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^imatgereal.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^imatgerealv2.fansubs.cat$
RewriteRule ^films/?$ / [R=301,L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^imatgereal.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^imatgerealv2.fansubs.cat$
RewriteRule ^series/?$ / [R=301,L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^one-shots/?$ / [R=301,L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^serialitzats/?$ / [R=301,L]
RewriteRule ^qui-som/?$ https://wwwv2.fansubs.cat/qui-som/ [R=301,L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$
RewriteRule ^films/([^/]+)/?$ migration.php?migration_type=v4_slug&id=$1&type=anime [QSA,L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$
RewriteRule ^series/([^/]+)/?$ migration.php?migration_type=v4_slug&id=$1&type=anime [QSA,L]
RewriteCond %{HTTP_HOST} ^imatgereal.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^imatgerealv2.fansubs.cat$
RewriteRule ^films/([^/]+)/?$ migration.php?migration_type=v4_slug&id=$1&type=liveaction [QSA,L]
RewriteCond %{HTTP_HOST} ^imatgereal.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^imatgerealv2.fansubs.cat$
RewriteRule ^series/([^/]+)/?$ migration.php?migration_type=v4_slug&id=$1&type=liveaction [QSA,L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^one-shots/([^/]+)/?$ migration.php?migration_type=v4_slug&id=$1&type=manga [QSA,L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^serialitzats/([^/]+)/?$ migration.php?migration_type=v4_slug&id=$1&type=manga [QSA,L]

#Normal v5 pages
RewriteRule ^preview/([^/]*)\.jpg$ preview_image.php?slug=$1 [L]
RewriteRule ^cerca/?$ search.php [L]
RewriteRule ^cerca/([^/]+)/?$ search.php?query=$1 [B,L]
RewriteRule ^embed/([^/]+)/?$ embed.php?file_id=$1 [L]
RewriteRule ^/?$ index.php [L]

#If it is anything else not treated until now, let's assume it is a series
RewriteRule ^([^.]+)/?$ series.php?slug=$1 [QSA,L]

