RewriteEngine on
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403

#Favicon depending on host
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$
RewriteRule ^favicon\.ico$ images/favicon_anime.ico [L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$
RewriteRule ^favicon\.png$ images/favicon_anime.png [L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^favicon\.ico$ images/favicon_manga.ico [L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^favicon\.png$ images/favicon_manga.png [L]
RewriteCond %{HTTP_HOST} ^accioreal.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^acciorealv2.fansubs.cat$
RewriteRule ^favicon\.ico$ images/favicon_liveaction.ico [L]
RewriteCond %{HTTP_HOST} ^accioreal.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^acciorealv2.fansubs.cat$
RewriteRule ^favicon\.png$ images/favicon_liveaction.png [L]

#Hide internal files
RewriteCond %{THE_REQUEST} ^(.+)\.php(\?\S*)?\ HTTP/ [NC]
RewriteCond %{REQUEST_URI} !do_save_to_my_list\.php
RewriteCond %{REQUEST_URI} !error\.php
RewriteCond %{REQUEST_URI} !counter\.php
RewriteCond %{REQUEST_URI} !reader\.php
RewriteCond %{REQUEST_URI} !strip_reader\.php
RewriteCond %{REQUEST_URI} !results\.php
RewriteRule \.php$ - [F]

#OLD REDIRECTS: v4 pages were divided by type, and about page was moved to a new domain
RewriteRule ^films/?$ / [R=301,L]
RewriteRule ^films/([^/]+)/?$ /$1 [R=301,QSA,L]
RewriteRule ^series/?$ / [R=301,L]
RewriteRule ^series/([^/]+)/?$ /$1 [R=301,QSA,L]
RewriteRule ^one-shots/?$ / [R=301,L]
RewriteRule ^one-shots/([^/]+)/?$ /$1 [R=301,QSA,L]
RewriteRule ^serialitzats/?$ / [R=301,L]
RewriteRule ^serialitzats/([^/]+)/?$ /$1 [R=301,QSA,L]
RewriteRule ^qui-som/?$ https://wwwv2.fansubs.cat/qui-som/ [R=301,L]

#OLD REDIRECTS: v3 migration for manga (Piwigo -> Catalogue) - Used by links at Lluna Plena
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^index/category/(.*)-(.*)$ migration.php?migration_type=piwigo&id=$1 [L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^index/category/(.*)$ migration.php?migration_type=piwigo&id=$1 [L]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^picture/(.*)/category/(.*)-(.*)$ migration.php?migration_type=piwigo&id=$2 [L]

#OLD REDIRECTS: v4 migration for old Tachiyomi image URLs: Tachiyomi keeps the cover URL in cache.
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^images/manga/(.*)\.jpg$ migration.php?migration_type=tachiyomi_cache&id=$1 [L]

#Normal v5 pages
RewriteRule ^preview/([^/]*)\.jpg$ preview_image.php?slug=$1 [L]
RewriteRule ^cerca/?$ search.php [L]
RewriteRule ^cerca/([^/]+)/?$ search.php?query=$1 [L]
RewriteRule ^embed/([^/]+)/?$ embed.php?file_id=$1 [L]
RewriteRule ^/?$ index.php [L]

#Hentai (only anime and manga)
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^hentai/preview/([^/]*)\.jpg$ preview_image.php?hentai=1&slug=$1 [L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^hentai/cerca/?$ search.php?hentai=1 [L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^hentai/cerca/([^/]+)/?$ search.php?hentai=1&query=$1 [L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^hentai/embed/([^/]+)/?$ embed.php?hentai=1&file_id=$1 [L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^hentai/?$ index.php?hentai=1 [L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^hentai/results.php$ results.php?hentai=1 [QSA,L]
RewriteCond %{HTTP_HOST} ^anime.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^animev2.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^manga.fansubs.cat$ [OR]
RewriteCond %{HTTP_HOST} ^mangav2.fansubs.cat$
RewriteRule ^hentai/([^.]+)/?$ series.php?hentai=1&slug=$1 [QSA,L]

#If it was anything else let's assume it was a series
RewriteRule ^([^.]+)/?$ series.php?slug=$1 [QSA,L]

